<!-- Main Body of the component -->
<div class="container-body " style="margin: 0px 16px;">

  <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel===false">
    <div class="container-fluid">
      <ng-container *ngTemplateOutlet="reportMainPage; context: {$implicit: masterData}"></ng-container>
    </div>
  </div>

  <div class="subfolderoverview" *ngIf="showTabPanel===true">
    <div (click)="$event.preventDefault()">

      <tabset #staticTabs>
        <tab heading="Report">
          <ng-template tabHeading #toltemplate>
            <!--place to show controls in tab header-->
          </ng-template>

          <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel">
            <div class="container-fluid">
              <ng-container *ngTemplateOutlet="reportMainPage; context: {$implicit: masterData}"></ng-container>
            </div>
          </div>
        </tab>

        <tab *ngFor="let tab of tabList" [style]="{width:'100%'}" [heading]="tab.title" [active]="tab.active"
          (selectTab)="tab.active = true" (deselect)="tab.active = false" [disabled]="tab.disabled"
          [removable]="tab.removable" (removed)="removeTab(tab)" [customClass]="tab.customClass" [styleClass]="">

          <ng-template tabHeading #toltemplate>
            <!--place to show controls in tab header-->
          </ng-template>

          <div *ngIf="!tab.showReportTable">
            <ng-container *ngTemplateOutlet="overviewTemplate; context: {$implicit: tab.data}"></ng-container>
          </div>
          <div *ngIf="tab.showReportTable">
            <ng-container *ngTemplateOutlet="reportTableTemplate; context: {$implicit: tab.index}"></ng-container>
          </div>

        </tab>
      </tabset>
    </div>
  </div>

</div>

<!-- Report Builder Main Page Templdate-->
<ng-template #reportMainPage let-masterData>
  <div class="col-md-12 p-2 my-1 d-flex align-items-center" *ngIf="!showRootFolders">
    <div class="col-5 p-0 d-flex alig-items-center">
      <span class="double-icon" (click)="mainPageBackStep()"> <i
        class="pi icon-back pi-circle-fill"></i>
      <i class="pi icon-front pi-arrow-left" ></i></span>
      <div class="form">
        <input type="text" [(ngModel)]="searchKey" class="form-control form-input" placeholder="Search File"  (keydown.enter)="search()">
        <img src="./assets/images/clear.png" class="clearicon" *ngIf="searchKey!=''" (click)="searchKey='';search()">
        <span class="left-pan" (click)="search()">
          <img src="./assets/images/searchicon.png" class="ps-2" />
        </span>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-end p-0">
      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button"
          class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
          <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-custom-html">
          <div class="radiobuttons d-flex" *ngFor="let category of categories; let i = index"
            style="gap: 10px; padding: 8px">
            <div class="col-md-10 d-flex justify-content-start">
              <img src="{{category.img}}" width="24" height="24">
              <p>{{ category.name }}</p>
            </div>
            <div class="col-md-1">
              <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key" />
            </div>

          </div>

        </ul>
      </div>
      <button type="button" class="btn btn-outline-primary mx-3" (click)="clear();loadDataList()">
        <img class="button-icon-md" src="./assets/images/refresh-arrow.png" />Reload
      </button>

      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
          aria-controls="dropdown-custom-html">
          <img src="./assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory" role="menu"
          aria-labelledby="button-custom-html">
          <button type="button" (click)="isEdit=false;  addEditReportPopup('open',addEditReportModalTemplate)"
            class="btn dd mx-1 " style="position: relative">
            <span class="button__icon">
              <img src="./assets/images/RB-dropdown.png" />
            </span>
            <p class="mx-3 button__text">New File</p>
          </button>

          <button type="button" (click)="isEdit=false; addEditFolderPopup('open',addEditFolderTemplate)"
            class="btn dd mx-1 " data-bs-toggle="modal" data-bs-target="#staticBackdropFolder"
            style="position: relative;">
            <span class="button__icon">
              <img src="./assets/images/RBF-dd.png" />
            </span>
            <p class="mx-3 button__text">New Folder</p>
          </button>
        </ul>
      </div>



    </div>
  </div>


  <div *ngIf="(dataNotFound() && !this.sharedService.showMainPageLoader)|| this.sharedService.showMainPageLoader"
    class="data-body d-flex justify-content-center align-items-center" style="min-height: 60vh;">
     <div *ngIf="dataNotFound() && !this.sharedService.showMainPageLoader" class="no-records">
       <img src="./assets/images/norecordsfound.png" class="ms-2" width="300" />
         <span *ngIf="searchKey==''">No Data Found!</span>
         <span *ngIf="searchKey==''" class="underline-button" (click)="isEdit=false;  addEditReportPopup('open',addEditReportModalTemplate)">Add New Report</span>
         <span *ngIf="searchKey!=''">Search Not Found!</span>
     </div>
     <app-main-loader *ngIf="this.sharedService.showMainPageLoader"></app-main-loader>
   </div>

  <div *ngIf="(!dataNotFound() || this.sharedService.showMainPageLoader)" class="col-md-12 p-3 d-flex">
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let folder of masterData.directoryList">
      <div class="gohover w-100" *ngIf="!showRootFolders">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"
              (click)="isEdit=true;mapEditDirectory(folder);addEditFolderPopup('open',addEditFolderTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a>
            </li>
            <li role="menuitem"
              (click)="directory.id=folder.id;directory.name=folder.name;selectedDeletePopup='folder'; toggleDeleteModal('open',deleteModalTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onFolderClicked(folder)" style="cursor: pointer;">
        <img src="./assets/images/subfolder.svg" style="width: 70%;" />
        <h6 class="mt-2">{{folder.name}}</h6>
      </div>

    </div>
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let file of masterData.reportList">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="onReportClicked(file,true,true)">
                <img src="./assets/images/viewicon.svg" class="mx-3" width="20" /> Overview</a></li>
            <li role="menuitem"><a class="dropdown-item"
                (click)="isEdit=true;mapReportEditData(file);addEditReportPopup('open',addEditReportModalTemplate)">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="mapReportEditData(file); selectedDeletePopup='report';toggleDeleteModal('open',deleteModalTemplate)">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a></li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onReportClicked(file,true,true)" style="cursor: pointer;">
        <img src="./assets/images/RB-file.png" style="width: 70%;" />
        <h6 class="mt-2">{{file.name}}</h6>
      </div>

    </div>
  </div>
</ng-template>

<!-- Report Builder overview Template-->
<ng-template #overviewTemplate let-reportData>

  <div class="card mb-3">
    <div class="col-sm-12 d-flex">
      <div class="col-sm-6">
        <h5 class="my-2">Overview</h5>
      </div>
      <div class="col-sm-6 py-1 d-flex justify-content-end">
        <button (click)="isEdit=true;mapReportEditData(reportData);addEditReportPopup('open',addEditReportModalTemplate)" type="button"
          class="btn btn-outline-primary mx-3">
          <img class="button-icon-md" src="./assets/images/editdashboard.png" width="20" />Edit
        </button>
        <button (click)="isEdit=true; parameterFilterPopup('open',parameterFilterTemplate)" type="button"
          class="btn btn-outline-primary mx-3">
          <span *ngIf="spinnerComponent==='reportOverviewRun'" class="spinner-border spinner-small"></span>
          <i [hidden]="spinnerComponent==='reportOverviewRun'" class="pi pi-play-circle"  ></i>Run
        </button>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="cardcolumn py-2 mb-2" style="overflow: auto;">
        <div class="d-flex col-12">

        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Name <small>*</small></h5>
              <p class="my-1">{{reportData.name}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Description</h5>
              <p class="my-1">{{reportData.description==''?'NA':reportData.description}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Report Builder</h5>
              <p class="my-1">{{reportData.reportbuilderid.name}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created By</h5>
              <p class="my-1">{{reportData.createdby}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created Date</h5>
              <p class="my-1">{{sharedService.formatDate(reportData.createddate)}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified by</h5>
              <p class="my-1">{{reportData.modifiedby ?? 'NA'}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified date</h5>
              <p class="my-1">{{reportData.modifieddate!=null ?sharedService.formatDate(reportData.modifieddate) :'NA'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- Add Edit Directory/Folder Template -->
<ng-template class=".modal-backdrop" #addEditFolderTemplate>


  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">{{isEdit? 'Edit Folder':'New Folder'}}</h5>
    <button type="button" class="" (click)="addEditFolderPopup('close',addEditFolderTemplate)" aria-label="Close"
      style="border: none;background: none;outline: none;">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3 row">
      <label for="Folder" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="directory.name" type="text" placeholder="Create New Folder" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="directory.description" class="form-control" id="exampleFormControlTextarea1"
          rows="3"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
    (click)="addEditFolderPopup('close',addEditFolderTemplate)">
  <i class="pi pi-times-circle"></i>Close</button>
    <button [disabled]="spinnerComponent==='storeDirectory'" type="button" class="btn btn-primary"
      (click)="storeDirectory()">
      <span *ngIf="spinnerComponent==='storeDirectory'" class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='storeDirectory'" class="pi pi-save mr-2"></i>
      {{isEdit ? 'Save':'Add'}}
    </button>
  </div>
</ng-template>

<!--Add Edit Report Builder File Modal -->
<ng-template class=".modal-backdrop" #addEditReportModalTemplate>

  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
    <button type="button" class="" (click)=" addEditReportPopup('close',addEditReportModalTemplate)" aria-label="Close"
      style="border: none; background: none; outline: none">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="col-md-12">
        <div class="steppercard">
          <div class="stepper-horizontal" id="stepper1">
            <div class="step editing">
              <div class="step-circle"><span>1</span></div>
              <div class="step-title">Basic Details</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>2</span></div>
              <div class="step-title">Manage Fields</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="basicDetails" *ngIf="currentStepperPage=='basic'">

          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name<small>*</small></label>
            <div class="col-sm-10">
              <input [(ngModel)]="report.name" type="text" class="form-control" id="staticEmail">
              <small class="text-danger error" *ngIf="showErrors && report.name==''">Name is
                required</small>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Report Builder<small>*</small></label>
            <div class="col-sm-10">
              <div class="card d-flex justify-content-center">
                <p-dropdown [readonly]="isEdit" class="pl-0" styleClass="w-100" [options]="reportbuilderList"
                  [ngModel]="report.reportbuilderid" optionLabel="name" [filter]="true" filterBy="name"
                  [showClear]="true" placeholder="Select Report Builder" dataKey="id"
                  (onChange)="getReportBuilder($event.value.id,$event.value.name)">
                  <ng-template pTemplate="filter" let-options="options">
                    <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                      <div class="p-inputgroup" (click)="$event.stopPropagation()">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input type="text" pInputText placeholder="Filter" />
                      </div>
                      <button pButton icon="pi pi-times"></button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div> <!-- Assuming you want to display the label -->
                    </div>
                  </ng-template>
                </p-dropdown>
                <small class="text-danger error" *ngIf="showErrors && (report?.reportbuilderid?.name==='')">Report
                  Builder is
                  required</small>
              </div>
            </div>
          </div>


          <div class="mb-3 row">
            <label for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>



        </div>
        <div class="configurations" *ngIf="currentStepperPage=='fields'">
          <div class="card">
            <div class="col-sm-12">
              <p-pickList *ngIf="showAddEditFieldsPickList" sourceHeader="Available Fields"
                targetHeader="Selected Fields" dragdrop="true" [source]="fieldList" [target]="targetFieldList"
                [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
                filterBy="name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                <ng-template let-field pTemplate="item">
                  <div class="field-item">
                    <div class="field-list-detail">
                      <h5 class="mb-2">{{field?.name}}</h5>
                      <i class="pi pi-tag field-category-icon"></i>
                      <span class="field-category">'Alias'-{{field?.alias}}</span>
                    </div>
                    <div class="field-list-action">
                      <!-- <h6 class="mb-2">${{field.price}}</h6> -->
                      <span [class]="'field-badge status-'">{{field?.datatype?.label}}</span>
                    </div>
                  </div>
                </ng-template>
              </p-pickList>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer col-md-12 d-flex justify-content-between ">
    <div class="col-md-2 d-flex justify-content-start  ">
      <button type="button" class="btn btn-secondary" (click)="backStep(1)" *ngIf="currentStepperPage==='fields'">
        <i class="pi pi-chevron-circle-left mr-2"></i>
        Back
      </button>
    </div>
    <div class="col-md-9 d-flex justify-content-end ">

      <button (click)=" addEditReportPopup('close',addEditReportModalTemplate)" type="button"
        class="btn btn-outline-primary mr-2">
        <i class="pi pi-times-circle"></i>
        Close
      </button>
      
      <button [disabled]="spinnerComponent==='reportbasicfieldnext'" type="button" class="btn"
        [ngClass]="isEdit && currentStepperPage==='basic' ?'btn btn-primary':'btn btn-primary'" (click)="nextStep()"
        *ngIf=" currentStepperPage==='basic'">
        <span *ngIf="spinnerComponent==='reportbasicfieldnext'" class="spinner-border spinner-small text-white mr-2"></span>
        <i [hidden]="spinnerComponent==='reportbasicfieldnext'" class="pi pi-chevron-circle-right mr-2"></i>
        Next
      </button>
      <button [disabled]="spinnerComponent==='submitAddEditReport'" type="button" class="btn btn-primary"
        (click)="storeReport()" *ngIf="currentStepperPage==='fields'">
        <span *ngIf="spinnerComponent==='submitAddEditReport'" class="spinner-border spinner-small text-white mr-2"></span>
        <i [hidden]="spinnerComponent==='submitAddEditReport'" class="pi pi-save mr-2"></i>
        {{isEdit ? 'Save':'Submit'}}
      </button>

    </div>

  </div>
</ng-template>

<!--Delete Folder or file Modal-->
<ng-template #deleteModalTemplate >
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation </h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the {{selectedDeletePopup==='folder'? 'directory' :'report'}}
    <strong>{{ selectedDeletePopup==='folder'? directory.name :report.name }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle " ></i> Cancel</button>
    <button [disabled]="spinnerComponent==='deleteReport' ||spinnerComponent==='deleteDirectory' " type="button" class="btn btn-primary"
      (click)="selectedDeletePopup==='folder'? deleteDirectory(): deleteReport()">
      <span *ngIf="spinnerComponent==='deleteReport' ||spinnerComponent==='deleteDirectory' " class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='deleteReport' ||spinnerComponent==='deleteDirectory' " class="pi pi-trash mr-2"></i>Delete</button>
  </div>
</ng-template>

<!--tab confirmation Modal-->
<ng-template #tabConfirmationTemplate>
  <div class="modal-header">
    <h5 class="modal-title">New Tab</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Tab is already exist for this report builder <strong>{{report.name}}</strong>!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle mr-2"></i> Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onReportClicked(tabConfirmationModalRef,true,false)">Open
      Exist Tab</button>
    <button type="button" class="btn btn-primary" (click)="onReportClicked(tabConfirmationModalRef,false,false)">Add New
      Tab</button>
  </div>
</ng-template>

<!-- Popup to show the parameter filters and its controls -->
<ng-template #parameterFilterTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Paramter Filter</h5>
    <button type="button" (click)="parameterFilterPopup('close',parameterFilterTemplate)" class=""
      data-bs-dismiss="modal" aria-label="Close" style="border: none;background: none;outline: none;">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">

    <div class="parameter" *ngFor="let param of parameterList ">

      <div class="mb-3 row" *ngIf="param.datatype==='Datetime'">
        <label for="Folder" class="col-sm-2 col-form-label">{{param.alias!=''?param.alias:param.name}}</label>
        <div class="col-sm-10">
          <div class="row">
            <input type="text" [(ngModel)]="param.datetimeInput" placeholder="Datepicker" class="form-control" style="width: 97%;
      margin-left: 10px;"
              [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
              bsDatepicker>
          </div>
        </div>
      </div>

      <div class="mb-3 row"
        *ngIf="param.datatype=='String' && param.collectionid.id==0">
        <label for="Description" class="col-sm-2 col-form-label">{{param.alias!=''?param.alias:param.name}}</label>
        <div class="col-sm-10">
          <input [(ngModel)]="param.stringInput" class="form-control" type="text"
            [disabled]="param.value!=''">
        </div>
      </div>

      <div class="mb-3 row"
        *ngIf=" param.datatype=='Decimal'">
        <label for="Description" class="col-sm-2 col-form-label">{{param.alias!=''?param.alias:param.name}}</label>
        <div class="col-sm-10">
          <input [(ngModel)]="param.stringInput" class="form-control" type="number"
            [disabled]="param.value!=''">
        </div>
      </div>


      <div class="mb-3 row" *ngIf="param.datatype=='String' && param.collectionid.id!=0">
        <label for="Description" class="col-sm-12 col-form-label">{{param.alias!=''?param.alias:param.name}}</label>
        <div class="col-sm-12">
          <p-pickList sourceHeader="Available" targetHeader="Selected" dragdrop="true" [responsive]="true"
            [source]="param.collectionSource" [target]="param.collectionTarget" [sourceStyle]="{'height':'300px'}"
            [targetStyle]="{'height':'300px'}" filterBy="key" sourceFilterPlaceholder="Search by key"
            targetFilterPlaceholder="Search by key">
            <ng-template let-collection pTemplate="item">
              <div class="collection-item">
                <div class="collection-list-detail">
                  <h5 class="mb-2">{{collection.key}}</h5>
                </div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
      </div>

    </div>

    <div *ngIf="parameterList.length<1"  class="data-body d-flex justify-content-center align-items-center" >
      <div *ngIf="parameterList.length<1" class="no-records">
        <img src="./assets/images/norecordsfound.png" class="ms-2" width="200" />
          <span *ngIf="searchKey==''">No Parameters available!</span>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button (click)="parameterFilterPopup('close',parameterFilterTemplate)" type="button"
      class="btn btn-secondary">Close</button>

      <button [disabled]="spinnerComponent==='reportParameterRun'" (click)="reportTablePage()" type="button"
      class="btn btn-primary mx-3">
      <span *ngIf="spinnerComponent==='reportParameterRun'" class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='reportParameterRun'"  class="pi pi-play-circle text-white mr-2"  ></i>Run
    </button>
  </div>

</ng-template>

<!-- Report table and its controls template -->
<ng-template #reportTableTemplate let-index>
  <div class="card mx-1 my-0 " >
    <div class="col-sm-12 my-2 d-flex justify-content-between align-items-center">
      <div class="col-sm-6  d-flex justify-content-start align-items-center" style="
    gap: 0.5rem">
        <button class="btn">
          <span class="double-icon" placeHolder="Back To OverView" (click)="ReportToOverviewPage()"> <i
              class="pi icon-back pi-circle-fill"></i>
            <i class="pi icon-front pi-arrow-left"></i></span>
        </button>
        <div style="text-align:left">
          <p-multiSelect [options]="tabList[index].tableHeader" [onChange] [(ngModel)]="tabList[index].tableSelectedHeader" optionLabel="name"
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '120px'}"
            defaultLabel="Choose Columns"></p-multiSelect>
        </div>
        <div >
          <Label class="chip-light">{{tabList[index].reportbuilder.reporttype}}</Label>
        </div>
        <div *ngIf="tabList[index].reportbuilder.reporttype==='RealTime' &&tabList[index].timer!=''">
          <Label class="chip-base">{{tabList[index].timer}}</Label>
        </div>
        <div>
        <a class="icon-cover pi " *ngIf="tabList[index].reportbuilder.reporttype==='RealTime'"  [ngClass]="tabList[index].timer==''?'pi-play':'pi-stop-circle'" 
        (click)="realTimeCountdownHandler(index)"  pTooltip="tabList[index].timer==''?'Start':'Stop'" tooltipPosition="bottom"  placeholder="Bottom"></a>
        </div>
      </div>
      <div class="col-sm-6 my-2 d-flex justify-content-end align-items-center" style="
    gap: 0.5rem">
            <a   (click)="refreshReportTableData(index)" class="icon-cover pi pi-refresh"
            pTooltip="Refresh" tooltipPosition="bottom"  placeholder="Bottom"></a>
            <a class="icon-cover pi pi-filter-fill" (click)="parameterFilterPopup('reportopen',parameterFilterTemplate)"
            pTooltip="Parameter Filter" tooltipPosition="bottom"  placeholder="Bottom"></a>
            <a  class="icon-cover pi pi-arrow-down" pTooltip="Download" tooltipPosition="bottom"  placeholder="Bottom"></a>
            <a class="icon-cover pi pi-print" pTooltip="Print" tooltipPosition="bottom"  placeholder="Bottom"></a>

      </div>
    </div>

  </div>
  <div class="my-2">
    <div class="datatable mx-1">
      <p-table [columns]="tabList[index].tableSelectedHeader" [value]="tabList[index].tableRows??[]" [resizableColumns]="true" columnResizeMode="expand"
        [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="reportPageChanged($event)"
        [first]="tabList[index].pagination?.first" [rows]="tabList[index].pagination?.pagesize" [rowsPerPageOptions]="recordsPerPage" >

        <ng-template pTemplate="header" let-columns style="z-index:1">
          <tr>
            <th *ngFor="let col of tabList[index].tableSelectedHeader" pResizableColumn pSortableColumn="{{col.name}}">
              {{col.name}} <p-sortIcon field="name" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData >
          <tr>
            <td *ngFor="let col of tabList[index].tableSelectedHeader" class="ui-resizable-column">
              {{rowData[col.name]}}
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="footer"let-columns>
            <tr>
              <td class="ui-results" >Results:10</td>
            </tr>  
          </ng-template> -->
      </p-table>
      <div class="col-sm-12 px-3 py-2 d-flex justify-content-start  ">
        <div class="status">
          <p>Success <img src="./assets/images/checked.png " width="16"></p>
        </div>
      </div>
    </div>
  </div>
</ng-template>