
  // sets

  $gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
  $gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
  $gl-sm         : "screen and (max-width: 48em)";   // max 768px
  $gl-md         : "screen and (max-width: 64em)";   // max 1024px
  $gl-lg         : "screen and (max-width: 80em)";   // max 1280px
  

:host ::ng-deep .p-tabview-nav-content{
    max-width: 18rem;
  }
  :host ::ng-deep .p-tabview-selected{
    background: yellow;
  }
  
  :host ::ng-deep .p-tabview-nav-link {
    padding: 8px !important;
    color: var(--borderColor);
  }

  :host::ng-deep .p-tabview-nav{
    margin-top: 8px;
    max-width: 10rem;
    border-bottom: 0.5px solid var(--borderColor);
  }


  :host::ng-deep .p-tabview-nav-link,:host::ng-deep .p-tabview-title,:host::ng-deep .p-tabview-nav>li{
    font-size: var(--tabnotactivefontSize) !important;
    text-decoration: none !important;
  }

  :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: var(--primaryColor) !important;
  font-size: var(--tabactivefontSize) !important;
  border-bottom: 2px solid var(--primaryColor) !important;
  }

  :host ::ng-deep .p-tabview .p-tabview-nav{
    gap: 10px;
  }

  .dashboardbtn{
    width: 12rem;
  }

// table style

table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:8px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:40px;
    background:var(--secondaryColor);
    font-size:var(--semiBoldfont);
    color: var(--infoColor);
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


@media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"Code";}
        &:nth-child(2):before { content:"Stock";}
        &:nth-child(3):before { content:"Cap";}
        &:nth-child(4):before { content:"Inch";}
        &:nth-child(5):before { content:"Box Type";}
      }        
    }
  }
}  	



// body style


.form{

    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    left: 15rem;
    bottom: 8px;
    padding: unset;
    border-left: 1px solid #d1d5db;

}

.clearicon{
    position: absolute;
    left: 13rem;
    bottom: 8px;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    text-indent: 6px;
    border-radius: 10px;
    width: 18rem;
}

.form-control:focus,.form-control:active{
  border-color: #019d91;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(171 227 223);
}

:host::ng-deep .p-splitter{
    background: transparent !important;
}

:host ::ng-deep .p-splitter .p-splitter-gutter{
    background: #9daebf !important;
}



:host ::ng-deep {
    [pDraggable] {
        cursor: move;
    }
}

:host::ng-deep button.p-ripple.p-element.p-button.p-component.p-button-lg{
  background: none !important;
  background-color: none !important;
  color: var(--borderColor);
  border: 0px solid !important;
  position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 8px;
    gap: 6px;
}
:host::ng-deep .p-dialog-header-icons{
  display: none !important;
}
.note {
  width: 100%;
  flex-basis: 44vh;
  clear: none;
  /* flex-basis: max-content; */
  margin: 1rem auto;
  }
  .widenote{
    width: 100%;
    flex-basis: 44vh;
    clear: none;
    /* flex-basis: max-content; */
    margin: 1rem auto;
  }
  .parentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
  }

  :host::ng-deep .p-sidebar-header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  :host::ng-deep .p-overlay{
    width: 100% !important;
    bottom: 0 !important;
    top: 30px !important;
  }

  :host::ng-deep .p-multiselect{
    width: 100%;
  }

  :host::ng-deep .p-multiselect-panel .p-multiselect-header .p-checkbox{
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  :host::ng-deep searchicon.p-element.p-icon-wrapper{
    position: relative;
    top: -14px;
  }

  :host::ng-deep .p-multiselect-token{
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    gap: 8px;
  }

  :host::ng-deep .p-multiselect-label{
    display: flex;
  }

  :host::ng-deep .p-element>li{
    padding: 4px 0px !important;
  }

  :host::ng-deep .p-checkbox.p-component{
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  :host::ng-deep timesicon.p-element.p-icon-wrapper{
    position: relative;
    top: -8px;
    left: 4rem;
  }

  :host::ng-deep .p-sidebar-content{
    overflow-x: hidden !important;  
  }

  .buttonsaveCancel{
    display: flex;
    justify-content: flex-end;
    border-top: 0.5px solid var(--borderColor);
    padding: 8px;
    width: 100%;
    margin: 4px auto;
  }
  
  .maximizeMinimize{
    font-size: 1.5rem;
    color: var(--primaryColor);
  }

// $gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
// $gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
// $gl-sm         : "screen and (max-width: 48em)";   // max 768px
// $gl-md         : "screen and (max-width: 64em)";   // max 1024px
// $gl-lg         : "screen and (max-width: 80em)";   // max 1280px

// @media only screen and (min-width: 100px) and (max-width: 360px) {
//   .parentContainer{
// background: black !important;
//   }
// }
// @media screen and (min-width: 361px)  and (max-width: 568px){
//   .parentContainer{
// background: brown !important;
//   }
// }
// @media screen and (min-width: 569px)  and (max-width: 768px){
//   .parentContainer{
// background: green !important;
//   }
// }
// @media screen and (min-width: 769px)  and (max-width: 1024px) {
//   .parentContainer{
// background: yellow !important;
//   }
// }
// @media screen and (min-width: 1025px)  and (max-width: 1280px) {
//   .parentContainer{
// background: blue !important;
//   }
// }
// @media screen and (min-width: 1281x)  and (max-width: 1440px) {
//   .parentContainer{
// background: rgb(170, 170, 201) !important;
//   }
// }
// @media screen and (min-width: 1441px)  and (max-width: 1920px) {
//   .parentContainer{
// background: rgb(255, 196, 0) !important;
//   }
// }



@media #{$gl-ms} {
  .parentContainer{
background: black;
  }
}
@media #{$gl-xs} {
  .parentContainer{
background: brown;
  }
}
@media #{$gl-sm} {
  .parentContainer{
background: green;
  }
}
@media #{$gl-md} {
  .parentContainer{
background: yellow;
  }
}
@media #{$gl-lg} {
  .parentContainer{
background: blue;;
  }
}
