<div class="container-body">

  <div class="userbgdashboard px-3 m-2 pt-2 pb-2">
    <div class="container-fluid mx-auto p-0">
      <div class="col-12 align-items-baseline p-0">
        <div class="col-md-12 p-0">
          <div (click)="$event.preventDefault()">
            <hr />
            <tabset>
              <!-- <ng-template tabHeading="June Month Report"></ng-template> -->
              <tab
                *ngFor="let tabz of tabs"
                [heading]="tabz.title"
                [active]="tabz.active"
                (selectTab)="tabz.active = true"
                (deselect)="tabz.active = false"
                [disabled]="tabz.disabled"
                (removed)="removeTabHandler(tabz)"
                [customClass]="tabz.customClass"
              >
                <ng-template tabHeading #toltemplate>
                  <app-menu-dropdown></app-menu-dropdown>
                </ng-template>

                <div class="card">
                  <div class="col-md-12 p-2 my-1 d-flex align-items-center">
                    <div class="col-7 p-0">

                      <div class="backwithtitle" *ngFor="let folder of foldernames">
                        <i class="pi pi-arrow-left mx-2" style="font-size: 1rem;" (click)="backPage(folder.name)" ></i>
                        <label class="mx-1">Dashboard</label>
                        </div>
                       
                        
               <!--
                <div class="form">
                        <input
                          type="text"
                          class="form-control form-input"
                          placeholder="Search anything..."
                        />
                        <img
                          src="./assets/images/clear.png"
                          class="clearicon"
                        />
                        <span class="left-pan">
                          <img
                            src="./assets/images/searchicon.png"
                            class="ps-2"
                          />
                        </span>
                      </div>
                -->  
                 
                    </div>
                    <div class="col-5 d-flex justify-content-end p-0 align-items-center ">
                      <a  *ngIf="editScreen" (click)="toggleFullscreen()" class="fullscreen btn btn-secondary mx-2 d-flex justify-content-between">
                        <i class="pi pi-window-maximize maximizeMinimize"></i>
                        <p class="mx-2">View Full Screen</p>
                      </a>
                      <button
                        type="button"
                        (click)="editDashboard(foldername)"
                        class="btn btn-secondary dashboardbtn"
                        style="position: relative"
                      >
                        <span class="button__icon">
                          <img
                            src="./assets/images/editdashboard.png"
                            style="width: 1rem"
                          />
                        </span>
                        <p class="ms-2">Edit Dashboard</p>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card splitterCard" *ngIf="!editScreen">
                  <div class="col-md-12 d-flex justify-content-center mb-3">
                  
                    <div
                      class="editDashboard d-grid h-100"
                      (click)="editDashboard(foldername)"
                      style="cursor: pointer"
                    >
                      <img
                        src="./assets/images/penn.png"
                        style="width: 6rem;margin-top: 8vh;"
                        class=""
                      />
                      <h2 class="my-3">No Widgets Add yet</h2>
                      <label style="margin-bottom: 16vh;">Edit Dashboard to get Started</label>
                    </div>
                  </div>
                </div>

                <div class="parentContainer d-flex col-md-12" *ngIf="editScreen" id="parentContainer" #fullscreenDiv>
                  <div class="overalldiv col-md-4 " style="width: 100%;
                  display: flex;
                  flex-direction: column;">
                    <div
                    *ngFor="let widget of widgetsrectangle; index as i;let position = index"
                    appDragDropSwap
                    [elemPosition]="position"
                    [list]="widgets"
                    class="widenote"
                    (returnUpdatedList)="returnUpdatedList($event)"
                  >
                    <div
                      class="widgetadd card"
                      
                      style="cursor: pointer"
                    >
                      <div class="file" *ngIf="!widget.chartConfig" (click)="addwidget(i,widget)">
                        <div class="innercircle">
                          <i
                            class="pi pi-plus"
                            style="
                              color: slateblue;
                              font-size: 1.5rem;
                            "
                          ></i>
                        </div>
                        <p>Add Widget</p>
                      </div>

                     
                        <div class="file chartFile"  *ngIf="widget.chartConfig">
                          <!-- <canvas baseChart
                                   [datasets]="widget.chartConfig.data.datasets"
                                   [labels]="widget.chartConfig.data.labels"
                                   [options]="widget.chartConfig.options"
                                   [type]="widget.chartConfig.type"></canvas> -->
                                   
                      </div>
                    </div>

                  </div>
                  </div>
                  <div class="overalldiv col-md-8 " style="width: 100%;
                  display: flex;
                  flex-direction: column;">
                    <div
                    *ngFor="let widget of widgets; index as i;let position = index"
                    appDragDropSwap
                    [elemPosition]="position"
                    [list]="widgets"
                    class="note"
                    (returnUpdatedList)="returnUpdatedList($event)"
                  >
                    <div
                      class="widgetadd card"
                      style="cursor: pointer"
                    >
                      <div class="file" (click)="addwidget(i,widget)">
                        <div class="appendfile"  *ngIf="!widget.hasConfigured" >
                          <div class="innercircle">
                            <i
                              class="pi pi-plus"
                              style="
                                color: slateblue;
                                font-size: 1.5rem;
                              "
                            ></i>
                            
                          </div>
                          <p>Add Widget</p>
                        </div>
                       
                        <div id="chartdiv" *ngIf="widget" class="w-100"></div>

                        
                      </div>
                      <p-button (click)="showdashboardDialog()" icon="pi pi-eye" size="large" class="btn" label="Preview" *ngIf="widget.hasConfigured===true" />
                        <!-- <button
                        type="button" (click)="showdashboardDialog()" *ngIf="widget.hasConfigured===true"
                        class="viewprofile d-flex p-2 align-items-center"
                      >
                        <i class="pi pi-eye mx-2" style="font-size: 1rem"></i>
                        <p>Preview</p>
                      </button> -->
                    
                        <p-dialog 
                          
                            [modal]="true" 
                            [visible]="visible" 
                            [style]="{ width: '50vw' }" 
                            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
                            [draggable]="false" 
                            [resizable]="false"
                           >
                           <ng-template pTemplate="header">
                            <div class="divheader w-100 d-flex justify-content-between ">
                              <span class="font-semibold text-xl mx-2">Preview</span>
                              <button class="btn mx-2" (click)="visible = false;">
                                <img src="./assets/images/clear.png" width="20" />
                              </button>
                            </div>
                          
                          </ng-template>
                           
                        </p-dialog> 

                      <!-- <div id="chartdiv" ></div>
                        <div class="file"  *ngIf="widget.chartConfig" >
                         <div id="chartdiv" #barchart style="width: 100%; height: 100%;position: absolute;"></div>
                        
                         <div class="typecharts d-flex justify-content-between">
                          <p-button (click)="showdashboardDialog()" label="Show" />
                          <p-dialog 
                              header="Header" 
                              [modal]="true" 
                              [(ngModel)]="visible" 
                              [style]="{ width: '50rem' }" 
                              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
                              [maximizable]="true">
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                  </p>
                          </p-dialog>                             

                         </div>
                      </div> -->
                    </div>

                  </div>
                  </div>
                
                
                  
                </div>

                <div class="card splitterCard d-none" *ngIf="editScreen" >

                  

                  <p-splitter
                    [panelSizes]="[40, 60]"
                    [style]="{
                      height: '100%',
                      paddingBottom: '16px',
                    }"
                    styleClass="mb-5"
                  >

                    <ng-template pTemplate>
                      <div class="col-md-12 pt-3">
                        <div class="d-flex justify-content-center h-100">
                          <div class="col-12 h-100">
                            <div
                              class="widgetadd1 card"
                          
                              style="cursor: pointer"
                            >
                              <div class="file">
                                <i
                                  class="pi pi-eye"
                                  style="color: slateblue; font-size: 1.5rem"
                                ></i>
                                <p style="color: slateblue; font-size: 1.5rem">
                                  Preview
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate>
                      <div
                        class="d-flex align-items-center justify-content-center"
                      >
                        <div
                          class="d-flex align-items-center justify-content-center"
                        >
                          <!-- <div class="col-12">
                                            <div class="widgetadd card"  (click)="filemanagement(foldername)"  style="cursor: pointer;">
                                              <div class="file">
                                                <div class="innercircle">
                                                    <i class="pi pi-plus" style="color: slateblue; font-size: 1.5rem;"></i>
                                                </div>
                                                <p>Add Widget</p>
                                              </div>
                                            </div>
                                  
                                          </div> -->
                          <div class="parentContainer" id="parentContainer" #fullscreenDiv>
                            <div
                              *ngFor="let widget of widgets; index as i;let position = index"
                              appDragDropSwap
                              [elemPosition]="position"
                              [list]="widgets"
                              class="note"
                              (returnUpdatedList)="returnUpdatedList($event)"
                            >
                              <div
                                class="widgetadd card"
                                style="cursor: pointer"
                              >
                                <div class="file" *ngIf="!widget.chartConfig" (click)="addwidget(i,widget)">
                                  <div class="innercircle">
                                    <i
                                      class="pi pi-plus"
                                      style="
                                        color: slateblue;
                                        font-size: 1.5rem;
                                      "
                                    ></i>
                                  </div>
                                  <p>Add Widget</p>
                                </div>

                                <div id="chartdiv" ></div>
                                  <div class="file"  *ngIf="widget.chartConfig && chartsSelected">
                                   <div id="chartdiv" #barchart style="width: 100%; height: 100%;position: absolute;"></div>
                                  
                                   <!-- <div class="typecharts d-flex justify-content-between">
                                    <button type="button">

                                    </button>                              

                                   </div> -->
                                </div>
                              </div>

                            </div>

                            <div
                            *ngFor="let widget of widgetsrectangle; index as i;let position = index"
                            appDragDropSwap
                            [elemPosition]="position"
                            [list]="widgets"
                            class="widenote"
                            (returnUpdatedList)="returnUpdatedList($event)"
                          >
                            <div
                              class="widgetadd card"
                              
                              style="cursor: pointer"
                            >
                              <div class="file" *ngIf="!widget.chartConfig" (click)="addwidget(i,widget)">
                                <div class="innercircle">
                                  <i
                                    class="pi pi-plus"
                                    style="
                                      color: slateblue;
                                      font-size: 1.5rem;
                                    "
                                  ></i>
                                </div>
                                <p>Add Widget</p>
                              </div>

                             
                                <div class="file chartFile"  *ngIf="widget.chartConfig">
                                  <!-- <canvas baseChart
                                           [datasets]="widget.chartConfig.data.datasets"
                                           [labels]="widget.chartConfig.data.labels"
                                           [options]="widget.chartConfig.options"
                                           [type]="widget.chartConfig.type"></canvas> -->
                                           
                              </div>
                            </div>

                          </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-splitter>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
        <div
          class="col-md-1 d-flex justify-content-end p-0"
          style="position: absolute; top: 0; right: 0"
        >
          <button
            #open
            type="button"
            (click)="openModal()"
            class="btn btn-primary primaryanimatebutton"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            style="position: relative"
          >
            <span class="button__icon">
              <img src="./assets/images/addnew.png" />
            </span>
            <p class="mx-3 button__text" style="color: white !important">New</p>
          </button>

          <!-- Modal -->

          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
                  <button
                    type="button"
                    class=""
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    style="border: none; background: none; outline: none"
                  >
                    <img src="./assets/images/popupclose.png" width="30" />
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Create New "
                    />
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    #close
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addNewTab()"
                  >
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--Sidebar right-->
          <div class="card flex justify-content-center">
            <p-sidebar [(visible)]="sidebarVisible" [style]="{ width: '40vw' }">
              <ng-template pTemplate="header">
                <span class="font-semibold text-xl">New Widget</span>
              </ng-template>
              <div class="col-md-12">
                <div class="form p-2">
                  <form>
                    <label class="my-1">Widget Title</label>
                    <input class="form-control my-1" type="text" />
                  </form>
                </div>
                <div class="widgetType my-1 p-2">
                  <label class="my-1">Widget Type</label>
                  <form class="my-1 widgetForm" [formGroup]="typeformGroup">
                    <div
                      class="radiobuttons d-flex"
                      *ngFor="let category of categories; let i = index"
                    >
                      <input
                        type="radio"
                        id="{{ 'radio-' + i }}"
                        name="radioGroup"
                        [value]="category.key"
                        (change)="onRadioChange(category.key)"
                      />
                      <p>{{ category.name }}</p>
                    </div>
                  </form>

                  <!-- <div *ngFor="let category of categories" class="field-checkbox">
                                    <p-radioButton 
                                        [inputId]="category.key"
                                        [name]="selectedCategory" 
                                        [value]="category" 
                                        [(ngModel)]="selectedCategory" />
                                    <label [for]="category.key" class="ml-2">
                                        {{ category.name }}
                                    </label>
                                </div> -->
                </div>

                <!--Metrics-->
                <div class="widgetselectedTypes" *ngIf="metricsSelected">
                  <div class="WidgetFilter my-1 p-2 justify-content-center">
                    <label class="my-1">Filter by</label>
                    <p-multiSelect
                      (onChange)="onChangefilter($event)"
                      [options]="cities"
                      [(ngModel)]="selectedCities"
                      placeholder="Select Filter"
                      optionLabel="name"
                      display="chip"
                      class="form-control"
                      [showClear]="true"
                    />
                  </div>

                  <!-- Queues section -->

                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Queueselected"
                  >
                    <div class="w-100 justify-content-center">
                      <label class="my-1">Filter by Queues</label>
                      <p-multiSelect
                        [options]="cities"
                        [(ngModel)]="selectedQueues"
                        placeholder="Select Queues"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>

                  <!-- Users Section -->

                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Usersselected"
                  >
                    <div class="w-100 justify-content-center" style="gap: 10px">
                      <label class="my-1">Filter by Users </label>

                      <div class="checkboxdiv d-flex">
                        <div
                        class="radiobuttons d-flex"
                        *ngFor="let category of categories; let i = index"
                        style="gap: 10px; padding: 8px"
                      >
                        <input
                          type="checkbox"
                          id="{{ 'radio-' + i }}"
                          name="radioGroup"
                          [value]="category.key"
                          (change)="onRadioChange(category.key)"
                        />
                        <p>{{ category.name }}</p>
                      </div>
                      </div>
                     

                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Users"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>

                  <!-- Wrapup-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Wrapupselected"
                  >
                    <div class="w-100 justify-content-center">
                      <label class="my-1">Filter by Wrapup</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Wrapup"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                  <!--flow-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Flowselected"
                  >
                    <div class="100 justify-content-center">
                      <label class="my-1">Filter by flow</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Flow"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                  <!--outcome-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Outcomeselected"
                  >
                    <div class="100 justify-content-center">
                      <label class="my-1">Filter by outcome</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Outcome"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                </div>
                <!--Charts-->
                <div class="widgetselectedTypes" *ngIf="chartsSelected">
                  <div class="WidgetFilter my-1 p-2 justify-content-center">
                    <label class="my-1">Filter by</label>
                    <p-multiSelect
                      (onChange)="onChangefilter($event)"
                      [options]="cities"
                      [(ngModel)]="selectedCities"
                      placeholder="Select Filter"
                      optionLabel="name"
                      display="chip"
                      class="form-control"
                      [showClear]="true"
                    />
                  </div>

                  <!-- Queues section -->

                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Queueselected"
                  >
                    <div class="w-100 justify-content-center">
                      <label class="my-1">Filter by Queues</label>
                      <p-multiSelect
                        [options]="cities"
                        [(ngModel)]="selectedQueues"
                        placeholder="Select Queues"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>

                  <!-- Users Section -->

                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Usersselected"
                  >
                    <div class="w-100 justify-content-center" style="gap: 10px">
                      <label class="my-1">Filter by Users </label>

                      <div
                        class="radiobuttons d-flex"
                        *ngFor="let category of categories; let i = index"
                        style="gap: 10px; padding: 8px"
                      >
                        <input
                          type="checkbox"
                          id="{{ 'radio-' + i }}"
                          name="radioGroup"
                          [value]="category.key"
                          (change)="onRadioChange(category.key)"
                        />
                        <p>{{ category.name }}</p>
                      </div>

                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Users"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>

                  <!-- Wrapup-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Wrapupselected"
                  >
                    <div class="w-100 justify-content-center">
                      <label class="my-1">Filter by Wrapup</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Wrapup"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                  <!--flow-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Flowselected"
                  >
                    <div class="100 justify-content-center">
                      <label class="my-1">Filter by flow</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Flow"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                  <!--outcome-->
                  <div
                    class="widgetfiltersection my-1 p-2"
                    *ngIf="Outcomeselected"
                  >
                    <div class="100 justify-content-center">
                      <label class="my-1">Filter by outcome</label>
                      <p-multiSelect
                        [options]="cities"
                        placeholder="Select Outcome"
                        optionLabel="name"
                        display="chip"
                        class="form-control"
                        [showClear]="true"
                      />
                    </div>
                  </div>
                </div>
                <!--Text-->
                <div class="widgetselectedTypes" *ngIf="TextSelected">
                  <div class="displayText my-1">
                    <label class="my-1">Display Text</label>
                    <textarea
                      class="form-control"
                      rows="10"
                      cols="10"
                    ></textarea>
                  </div>
                </div>
                <!--WebContent-->
                <div
                  class="widgetselectedTypes"
                  *ngIf="webContentSelected"
                >
                <div class="displayURL">
                  <label class="my-1">EnterURL</label>
                  <input
                    type="url"
                    name="url"
                    id="url"
                    class="form-control"
                    placeholder="https://example.com"
                    pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
                    required
                  />
                </div></div>
            
              </div>
              <div class="buttonsaveCancel">
                <button
                  type="button"
                  class="btn btn-secondary mx-2"
                  (click)="sidebarVisible = false"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="addChart(globalWidgetIdentifier, selectedTypes)"
                >
                  Save
              </button>
              </div>
            </p-sidebar>
         
          </div>

          <!-- <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="tabs = []"
              *ngIf="tabs.length"
            >
              Remove all tabs
            </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
