.profileImage {
  border-radius: 100px;
  height: 40px;
  width: 40px;

  &:hover {
    border: 2px solid var(--borderColor);
  }
}
.profileImage > img {
  width: 100%;
}

.dropprofileImage > img {
  width: 100%;
}

.dropprofileImage {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  border: 2px solid var(--borderColor);
}

.userdetailprofile {
  justify-items: center;
  text-align-last: center;
  align-items: center;
  display: grid;
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: var(--fontFamily);
    }

    li a {
      color: var(--infoColor);
    }

    li a:hover {
      color: var(--primaryColor);
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      right: 28px;
      border-radius: 8px;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid var(--primaryColor);
      transition: all 0.3s ease;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: var(--primaryColor);
  }
}

ul li ul li a {
  transition: all 0.5s ease;
}
