<div class="container-body">

<div class="userbgdashboard px-3 m-2 pt-2 pb-2">
    <div class="container-fluid mx-auto p-0">
      <div class="col-12 align-items-baseline p-0" >
        <div class="col-md-12 p-0">
          <div (click)="$event.preventDefault()">
    
            <hr />
            <tabset>
              <!-- <ng-template tabHeading="June Month Report"></ng-template> -->
             
              <tab
              *ngFor="let tabz of tabs"
              [heading]="tabz.title"
              [active]="tabz.active"
              (selectTab)="tabz.active = false"
              (deselect)="tabz.active = false"
              [disabled]="tabz.disabled"
              (removed)="removeTabHandler(tabz)"
              [customClass]="tabz.customClass"
            >
              <ng-template tabHeading  #toltemplate>
                <app-menu-dropdown></app-menu-dropdown>
              </ng-template>

              <div class="card">
                <p-tabView>
                    <p-tabPanel header="Dashboard">

                      <div class="col-md-12 p-2 my-1 d-flex align-items-center">
                        <div class="col-9 p-0">
                          <div class="form">
                            <input type="text" class="form-control form-input" placeholder="Search anything...">
                            <img src="./assets/images/clear.png" class="clearicon">
                            <span class="left-pan">
                              <img src="./assets/images/searchicon.png" class="ps-2"/>
                            </span>
                          </div>
                        </div>
                        <div class="col-3 d-flex justify-content-end p-0">
                   
                          <button #open type="button" (click)="openModal()" class="btn btn-primary dashboardbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="position: relative;">
                            <span class="button__icon">
                              <img  src="./assets/images/addnew.png" />
                            </span>
                          <p class="ms-3 button__text" style="color: white !important;">New Dashboard</p>
                          </button>
                        </div>
                      </div>
                      <div class="col-12 d-flex bgCard" style="gap: 1rem;" >
                         <div class="dashboardFilecard" *ngFor="let folder of foldername">
                          <div class="file mx-3" (click)="dashboardview(folder.name)" style="cursor: pointer;">
                            <div class="gohover w-100">
                                 <img src="./assets/images/go.svg" width="26" />
                            </div>
                            <img src="./assets/images/subfolder.svg" class="subfolder" />
                            
                            <h5>{{folder.name}}</h5>
                            <button class="btn overviewbtn my-1 d-flex justify-content-center ">
                              <i class="pi pi-eye mx-1" style="font-size: 1rem"></i>
                              <p>Overview</p>
                            
                            </button>
                          </div>
                          
                        </div>
              
                      </div>
                      <!-- <table>
                        <thead>
                          <tr>
                            <th>CODE</th>
                            <th>STOCK</th>
                            <th>CAP</th>
                            <th>INCH</th>
                            <th>BOX TYPE</th>
                          </tr>
                        </thead>
                  
                          <tbody>
                          <tr>
                            <td>CES-9000</td>
                            <td>50mt</td>
                            <td>9mm</td>
                            <td>1/2"</td>
                            <td>Kangal / Coil</td>
                          </tr>
                             <tr>
                            <td>CES-9000</td>
                            <td>50mt</td>
                            <td>9mm</td>
                            <td>1/2"</td>
                            <td>Kangal / Coil</td>
                          </tr>
                             <tr>
                            <td>CES-9000</td>
                            <td>50mt</td>
                            <td>9mm</td>
                            <td>1/2"</td>
                            <td>Kangal / Coil</td>
                          </tr>
                             <tr>
                            <td>CES-9000</td>
                            <td>50mt</td>
                            <td>9mm</td>
                            <td>1/2"</td>
                            <td>Kangal / Coil</td>
                          </tr>
                        </tbody>
                      
                      </table> -->
                        
                    </p-tabPanel>
                    <p-tabPanel header="Dashboard Owner">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                        </p>
                    </p-tabPanel>
                 
                </p-tabView>
            </div>

                <!-- <div class="card">
                  <p-splitter 
                      [panelSizes]="[25, 75]" 
                      [style]="{ height: '300px' }" 
                      styleClass="mb-5">
                          <ng-template pTemplate>
                              <div class="col flex align-items-center justify-content-center">
                                  Panel 1
                              </div>
                          </ng-template>
                          <ng-template pTemplate>
                              <div class="col flex align-items-center justify-content-center">
                                  Panel 2
                              </div>
                          </ng-template>
                  </p-splitter>
              </div> -->
              </tab>
            </tabset>
          </div>
        </div>
        <div class="col-md-1 d-flex justify-content-end p-0" style="position: absolute; top: 0; right: 0;">
      
          <button #open type="button" (click)="openModal()" class="btn btn-primary primaryanimatebutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="position: relative;">
            <span class="button__icon">
              <img  src="./assets/images/addnew.png" />
            </span>
          <p class="mx-3 button__text" style="color: white !important;">New</p>
          </button>
          
          <!-- Modal -->
         
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
                    <button type="button" class="" data-bs-dismiss="modal"  aria-label="Close" style="border: none;background: none;outline: none;">
                      <img src="./assets/images/popupclose.png" width="30" />
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      <input class="form-control" type="text" placeholder="Create New "/>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button #close  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addNewTab()">Create</button>
                  </div>
                </div>
              </div>
            </div>
        
        
          <!-- <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="tabs = []"
            *ngIf="tabs.length"
          >
            Remove all tabs
          </button> -->
        </div>
      </div>
    </div>
  </div>
  </div>