<div class="col-12">
  <div class="card userdetailscard mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="card h-100">
            <div class="card-body p-0 h-100">
              
              <div class="bgProfile h-100">
            
                <div class="bgviewconfig h-100">
                  <div class="col-12 d-flex justify-content-between">
                    <div
                      class="d-flex"
                      width="75"
                      (click)="tabview(0);"
                      [ngClass]="!isButtonRounded ? 'profileimg' : ''"
                      style="cursor: pointer; width: 90%"
                    >
                      <img
                        src="./assets/images/ssoconfig.svg"
                        width="40"
                      />
                      <p class="my-1 mx-3">Users</p>
                    </div>
                  </div>
                  <div class="col-12 my-3 d-flex justify-content-between">
                    <div
                      class="d-flex"
                      width="75"
                      (click)="tabview(1)"
                      [ngClass]="isButtonRounded ? 'profileimg' : ''"
                      style="cursor: pointer; width: 90%"
                    >
                      <img
                        src="./assets/images/smtpConfig.svg"
                        width="40"
                      />
                      <p class="my-1 mx-3">Groups</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 profileColumn" *ngIf="!isButtonRounded">
          <div class="cardcolumnconfig py-2">
            <div class="d-flex col-12 ">
              <div class="col-12 d-flex p-0 mb-1">
                <div class="col-md-3 align-items-center d-flex p-0" >
                 
                    <label class="primarylabel">Users</label>
                 
                </div>
                <div class="col-md-9 d-flex justify-content-end p-0">
                  <div class="form">
                    <input type="text" [(ngModel)]="searchValue" class="form-control form-input" placeholder="Search anything..."  (input)="search(0)">
                    <img src="./assets/images/clear.png" class="clearicon">
                    <span class="left-pan">
                      <img src="./assets/images/searchicon.png" class="ps-2"/>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="container userscont d-flex justify-content-start" style="gap: 8px;">

              <div #openUsers
              (click)="getpermission(item.email)"
              class="btn btn-primary primaryanimatebutton"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropUsers"
              style="position: relative"
              *ngFor="let item of userItems; index as i" [class.active]="i === activeIndex" class="d-flex flex-column h-100 my-2 border py-2 px-2 bg-light customcontainer ">
                <div class="gohover w-100">
                  <img src="./assets/images/go.svg" width="16" />
             </div>
                
                <div class="col-md-12 d-flex align-items-center p-0">
                  <div class="col-md-4 p-0">
                    <img src="'./assets/images/user (1).svg" width="50" >
                  </div>
                  <div class="col-md-8 p-0">
                    <p>{{item.email}}</p>
                  </div>
                </div>
               
              </div>
            </div>
            
           
          </div>
        </div>

        <div class="col-sm-9 OrganizationColumn" *ngIf="isButtonRounded" >
          <div class="cardcolumnconfig py-2">
            <div class="d-flex col-12 mb-1">
              <div class="col-12 d-flex align-items-center ps-0 pe-2">
                <div class="col-md-3 d-flex p-0">
                  <label class="primarylabel">Groups</label>
                </div>
            <div class="col-md-9 d-flex justify-content-end p-0">
              <div class="form">
                <input type="text" [(ngModel)]="searchValue" class="form-control form-input" placeholder="Search anything..." (input)="search(1)">
                <img src="./assets/images/clear.png" class="clearicon">
                <span class="left-pan">
                  <img src="./assets/images/searchicon.png" class="ps-2"/>
                </span>
              </div>
            </div>
              </div>
            </div>
            <div class="container userscont d-flex justify-content-between" style="gap: 8px;">

              <div 
              #openGroups
              (click)="getGroupPermission(item.groupname)"
              class="btn btn-primary primaryanimatebutton"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropGroups"
              style="position: relative"
              *ngFor="let item of groupItems; index as i" [class.active]="i === activeIndex" class="d-flex flex-column h-100 my-2 border py-2 px-2 bg-light customcontainer ">
                <div class="gohover w-100">
                  <img src="./assets/images/go.svg" width="16" />
             </div>
                
                <div class="col-md-12 d-flex align-items-center p-0">
                  <div class="col-md-4 p-0">
                    <img src="'./assets/images/user (1).svg" width="50" >
                  </div>
                  <div class="col-md-8 p-0">
                    <p>{{item.groupname}}</p>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

   <!-- Modal -->

   <div
   class="modal fade"
   id="staticBackdropUsers"
   data-bs-backdrop="static"
   data-bs-keyboard="false"
   tabindex="-1"
   aria-labelledby="staticBackdropLabel"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">User - Permissions</h5>
         <button
           type="button"
           class=""
           data-bs-dismiss="modal"
           aria-label="Close"
           style="border: none; background: none; outline: none"
         >
           <img src="./assets/images/popupclose.png" width="30" />
         </button>
       </div>
       <div class="modal-body">
        <div class="card">
          <p-table 
              [value]="moduleList" 
              
              dataKey="code" 
              [tableStyle]="{'min-width': '50rem'}">
                  <ng-template pTemplate="header">
                      <tr>
                          
                          <th>Modules</th>
                          <th>Add</th>
                          <th>Edit</th>
                          <th>View</th>
                           <th>Delete</th>
                          <th style="width: 4rem"><input type="checkbox" [(ngModel)]="selectAllRow" (change)="toggleSelectAllRow()"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product  let-rowIndex="rowIndex">
                      <tr >
                         <td>{{product.name}}</td>
                         <td><input type="checkbox"  [(ngModel)]="product.add"></td>
                         <td><input type="checkbox"  [(ngModel)]="product.edit"></td>
                         <td><input type="checkbox"  [(ngModel)]="product.view"></td>
                         <td><input type="checkbox"  [(ngModel)]="product.delete"></td>
                         <td><input type="checkbox" [checked]="product.add && product.edit && product.view && product.delete"  
                          (change)="toggleSelectRow($event,rowIndex)"></td>
                      </tr>
                  </ng-template>
          </p-table>
      </div>
       </div>
       <div class="modal-footer">
         <button
           #closeUsers
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal"
         >
           Cancel
         </button>
         <button
         (click)="closeuserModal();isGroupUpdate=true; updatePermission(isGroupUpdate)"
           type="button"
           class="btn btn-primary mx-2"
         >
           Save
         </button>
       </div>
     </div>
   </div>
 </div>

 <div
 class="modal fade"
 id="staticBackdropGroups"
 data-bs-backdrop="static"
 data-bs-keyboard="false"
 tabindex="-1"
 aria-labelledby="staticBackdropLabel"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="staticBackdropLabel">Groups - Permissions</h5>
       <button
         type="button"
         class=""
         data-bs-dismiss="modal"
         aria-label="Close"
         style="border: none; background: none; outline: none"
       >
         <img src="./assets/images/popupclose.png" width="30" />
       </button>
     </div>
     <div class="modal-body">
      <div class="card">
        <p-table 
            [value]="moduleList" 
             
            dataKey="code" 
            [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                  <tr>
                          
                    <th>Modules</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>View</th>
                     <th>Delete</th>
                    <th style="width: 4rem"><input type="checkbox" [(ngModel)]="selectAllRow" (change)="toggleSelectAllRow()"></th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        
                      <td>{{product.name}}</td>
                      <td><input type="checkbox"  [(ngModel)]="product.add"></td>
                      <td><input type="checkbox"  [(ngModel)]="product.edit"></td>
                      <td><input type="checkbox"  [(ngModel)]="product.view"></td>
                      <td><input type="checkbox"  [(ngModel)]="product.delete"></td>
                      <td><input type="checkbox" [checked]="product.add && product.edit && product.view && product.delete"  
                       (change)="toggleSelectRow($event,rowIndex)"></td>
                    </tr>
                </ng-template>
        </p-table>
    </div>
     </div>
     <div class="modal-footer">
       <button
         #closeGroups
         type="button"
         class="btn btn-secondary"
         data-bs-dismiss="modal"
       >
         Cancel
       </button>
       <button
       (click)="isGroupUpdate=false;updatePermission(isGroupUpdate)"
         type="button"
         class="btn btn-primary mx-2"
       >
         Save
       </button>
     </div>
   </div>
 </div>
</div>
