<div class="row navbar" >
    <div class="col-6 d-flex justify-content-start ">
        <div class="logo">
            <a routerLink="/home">
                <img src="./assets/images/SCCA-white-logo.png" width="125" />
            </a>
        </div>
        <div class="allservices" style="z-index: 100 !important;">
            <div class="mx-4 mt-1">
                <app-all-services></app-all-services>
            </div>
            
        </div>
    </div>
    <div class="col-6 d-flex justify-content-end ">
        <div class="help mx-3">
             <app-tool-tip></app-tool-tip>
        </div>
        <div class="language d-flex">
        <img src="./assets/images/language.svg" width="28"/>   
         <app-language></app-language>
        </div>
        <div class="mode mx-3">
            <div>
                <img src="./assets/images/light and dark.svg" (click)="toggleTheme()" class="toggletheme" *ngIf="!isDarkTheme"/>
                <img src="./assets/images/dark.svg" (click)="toggleTheme()" class="toggletheme" *ngIf="isDarkTheme"/>

            </div>
              
        </div>
        <div class="userdetails">
            <app-user-details></app-user-details>
        </div>
    </div>
   
</div>