<div
  class="card d-flex justify-content-center mx-3"
  style="border-color: #019d91 !important; border-radius: 100px !important"
>
  <p-dropdown
    [options]="countries"
    [(ngModel)]="SelectedLanguage"
    optionLabel="name"
    [showClear]="true"
    placeholder="Select a language"
  >
    <ng-template pTemplate="selectedItem">
      <div class="d-flex align-items-center gap-2" *ngIf="SelectedLanguage">
        <img
          src="./assets/images/Flag_of_the_United_Kingdom.png"
          [class]="'flag flag-' + SelectedLanguage.code.toLowerCase()"
          style="width: 18px; height: 18px; margin: 0px 8px 0px 8px"
        />
        <div>{{ SelectedLanguage.name }}</div>
      </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
      <div class="d-flex align-items-center gap-2 p-3">
        <img
          src="./assets/images/Flag_of_the_United_Kingdom.png"
          [class]="'flag flag-' + country.code.toLowerCase()"
          style="width: 18px; height: 18px; margin: 0px 8px 0px 8px"
        />
        <div>{{ country.name }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
