<div class="container-body">
    <div class="userbgdashboard px-3 m-2 pt-2 pb-2">
        <div class="col-md-12 p-2 my-1 d-flex align-items-center">
            <div class="col-5 p-0">
              <div class="form">
                <input type="text" [(ngModel)]="searchValue" class="form-control form-input" placeholder="Search anything..." (input)="search()">
                <img src="./assets/images/clear.png" class="clearicon">
                <span class="left-pan">
                  <img src="./assets/images/searchicon.png" class="ps-2"/>
                </span>
              </div>
            </div>
            <div class="col-7 d-flex justify-content-end p-0">
       <div class="btn-group" dropdown>
  <button id="button-custom-html" dropdownToggle type="button" class="btn btn-outline-primary mx-2 dropdown-toggle"
          aria-controls="dropdown-custom-html">
   <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
  </button>
  
  <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-custom-html">
      <div  
      class="radiobuttons d-flex"
      *ngFor="let category of _sharedService.sortCategoryList; let i = index"
      style="gap: 10px; padding: 8px"
      (click)="this.groupListResponse=_sharedService.sorting(groupListResponse,category.key,category.orderkey)" 
    >
      <div class="col-md-10 d-flex justify-content-start">
        <img src="{{category.img}}" width="24" height="24" >
        <p>{{ category.name }}</p>
      </div>
      <div class="col-md-1">
        <input
        type="radio"
        id="{{ 'radio-' + i }}"
        name="radioGroup"
        [value]="category.key"
        (change)="onRadioChange(category.key)"
        [(ngModel)]="category.key"
        [checked]="category.key===_sharedService.selectedSortType" (change)="onRadioChange(category.key)"
      />
      </div>
    
    </div>
  
  </ul>
  </div>
  <button  type="button" class="btn btn-outline-primary mx-3" (click)="clear()">
  <img src="./assets/images/refresh-arrow.png" />Reload
  </button>
              <!-- <button
              type="button"
              class="btn btn-outline-primary me-3 ms-2"
              style="position: relative"
            >
              <span class="button__icon">
                <img src="./assets/images//syncuserprimary.svg" />
              </span>
              <p class="mx-1 button__text">Sync Users</p>
            </button> -->

            <button
            #open
            type="button"
            (click)="openModal();openAddPopup();isEdit=false"
            class="btn btn-primary primaryanimatebutton"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            style="position: relative"
            
          >
            <span class="button__icon">
              <img src="./assets/images/addnew.png" />
            </span> 
            <p class="mx-3 button__text" style="color: white !important">New</p>
          </button>

          <!-- Modal -->

          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
               <form  [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">{{isEdit? "Edit Group":"Create Group"}}</h5>
                  <button
                    type="button"
                    class=""
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    style="border: none; background: none; outline: none"
                  >
                    <img src="./assets/images/popupclose.png" width="30" />
                  </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">GroupName<small>*</small></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="staticEmail" formControlName="groupname">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Users<small>*</small></label>
                        <div class="col-sm-10">
                          <!-- <div class=""> -->
                            <p-multiSelect
                                  
                                  [options]="Users"
                                  [(ngModel)]="selectedUser"
                                  placeholder="Select Filter"
                                  optionLabel="email"
                                  display="chip"
                                  class="form-control card d-flex justify-content-center"
                                  formControlName="users"
                                  [showClear]="true"
                                />
                                    <!-- <ng-template pTemplate="filter" let-options="options">
                                        <div class="d-flex justify-content-between align-item   s-center p-2 gap-1">
                                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                                <input
                                                    type="text"
                                                    pInputText
                                                    placeholder="Filter"
                                                    [(ngModel)]="filterValue"
                                                    (keyup)="customFilterFunction($event, options)" />
                                            </div>
                                            <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                                        </div>
                                    </ng-template> -->
                                    <!-- <ng-template pTemplate="selectedItem" let-selectedOption>
                                        <div class="d -flex align-items-center gap-2">
                                     
                                            <div>{{ selectedOption.email }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-user pTemplate="item">
                                        <div class="d-flex align-items-center gap-2">
                                         
                                            <div>{{ user.email }}</div>
                                        </div>
                                    </ng-template> -->
                            <!-- </p-dropdown> -->
                            <!-- </div> -->
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
                        </div>
                      </div>
                </div>
                <div class="modal-footer">
                  <button
                    #close
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                  
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    {{isEdit?"Update":"Create"}}
                  </button>
                </div>
              </form>
              </div>
            
            </div>
          </div>
         
  
            </div>
          </div>

          <div class="col-md-12 card">
            <!-- <div class="mb-3">
                <p-iconField iconPosition="left">
                
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($event, 'contains')" placeholder="Keyboard Search" />
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                </p-iconField>
            </div> -->
            <div class="card">
                <p-table
                    [value]="groupListResponse"
                    [paginator]="true"
                    [rows]="5"
                    [first]="first"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    (onPage)="pageChange($event)"
                    [rowsPerPageOptions]="[10, 25, 50]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%">GroupName</th>
                            <th style="width:25%">GroupDescription</th>
                            
                            <th style="width:25%">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-group>
                        <tr>
                            <td>{{ group.groupName }}</td>
                            <td>{{ group.description }}</td>
                           
                            <td>
                                <div class="actions d-flex  align-items-center ">
                                    <button class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="isEdit=true;openEditPopup(group)">
                                        <img src="./assets/images/pen.png">
                                    </button>
                                    <button class="btn " (click)="selectedGroup=group;toggleDeleteModal('open',deleteModalTemplate)">
                                        <img src="./assets/images/trash.png">
                                    </button>
                                    <button class="btn">
                                        <div class="col-md-2 tooltip-container d-flex pe-0 justify-content-center">
                                            <span class="tooltip">Created date : {{_sharedService.formatDate(group.createddate)}}<br>Modified date : {{_sharedService.formatDate(group.lastmodifieddate)}}</span>
                                            <img class="text" src="./assets/images/action info.png" />
                                          </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #deleteModalTemplate let-user>
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure want to delete the Group <strong>{{ selectedGroup.groupName }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary"
                          (click)="toggleDeleteModal('close',deleteModalTemplate)"><i class="pi pi-times-circle"
                            style="margin-right: 5px;"></i> Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="deleteGroups(selectedGroup.groupName);toggleDeleteModal('close',deleteModalTemplate)"><i
                            class="pi pi-trash" style="margin-right: 5px;"></i>Delete</button>
                      </div>
                    </ng-template>
                    <!-- <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
                    </ng-template> -->
                </p-table>
            </div>
    </div>
  
  
    </div>
  </div>