<div class="container-body " style="margin: 0px 16px;">
  <!-- <div class="titleBreadCrumbs px-3 m-2">
      <div class="container-fluid mx-auto">Dashboard</div>
    </div> -->

  <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel===false">
    <div class="container-fluid">
      <ng-container *ngTemplateOutlet="reportbuilderMainPage; context: {$implicit: masterData}"></ng-container>
    </div>


  </div>

  <div class="subfolderoverview" *ngIf="showTabPanel===true">
    <div (click)="$event.preventDefault()">

      <tabset #staticTabs>
        <tab heading="Report Builder">
          <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel">
            <div class="container-fluid">

              <ng-container *ngTemplateOutlet="reportbuilderMainPage; context: {$implicit: masterData}"></ng-container>

            </div>


          </div>
        </tab>

        <tab *ngFor="let tab of tabList" [style]="{width:'100%'}" [heading]="tab.title" [active]="tab.active"
          (selectTab)="tab.active = true"  (deselect)="tab.active = false" [disabled]="tab.disabled"
          [removable]="tab.removable" (removed)="removeTab(tab)" [customClass]="tab.customClass"
          [styleClass]="">

          <ng-template tabHeading #toltemplate>
           <!--place to show controls in tab header-->
          </ng-template>

          <ng-container *ngTemplateOutlet="overviewTemplate; context: {$implicit: tab.data}"></ng-container>
         
        </tab>
      </tabset>
    </div>
  </div>

</div>

<!-- Report Builder Main Page Templdate-->
<ng-template #reportbuilderMainPage let-masterData>
  <div  class="col-md-12 p-2 my-1 d-flex align-items-center" *ngIf="!showRootFolders">
    <div class="col-5 p-0 d-flex alig-items-center">
      <span class="double-icon" (click)="mainPageBackStep()"> <i
        class="pi icon-back pi-circle-fill"></i>
      <i class="pi icon-front pi-arrow-left" ></i></span>
      <div class="form">
        <input type="text" [(ngModel)]="searchKey" class="form-control form-input" placeholder="Search File"  (keydown.enter)="search()">
        <img src="./assets/images/clear.png" class="clearicon" *ngIf="searchKey!=''" (click)="searchKey='';search()">
        <span class="left-pan" (click)="search()">
          <img src="./assets/images/searchicon.png" class="ps-2" />
        </span>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-end p-0">
      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button"
          class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
          <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-custom-html">
          <div class="radiobuttons d-flex" *ngFor="let category of categories; let i = index"
            style="gap: 10px; padding: 8px">
            <div class="col-md-10 d-flex justify-content-start">
              <img src="{{category.img}}" width="24" height="24">
              <p>{{ category.name }}</p>
            </div>
            <div class="col-md-1">
              <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                 />
            </div>

          </div>

        </ul>
      </div>
      <button type="button" class="btn btn-outline-primary mx-3" (click)="clear();loadDataList()">
        <img class="button-icon-md" src="./assets/images/refresh-arrow.png" />Reload
      </button>

      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
          aria-controls="dropdown-custom-html">
          <img src="./assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory" role="menu"
          aria-labelledby="button-custom-html">
          <button #openFile type="button" (click)="isEdit=false;  addEditReportBuilderPopup('open',addEditBuilderModalTemplate)"
            class="btn dd mx-1 " style="position: relative">
            <span class="button__icon">
              <img src="./assets/images/RB-dropdown.png" />
            </span>
            <p class="mx-3 button__text">New File</p>
          </button>

          <button  type="button" (click)="isEdit=false; addEditFolderPopup('open',addEditFolderTemplate)" class="btn dd mx-1 "
            data-bs-toggle="modal" data-bs-target="#staticBackdropFolder" style="position: relative;">
            <span class="button__icon">
              <img src="./assets/images/RBF-dd.png" />
            </span>
            <p class="mx-3 button__text">New Folder</p>
          </button>
        </ul>
      </div>



    </div>
  </div>

  <div *ngIf="(dataNotFound() && !this.sharedService.showMainPageLoader)|| this.sharedService.showMainPageLoader"
    class="data-body d-flex justify-content-center align-items-center" style="min-height: 60vh;">
     <div *ngIf="dataNotFound() && !this.sharedService.showMainPageLoader" class="no-records">
       <img src="./assets/images/norecordsfound.png" class="ms-2" width="300" />
         <span *ngIf="searchKey==''">No Data Found!</span>
         <span *ngIf="searchKey==''" class="underline-button" (click)="isEdit=false;addEditReportBuilderPopup('open',addEditBuilderModalTemplate)">Add New Report Builder</span>
         <span *ngIf="searchKey!=''">Search Not Found!</span>
     </div>
     <app-main-loader *ngIf="this.sharedService.showMainPageLoader"></app-main-loader>
   </div>

  <div class="col-md-12 p-3 d-flex">
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let folder of masterData.directoryList">
      <div class="gohover w-100"  *ngIf="!showRootFolders">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li  role="menuitem" (click)="isEdit=true;mapEditDirectory(folder);addEditFolderPopup('open',addEditFolderTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
            <li role="menuitem"  (click)="directory.id=folder.id;directory.name=folder.name;selectedDeletePopup='folder'; toggleDeleteModal('open',deleteModalTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a></li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onFolderClicked(folder)" style="cursor: pointer;">
        <img src="./assets/images/subfolder.svg" style="width: 70%;" />
        <h6 class="mt-2">{{folder.name}}</h6>
      </div>

    </div>
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let file of masterData.reportBuilderList">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="onReportBuilderClicked(file,true,true)">
                <img src="./assets/images/viewicon.svg" class="mx-3" width="20" /> Overview</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="isEdit=true;mapReportBuilderEditData(file);addEditReportBuilderPopup('open',addEditBuilderModalTemplate)">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="reportbuilder.id=file.id;
            reportbuilder.name=file.name; selectedDeletePopup='reportbuilder';toggleDeleteModal('open',deleteModalTemplate)">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a></li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onReportBuilderClicked(file,true,true)" style="cursor: pointer;">
        <img src="./assets/images/RB-file.png" style="width: 70%;" />
        <h6 class="mt-2">{{file.name}}</h6>
      </div>

    </div>
  </div>
</ng-template>

<!-- Report Builder overview Template-->
<ng-template #overviewTemplate let-reportbuilderData>
   
  <div class="card mb-3">
    <div class="col-sm-12 d-flex">
      <div class="col-sm-6">
      <h5 class="my-2">Overview</h5>
    </div>
    <div class="col-sm-6 py-1 d-flex justify-content-end">
      <button (click)="isEdit=true;mapReportBuilderEditData(reportbuilderData);addEditReportBuilderPopup('open',addEditBuilderModalTemplate)" type="button" class="btn btn-outline-primary mx-3">
        <img class="button-icon-md" src="./assets/images/editdashboard.png" width="20" />Edit
      </button>

    </div>
    </div>
    <div class="col-sm-12">
      <div class="cardcolumn py-2 mb-2" style="overflow: auto;">
        <div class="d-flex col-12">

        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Name <small>*</small></h5>
              <p class="my-1">{{reportbuilderData.name}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Description</h5>
              <p class="my-1">{{reportbuilderData.description}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Report Type</h5>
              <p class="my-1">{{reportbuilderData.reporttype.value}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Query Type</h5>
              <p class="my-1">{{reportbuilderData.querytype.value}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Query</h5>
              <p class="my-1">{{reportbuilderData.query}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created By</h5>
              <p class="my-1">{{reportbuilderData.createdby}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created Date</h5>
              <p class="my-1">{{sharedService.formatDate(reportbuilderData.createddate)}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified by</h5>
              <p class="my-1">{{reportbuilderData.modifiedby ?? 'NA'}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified date</h5>
              <p class="my-1">{{reportbuilderData.modifieddate!=null ?sharedService.formatDate(reportbuilderData.modifieddate) :'NA'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- Add or Edit the folder/Directory Popup -->
<ng-template class=".modal-backdrop" #addEditFolderTemplate>
  

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{isEdit? 'Edit Folder':'New Folder'}}</h5>
        <button type="button" class="" (click)="addEditFolderPopup('close',addEditFolderTemplate)"  aria-label="Close"
          style="border: none;background: none;outline: none;">
          <img src="./assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="Folder" class="col-sm-2 col-form-label">Name:</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="directory.name" type="text"
              placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-2 col-form-label">Description:</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="directory.description" class="form-control"
              id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
          (click)="addEditFolderPopup('close',addEditFolderTemplate)">
        <i class="pi pi-times-circle"></i>Close</button>
        <button [disabled]="spinnerComponent==='storeDirectory'" type="button" class="btn btn-primary"
          (click)="storeDirectory()" >
          <span *ngIf="spinnerComponent==='storeDirectory'" class="spinner-border spinner-small text-white mr-2"></span>
          <i [hidden]="spinnerComponent==='storeDirectory'" class="pi pi-save mr-2"></i>
          {{isEdit ? 'Save':'Add'}}
        </button>
      </div>
</ng-template>

<!--Add Edit Report Builder File Modal -->
<ng-template class=".modal-backdrop" #addEditBuilderModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">{{isEdit?'Edit File : '+reportbuilder.name:'New Report Builder'}}</h5>
    <button type="button" class="" aria-label="Close" style="border: none; background: none; outline: none">
      <img src="./assets/images/popupclose.png" width="30" (click)=" addEditReportBuilderPopup('close',addEditBuilderModalTemplate)" />
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="col-md-12">
        <div class="steppercard">
          <div class="stepper-horizontal" id="stepper1">
            <div #steppers class="step editing">
              <div class="step-circle"><span>1</span></div>
              <div class="step-title">Basic Details</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>2</span></div>
              <div class="step-title">Data Configuration</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>3</span></div>
              <div class="step-title">Input Parameters</div>
              <!-- <div class="step-optional"></div> -->
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>4</span></div>
              <div class="step-title">Output Fields</div>
              <!-- <div class="step-optional">Optional</div> -->
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="basicDetails" *ngIf="currentStepperPage==='basic'">
          <div class="mb-3 row">
            <label for="staticEmail"  class="col-sm-3 col-form-label">Name<small>*</small></label>
            <div class="col-sm-9">
              <input [(ngModel)]="reportbuilder.name" type="text" class="form-control" id="staticEmail">
              <small class="text-danger error" *ngIf="showErrors && reportbuilder.name==''">Name is
                required</small>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="finputPassword" class="col-sm-3 col-form-label">Report
              Type<small>*</small></label>
            <div class="col-sm-9">
              <div class="card d-flex justify-content-center">
                <p-dropdown styleClass="w-100" [options]="reportType" dataKey="value" [(ngModel)]="reportbuilder.reporttype"  optionLabel="label" [filter]="true"
                  filterBy="label" [showClear]="true" placeholder="Select report type" (onChange)="reportbuilder.reporttype=$event.value">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ selectedOption.label }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-reporttype pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ reporttype.label }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <small class="text-danger error" *ngIf="showErrors && (reportbuilder.reporttype.value==''||reportbuilder.reporttype.value===undefined)">Report type is
                  required</small>
              </div>
            </div>
          </div>
          <div class="mb-3 row" *ngIf="reportbuilder.reporttype.value==='RealTime'">
            <label for="staticEmail"  class="col-sm-3 col-form-label">Duration<small>*</small></label>
            <div class="col-sm-9">
              <input placeholder="Milliseconds" [(ngModel)]="reportbuilder.duration" type="number" class="form-control" id="staticEmail">
              <small class="text-danger error" *ngIf="showErrors && reportbuilder.duration==null">Duration is
                required (milliseconds)</small>
            </div>
          </div>
          
          
          <div class="mb-3 row">
            <label for="Description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea [(ngModel)]="reportbuilder.description" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="configurations" *ngIf="currentStepperPage==='config'">
          <div class="col-md-12">
            <div class="mb-3 row">
              <label for="finputPassword" class="col-sm-3 col-form-label">Data Source
                Name<small>*</small></label>
              <div class="col-sm-9">
                <div class="card d-flex justify-content-center">
                    <p-dropdown class="pl-0" styleClass="w-100" [options]="dataSourceList" [(ngModel)]="reportbuilder.datasourceid"
                      optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select datasource"
                      dataKey="id" (onChange)="selectDataSource($event.value.id,$event.value.name)">
            
                      <ng-template pTemplate="filter" let-options="options">
                        <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                          <div class="p-inputgroup" (click)="$event.stopPropagation()">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input type="text" pInputText placeholder="Filter" />
                          </div>
                          <button pButton icon="pi pi-times"></button>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="d-flex align-items-center gap-2">
                          <div>{{ selectedOption.name }}</div> <!-- Assuming you want to display the label -->
                        </div>
                      </ng-template>
                    </p-dropdown>
                    <div class="d-flex" *ngIf="selectedDataSource?.connecteddatasource!=''">
                      <span class="check-icon" *ngIf="selectedDataSource?.connecteddatasource!='none' ">
                        <small class="text-success">Connected to
                          {{selectedDataSource?.connecteddatasource==='primary'?'Primary':'Secondary'}}</small></span>
                      <span *ngIf="selectedDataSource?.connecteddatasource==='none'">
                        <small class="text-danger">Failed to connect Data Source</small>
                      </span>
                    </div>
                  <small class="text-danger error" *ngIf="showErrors && (selectedDataSource?.connecteddatasource==='')">Data source
                    is required</small>
                  <small class="text-danger error" *ngIf="showErrors && (selectedDataSource?.connecteddatasource==='none')">Invalid
                    data source</small>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Query
                Type<small>*</small></label>
              <div class="col-sm-9">
                <div class="card d-flex justify-content-center">
                  <p-dropdown styleClass="w-100" [options]="queryTypes" [(ngModel)]="reportbuilder.querytype" optionLabel="label" [filter]="true" 
                    filterBy="label" [showClear]="true" placeholder="Select query type" dataKey="value" (onChange)="reportbuilder.querytype=$event.value">
                   
                    <ng-template pTemplate="filter" let-options="options">
                      <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                          <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                          <input type="text" pInputText placeholder="Filter"
                            />
                        </div>
                        <button pButton icon="pi pi-times" ></button>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="d-flex align-items-center gap-2" (click)="reportbuilder.querytype=selectedOption.value">
                        <div>{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                      </div>
                    </ng-template>

                  </p-dropdown>
                  <small class="text-danger error" *ngIf="showErrors && (reportbuilder.querytype==''||reportbuilder.querytype===undefined)">Datasource is
                    required</small>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="StoredProcedure" class="col-sm-3 col-form-label">Stored Procedure<small>*</small></label>
              <div class="col-sm-9">
                <textarea [(ngModel)]="reportbuilder.query" class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                <small class="text-danger error" *ngIf="showErrors && reportbuilder.query===''">Stored procedure is
                  required</small>
              </div>

            </div>
          </div>

        </div>
        <div class="inputparams" *ngIf="currentStepperPage==='params'">

          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Datatype</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              
              <tr *ngFor="let parameter of parameterList;index as i ">

                <td>{{parameter.name}}</td>
                <td>{{parameter.alias}}</td>
                <td>{{parameter.datatype}}</td>
                <td>{{ parameter.datatype==='Datetime'?
                'Datetime':
                parameter.collectionid.id!=null? 
               'Coll-'+getParameterCollectionName(parameter.collectionid.id)
                :(parameter.value!=''?parameter.value:'NA')}}</td>
                <td>
                  <button #openinputparam type="button" (click)="selectedParameterIndex=i; parameterPopup('open',parameterModalTemplate)"
                    class="btn mx-1 " style="position: relative;">
                    <span class="button__icon">
                      <img src="./assets/images/pen.png" />
                    </span>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
          <div *ngIf="parameterList.length<1"  class="data-body d-flex justify-content-center align-items-center" >
            <div  class="no-records">
              <img src="./assets/images/norecordsfound.png" class="ms-2" width="200" />
                <span *ngIf="searchKey==''">No Records Found!</span>
            </div>
          </div>
        </div>
        <div class="outputfields" *ngIf="currentStepperPage==='fields'">
          <div class="col-md-12 d-flex justify-content-end pt-2 pb-2">
            <button #openoutputfield type="button" (click)="isFieldEdit=false; customFieldPopup('open',customFieldTemplate,'add')"
              class="btn btn-primary mx-1 primaryanimatebutton" style="position: relative">
              <span class="button__icon">
                <img src="./assets/images/addnew.png" />
              </span>
              <p class="mx-3 button__text" style="color: white !important">New</p>
            </button>

          </div>
          <div class="container row primaryconfig">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Alias</th>
                  <th>Datatype</th>
                  <th>Result</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <!-- <tr>
                  <td>
                    <p>@startDate</p>
                  </td>
                  <td>
                    <p>Start</p>
                  </td>
                  <td>
                    <p>DateTime</p>
                  </td>
                  <td>Value</td>
                  <td>
                    <button #openOutputEditField type="button" (click)="editoutputfieldsModel()" class="btn mx-1 "
                      data-bs-toggle="modal" data-bs-target="#staticBackdropoutputfieldEdit"
                      style="position: relative;">
                      <span class="button__icon">
                        <img src="./assets/images/pen.png" />
                      </span>
                    </button>
                  </td>
                </tr> -->
                <tr *ngFor="let field of fieldList ;index as i">

                  <td>{{field.name}}</td>
                  <td>{{field.alias}}</td>
                  <td>{{field?.datatype?.value}}</td>
                  <td>{{field?.result?.value??''}}</td>
                  <td>
                    <button #openinputparam type="button" (click)="isFieldEdit=true;selectedFieldIndex=i;field.iscustomfield?customFieldPopup('open',customFieldTemplate,'edit'): fieldPopup('open',fieldTemplate)" class="btn mx-1 "
                      style="position: relative;">
                      <span class="button__icon">
                        <img src="./assets/images/pen.png" />
                      </span>
                    </button>
                  </td>
                </tr>

              </tbody>

            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer col-md-12 d-flex justify-content-between ">
    <div class="col-md-2 d-flex justify-content-start  ">
      <button type="button" class="btn btn-secondary" (click)="backStep(1)" *ngIf="currentStepperPage!='basic'">
        <i class="pi pi-chevron-circle-left mr-2"></i>
        Back
      </button>
    </div>
    <div class="col-md-9 d-flex justify-content-end ">


      <button (click)="  addEditReportBuilderPopup('close',addEditBuilderModalTemplate)" type="button"
        class="btn btn-outline-primary mr-2">
        <i class="pi pi-times-circle"></i>
        Close
      </button>
      
      <button [disabled]="spinnerComponent==='confignext'|| spinnerComponent==='basicnext' || spinnerComponent==='paramsnext' " type="button" class="btn"
        [ngClass]="isEdit && currentStepperPage==='basic' ?'btn btn-primary':'btn btn-primary'" (click)="nextStep()"
        *ngIf=" currentStepperPage!='fields'">
        <span *ngIf="spinnerComponent==='confignext' || spinnerComponent==='basicnext' || spinnerComponent==='paramsnext'" class="spinner-border spinner-small text-white mr-2"></span>
        <i [hidden]="spinnerComponent==='confignext' || spinnerComponent==='basicnext' || spinnerComponent==='paramsnext'" class="pi pi-chevron-circle-right mr-2"></i>
        Next
      </button>
      <button [disabled]="spinnerComponent==='submitAddEditReportBuilder'" type="button" class="btn btn-primary"
        (click)="storeReportBuilder()" *ngIf="currentStepperPage==='fields'">
        <span *ngIf="spinnerComponent==='submitAddEditReportBuilder'" class="spinner-border spinner-small text-white mr-2"></span>
        <i [hidden]="spinnerComponent==='submitAddEditReportBuilder'" class="pi pi-save mr-2"></i>
        {{isEdit ? 'Save':'Submit'}}
      </button>


    </div>

  </div>
</ng-template>

<!--Delete Folder or file Modal-->
<ng-template #deleteModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation </h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the {{selectedDeletePopup==='folder'? 'directory' :'reportbuilder'}} 
    <strong>{{ selectedDeletePopup==='folder'? directory.name :reportbuilder.name }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle " ></i> Cancel</button>
    <button [disabled]="spinnerComponent==='deleteReportBuilder' ||spinnerComponent==='deleteDirectory'  " type="button" class="btn btn-primary"
      (click)="selectedDeletePopup==='folder'? deleteDirectory(): deleteReportBuilder()">
      <span *ngIf="spinnerComponent==='deleteReportBuilder' || spinnerComponent==='deleteDirectory' " class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='deleteReportBuilder' ||spinnerComponent==='deleteDirectory' " class="pi pi-trash mr-2"></i>Delete</button>
  </div>
</ng-template>

<!--input field param-->
<ng-template  #parameterModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Edit Parameter : {{parameter.name}}</h5>
    <button type="button" cl aria-label="Close" (click)="parameterPopup('close',parameterModalTemplate)"
      style="border: none;background: none;outline: none;">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">


    <div class="mb-3 row">
      <label for="Folder" class="col-sm-2 col-form-label">Alias</label>
      <div class="col-sm-10">
        <input [(ngModel)]="parameter.alias"  class="form-control"  type="text" placeholder="alias" />
      </div>
    </div>
     <div class="mb-3 row"  *ngIf="parameter.datatype==='String'">
      <label for="Folder" class="col-sm-2 col-form-label">Collection</label>
      <div class="col-sm-10">
        <p-dropdown class="pl-0"  styleClass="w-100" [options]="collectionList" [ngModel]="parameter.collectionid" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select collection" dataKey="id" (onChange)="parameter.value='';parameter.collectionid=$event.value">
                   
                    <ng-template pTemplate="filter" let-options="options">
                      <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                          <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                          <input type="text" pInputText placeholder="Filter"
                            />
                        </div>
                        <button pButton icon="pi pi-times" ></button>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption  >
                      <div class="d-flex align-items-center gap-2" >
                        <div >{{ selectedOption.name }}</div> <!-- Assuming you want to display the label -->
                      </div>
                    </ng-template>
                  </p-dropdown>

      </div>
    </div>
    <div class="mb-3 row" *ngIf="parameter.datatype==='String'">
      <label for="Description" class="col-sm-2 col-form-label">Direct Value</label>
      <div class="col-sm-10">
        <textarea  [(ngModel)]="parameter.value"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="mb-3 row">

      <label for="checkbox-two" class="col-sm-2 col-form-label">Allow Null</label>
      <div class="col-sm-10 d-flex align-items-center">
        <input [checked]="parameter.allownull" [(ngModel)]="parameter.allownull" type="checkbox" id="checkbox-two" name="switch-one" value="no" class="mx-2" />
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button #closeinputparam type="button" class="btn btn-secondary" 
       aria-label="Close" (click)="parameterPopup('close',parameterModalTemplate)">Close</button>
    <button type="button"  aria-label="Close" class="btn btn-primary"
      (click)="storeParameter()">save</button>
  </div>
</ng-template>

<!-- Add new custom field -->
<ng-template #customFieldTemplate>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{isFieldEdit?'Edit Custom Field : '+field.name:'New Custom Field'}}</h5>
        <button type="button" class="" (click)="customFieldPopup('close',customFieldTemplate,'edit')"  aria-label="Close"
          style="border: none;background: none;outline: none;">
          <img src="./assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">

        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="field.name" type="text" />
          </div>
        </div>

        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Alias</label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="field.alias" type="text" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">DataType</label>
          <div class="col-sm-9">
            <div class="card d-flex justify-content-center">
              <p-dropdown styleClass="w-100" [options]="reportbuilderFieldDataTypes" [(ngModel)]="field.datatype" optionLabel="label" [filter]="true"
                filterBy="label" [showClear]="true" placeholder="Select Data Type" (onChange)="field.datatype=$event.value" >
                
                <ng-template pTemplate="filter" let-options="options">
                  <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                    <div class="p-inputgroup" (click)="$event.stopPropagation()">
                      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                      <input type="text" pInputText placeholder="Filter"
                        />
                    </div>
                    <button pButton icon="pi pi-times" ></button>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="d-flex align-items-center gap-2" >
                    <div>{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Value Formula</label>
          <div class="col-sm-9">
            <textarea [(ngModel)]="field.customfieldformula" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button class="btn btn-secondary testConn" >
              <label for="inputPassword" class="col-form-label">Validation</label>
            </button>
            <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <img src="./assets/images/x-button.png" class="d-none">
            <img src="./assets/images/checked.png" class="d-none  ">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Result</label>
          <div class="col-sm-9">
            <div class="card d-flex justify-content-center">
              <p-dropdown styleClass="w-100" [options]="reportbuilderFieldResult" [(ngModel)]="field.result" optionLabel="label" [filter]="true"
                filterBy="label" [showClear]="true" placeholder="Select result" dataKey="value" (onChange)="onChangingFieldResult($event.value)">
                <ng-template pTemplate="filter" let-options="options">
                  <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                    <div class="p-inputgroup" (click)="$event.stopPropagation()">
                      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                      <input type="text" pInputText placeholder="Filter"
                        />
                    </div>
                    <button pButton icon="pi pi-times" ></button>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption  >
                  <div class="d-flex align-items-center gap-2" >
                    <div >{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="mb-3 row" *ngIf="field.iscustomresult">
          <label for="Folder" class="col-sm-3 col-form-label">Custom Result</label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="field.resultformula" type="text"  />
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button #closeoutputfield type="button" class="btn btn-secondary" (click)="customFieldPopup('close',customFieldTemplate,'edit')">Close</button>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary"
          (click)="storeCustomField(isFieldEdit?'edit':'add')">save</button>
      </div>
</ng-template>

<!-- Edit Field -->
<ng-template #fieldTemplate>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Field : {{field.name}}</h5>
        <button type="button" class="" (click)="fieldPopup('close',fieldTemplate)" aria-label="Close"
          style="border: none;background: none;outline: none;">
          <img src="./assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">

        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Alias</label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="field.alias" type="text"  />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Result</label>
          <div class="col-sm-9">
            <div class="card d-flex justify-content-center">
              <p-dropdown styleClass="w-100" [options]="reportbuilderFieldResult" [(ngModel)]="field.result" optionLabel="label" [filter]="true"
                filterBy="label" [showClear]="true" placeholder="Select result" dataKey="value" (onChange)="onChangingFieldResult($event.value)">
                <ng-template pTemplate="filter" let-options="options">
                  <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                    <div class="p-inputgroup" (click)="$event.stopPropagation()">
                      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                      <input type="text" pInputText placeholder="Filter"
                        />
                    </div>
                    <button pButton icon="pi pi-times" ></button>
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption  >
                  <div class="d-flex align-items-center gap-2" >
                    <div >{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="mb-3 row" *ngIf="field.iscustomresult">
          <label for="Folder" class="col-sm-3 col-form-label">Custom Result</label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="field.resultformula" type="text"  />
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button #openOutputEditField type="button" class="btn btn-secondary"
         (click)="fieldPopup('close',fieldTemplate)" >Close</button>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary"
          (click)="storeField()">save</button>
      </div>
</ng-template>

<!--tab confirmation Modal-->
<ng-template #tabConfirmationTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Tab Confirmation</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Tab is already exist for this report builder <strong>{{reportbuilder.name}}</strong>!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)" ><i
        class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onReportBuilderClicked(tabConfirmationModalRef,true,false)">Open Exist Tab</button>
        <button type="button" class="btn btn-primary" (click)="onReportBuilderClicked(tabConfirmationModalRef,false,false)">Add New Tab</button>
  </div>
</ng-template>