<div class="container-body">
  <div class="userbgdashboard px-3 m-2 pt-2 pb-2">
    <div class="col-md-12 p-2 my-1 d-flex align-items-center">
      <div class="col-5 p-0">
        <div class="form">
          <input type="text" [(ngModel)]="searchValue" class="form-control form-input" placeholder="Search anything..." (input)="search()">
          <img src="./assets/images/clear.png" class="clearicon">
          <span class="left-pan">
            <img src="./assets/images/searchicon.png" class="ps-2" />
          </span>
        </div>
      </div>
      <div class="col-7 d-flex justify-content-end p-0">
        <div class="btn-group" dropdown>
          <button id="button-custom-html" dropdownToggle type="button"
            class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
            <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
          </button>

          <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-custom-html">
            <div class="radiobuttons d-flex" *ngFor="let category of _sharedService.sortCategoryList; let i = index"
            (click)="this.userList=_sharedService.sorting(userList,category.key,category.orderkey)" style="gap: 10px; padding: 8px">
              <div class="col-md-10 d-flex justify-content-start">
                <img src="{{category.img}}" width="24" height="24">
                <p>{{ category.name }}</p>
              </div>
              <div class="col-md-1">
                <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key" [(ngModel)]="category.key"
                [checked]="category.key===_sharedService.selectedSortType" (change)="onRadioChange(category.key)" />
              </div>

            </div>

          </ul>
        </div>
        <button type="button" class="btn btn-outline-primary mx-3" (click)="clear()">
          <img class="button-icon-md" src="./assets/images/refresh-arrow.png" />Reload
        </button>
        <button type="button" class="btn btn-outline-primary me-3 ms-2" style="position: relative">
          <span class="button__icon">
            <img src="./assets/images//syncuserprimary.svg" />
          </span>
          <p class="mx-1 button__text">Sync Users</p>
        </button>

        <button #open type="button" class="btn btn-primary mx-1 primaryanimatebutton" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop" style="position: relative" (click)="isEdit = false; openAddPopup()">
          <span class="button__icon">
            <img src="./assets/images/addnew.png" />
          </span>
          <p class="mx-3 button__text" style="color: white !important" >New</p>
        </button>
        <!-- Modal -->

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdrop" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{isEdit ? 'Edit Users' :'Add New Users'}}</h5>
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close"
                  style="border: none;background: none;outline: none;">
                  <img src="./assets/images/popupclose.png" width="30" />
                </button>
              </div>
              <form action="" [formGroup]="usersForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">

                  <div class="mb-3 row" *ngIf="!isEdit">
                    <label for="Folder" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Username" formControlName="username" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="Folder" class="col-sm-2 col-form-label">Firstname:</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Firstname" formControlName="firstname" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="Folder" class="col-sm-2 col-form-label">Lastname:</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Lastname" formControlName="lastname" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="Folder" class="col-sm-2 col-form-label">Phonenumber:</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Phonenumber" formControlName="phonenumber" />
                    </div>
                  </div>
                  <div class="mb-3 row" *ngIf="!isEdit">
                    <label for="Folder" class="col-sm-2 col-form-label">TemporaryPassword:</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="password" placeholder="Password"
                        formControlName="temporarypassword" />
                    </div>
                  </div>


                </div>
                <div class="modal-footer">
                  <button data-bs-dismiss="modal" type="button" class="btn btn-secondary"
                    (click)="closeFolderModal()">Close</button>
                  <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">{{isEdit ? 'Save' :'Create'}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12 card">
      <!-- <div class="mb-3">
                <p-iconField iconPosition="left">
                
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($event, 'contains')" placeholder="Keyboard Search" />
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                </p-iconField>
            </div> -->
      <div class="card">
        <p-table [value]="userList" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="pageChange($event)"
          [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:25%">Email</th>
              <th style="width:25%">Firstname</th>
              <th style="width:25%">Lastname</th>
              <th style="width:25%">Phonenumber</th>
              <th style="width:25%">Status</th>
              <th style="width:25%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.email }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.phonenumber }}</td>
              <td>
                <div class="card d-flex justify-content-center align-items-center ">
                  <p-inputSwitch [(ngModel)]="user.status"(onChange)="enableOrDisableUser($event,user.email)" />
                </div>
              </td>
              <td>
                <div class="px-1 py-1 d-flex justify-content-between align-items-center">
                  
                 <button class=" btn " (click)="isEdit=true;openEditPopup(user)"  data-bs-toggle="modal"
                 data-bs-target="#staticBackdrop">
                    <img src="./assets/images/pen.png">
                  </button>
                  <button class=" btn " (click)="selectedUser=user;toggleDeleteModal('open',deleteModalTemplate)">
                    <img src="./assets/images/trash.png">
                  </button>
                </div>
                
              </td>
            </tr>
          </ng-template>

          <ng-template #deleteModalTemplate let-user>
            <div class="modal-header">
              <h5 class="modal-title">Delete Confirmation</h5>
              <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure want to delete the user <strong>{{ selectedUser.email }}</strong>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary"
                (click)="toggleDeleteModal('close',deleteModalTemplate)"><i class="pi pi-times-circle"
                  style="margin-right: 5px;"></i> Cancel</button>
              <button type="button" class="btn btn-primary" (click)="deleteUsers(selectedUser.email)"><i
                  class="pi pi-trash" style="margin-right: 5px;"></i>Delete</button>
            </div>
          </ng-template>
          <!-- <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
                    </ng-template> -->
        </p-table>
      </div>
    </div>


  </div>
</div>