h4{
  font-size: clamp(18px, 16px + 5px, 22px);
}

.menu {
  // define the height of the menu
  --menu-height: 40px;
  // holder and ul general style
  box-sizing: border-box;
  ul {
    list-style: none;
    padding: unset;
    margin: 0;
    li,
    li a {
      opacity: 0.8;
      color: var(--primaryColor);
      cursor: pointer;
      transition: 20ms;
      text-decoration: none;
      white-space: nowrap;
      font-weight: 400;
      &:hover {
        opacity: 1;
        border-color: 1px solid var(--primaryColor);
      }
      a {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
    // lets put an arrow down
    // to the li`s with dropdown
    li {
      padding-right: 36px;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--primaryColor);
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .link {
      // links dont need arrow
      &::before {
        padding-right: 0;
        display: none;
      }
    }
  }
  // the first ul inside the container
  // is the menu, so must be visible
  // and have its own style
  > ul {
    display: flex;
    height: var(--menu-height);
    align-items: center;
    background-color: var(--lightTheme);
    border-radius: 100px;
    // the first ul elements can be a
    // link or an li with a nested ul.
    // the nested ul will be a dropdown
    li {
      position: relative;
      margin: 16px;
      // the dropdown style
      ul {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        min-width: 160px;
        border-radius: 8px;
        background-color: var(--lightTheme);
        position: absolute;
        top: calc(var(--menu-height) - 5px);
        left: 50%;
        transform: translateX(-33%);
        transition: 20ms;
        transition-delay: 20ms;
        // the dropdown items style
        li {
          margin: 0;
          padding: 8px 16px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 350px;
          padding-right: 40px;
          // lets put an arrow right
          // to the inner li`s with
          // dropdowns
          &::before {
            width: 0;
            height: 0;
            margin-right: 16px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid var(--infoColor);
          }
          &:nth-child(3)::before {
            display: none;
          }
          &:nth-child(4)::before {
            display: none;
          }
          &:nth-child(6)::before {
            display: none;
          }
          &:nth-child(7)::before {
            display: none;
          }
          &:nth-child(8)::before {
            display: none;
          }
          &:nth-child(9)::before {
            display: none;
          }
          // every dropdown after the
          // first must open to the right
          ul {
            top: 0%;
            position: fixed;
            left: 95%;
            transform: translate(0);
            width: 550px;
            height: 518px;
            border-radius: 0px 8px 8px 0px;
            background: var(--optionalColor);
          }
          &:hover {
            background-color: var(--4EBBB2);
          }
          &:focus {
            background-color: var(--secondaryColor);
          }
        }
      }
      // on hover an li (not an <a>)
      // must show its ul (dropdown)
      &:hover {
        > ul {
          opacity: 1;
          visibility: visible;
          transition-delay: 0ms;
          width: 350px;

          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }
  }
}

.f-file{
  background: transparent;
  position: relative;
  border-radius: 16px;
  &:hover{
    position: relative;
    background: white;
    border-radius: 16px;
  }
}

.gohover{
  width: 100%;
  position: absolute  ;
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
}

.gohover>img{
  position: unset;
  top: -4em;
  right: 1em;
}

.f-file > .gohover{
  display: none;
  position: absolute;
    top: 6px;
    right: 4px;
}

.f-file:hover> .gohover{
  display: flex;
}

