body {
    margin: 0;
    padding: 0;
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .obj {
    width: 6px;
    height: 0px;
    background: var(--primaryColor);
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 1.2s infinite;
  }
  
  .obj:nth-child(2){
    animation-delay: 0.15s;
  }
  .obj:nth-child(3){
    animation-delay: 0.3s;
  }
  .obj:nth-child(4){
    animation-delay: 0.45s;
  }
  .obj:nth-child(5){
    animation-delay: 0.6s;
  }
  .obj:nth-child(6){
    animation-delay: 0.75s;
  }
  .obj:nth-child(7){
    animation-delay: 0.9s;
  }
  .obj:nth-child(8){
    animation-delay: 1.05s;
  }
  
  @keyframes loading {
    0% {
      height: 0;
    }
    50% {
      height: 50px;
    }
    100% {
      height: 0;
    }
  }