<div class="col-12">
    <div class="card userdetailscard mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="card h-100">
              <div class="card-body p-0 h-100">
                
                <div class="bgProfile h-100">
              
                  <div class="bgviewconfig h-100">
                    <div class="col-12 d-flex justify-content-between">
                      <div
                        class="d-flex"
                        width="75"
                        (click)="tabview(0)"
                        [ngClass]="!isButtonRounded ? 'profileimg' : ''"
                        style="cursor: pointer; width: 90%"
                      >
                        <img
                          src="./assets/images/ssoconfig.svg"
                          width="40"
                        />
                        <p class="my-1 mx-3">SSO</p>
                      </div>
                    </div>
                    <div class="col-12 my-3 d-flex justify-content-between">
                      <div
                        class="d-flex"
                        width="75"
                        (click)="tabview(1)"
                        [ngClass]="isButtonRounded ? 'profileimg' : ''"
                        style="cursor: pointer; width: 90%"
                      >
                        <img
                          src="./assets/images/smtpConfig.svg"
                          width="40"
                        />
                        <p class="my-1 mx-3">SMTP</p>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9 profileColumn" *ngIf="!isButtonRounded">
            <div class="cardcolumnconfig py-2">
              <div class="d-flex col-12">
                <div class="col-12 d-flex p-0">
                  <div class="col-md-5 d-flex p-0">
                   
                      <label class="primarylabel">SSO Configuration</label>
                   
                  </div>
                  <div class="col-md-7"></div>
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 px-3 py-2">
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/IdentityProvider.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Identity Provider <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/IdentityProvider.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Authentication <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/usershield.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Client Id <small>*</small></h5>
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/unlock.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Client Secret <small>*</small></h5>
                        <textarea class="form-control"  rows="3"></textarea>
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/linkicon.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Redirect URI <small>*</small></h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/linkicon.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Logout URI <small>*</small></h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12  ">
                    <div class="buttonsaveCancel mb-3 w-100 d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn btn-secondary mx-2"
                       
                        >
                          Cancel
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary mx-2"
                         
                        >
                          Save
                      </button>
                      </div>
                </div>
              </div>
             
            </div>
          </div>
  
          <div class="col-sm-9 OrganizationColumn" *ngIf="isButtonRounded">
            <div class="cardcolumnconfig py-2">
              <div class="d-flex col-12">
                <div class="col-12 d-flex align-items-center ps-0 pe-4">
                  <div class="col-md-3 d-flex p-0">
                    <label class="primarylabel">SMTP Configuration</label>
                  </div>
              
                  <!-- 
                              <div class="card d-flex justify-content-center">
                                  <p-button (click)="showDialog()" label="Show" />
                                  <p-dialog 
                                      header="Header" 
                                      [modal]="true" 
                                      [(visible)]="visible" 
                                      [style]="{ width: '50rem' }" 
                                      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
                                      [maximizable]="true">
                                          <p>
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                          </p>
                                  </p-dialog>
                              </div> -->
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 px-3 py-2">
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/IdentityProvider.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Security <small>*</small></h5>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">SSO</option>
                            <option value="2">SMTP</option>
                          </select>
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/host.png" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Host <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/host.png" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Port Number <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/name profile.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Username <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/IdentityProvider.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Password <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/iconsendername.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Sendername <small>*</small></h5>
                        <input type="text" placeholder="name" class="form-control" >
                      </div>
                      
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/mailopen.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Sender Email <small>*</small></h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      
                    </div>
                    <div class="card my-3 d-flex flex-row ">
                        <div
                        class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                        style="width: 5%"
                      >
                        <img src="./assets/images/mailopen.svg" width="20" />
                      </div>
                      <div class="col-md-11 namegrid">
                        <h5 class="mb-2">Reply to Address <small>*</small></h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      
                    </div>
                </div>
                <div class="col-sm-12  ">
                    <div class="buttonsaveCancel mb-3 w-100 d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn btn-secondary mx-2"
                       
                        >
                          Cancel
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary mx-2"
                         
                        >
                          Save
                      </button>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
  </div>
  