.bgviewconfig{
    padding-top: 2rem;
    padding-left: 2rem;
    border-radius: 0px 0px 8px 8px;
    margin: 0;
    // height: calc(60vh - 30px);
    background: var(--bgseperatelightcolor);
}

.primarylabel{
    color: var(--primaryColor);
    font-weight: 600;
    font-size: var(--semiBoldfont);
}

.cardcolumnconfig{
    background: var(--bgseperatelightcolor);
    border-radius: 8px;
    height: auto;
}
.form-control:focus,.form-control:active{
    border-color: #019d91;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(171 227 223);
  }
  
  .form-select:focus,.form-select:active{
    border-color: #019d91;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(171 227 223);
  }