<app-navbar [ngClass]="isLoggedIn === true ? 'd-block' : 'd-none'"></app-navbar>
<app-route-layout [ngClass]="isLoggedIn === true ? 'd-block' : 'd-none'"></app-route-layout>



<div class="row" >
  <router-outlet></router-outlet>
</div>
<footer [ngClass]="isLoggedIn === true ? 'd-block' : 'd-none'">
  <div class="col-12 d-flex">
    <div class="col-md-3 d-flex justify-content-start">
      <div class="col-md-3 d-flex align-items-center mx-3">
        <img src="./assets/images/languagegray.png" width="15" />
        <p class="mx-2">English</p>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="./assets/images/Helpgray.png" width="15" />
        <p class="mx-2">Help</p>
      </div>
    </div>
    <div class="col-md-9 pe-4 d-flex align-items-center justify-content-end">
      <div>
        <img src="./assets/images/Servion-logohd.png" width="100" />
      </div>
    </div>
  </div>
</footer>
