<!-- Body of the Module -->
<div class="container-body " style="margin: 0px 16px;">

  <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel===false">
    <div class="container-fluid">
      <ng-container *ngTemplateOutlet="collectionMainPage; context: {$implicit: masterData}"></ng-container>
    </div>
  </div>

  <div class="subfolderoverview" *ngIf="showTabPanel===true">
    <div (click)="$event.preventDefault()">
      <tabset #staticTabs>
        <tab heading="Collection">
          <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="showTabPanel">
            <div class="container-fluid">
              <ng-container *ngTemplateOutlet="collectionMainPage; context: {$implicit: masterData}"></ng-container>
            </div>
          </div>
        </tab>

        <tab *ngFor="let tab of tabList" [style]="{width:'100%'}" [heading]="tab.title" [active]="tab.active"
          (selectTab)="tab.active = true" (deselect)="tab.active = false" [disabled]="tab.disabled"
          [removable]="tab.removable" (removed)="removeTab(tab)" [customClass]="tab.customClass" [styleClass]="">

          <ng-template tabHeading #toltemplate>
            <!--place to show controls in tab header-->
          </ng-template>

          <ng-container *ngTemplateOutlet="overviewTemplate; context: {$implicit: tab.data}"></ng-container>
        </tab>
      </tabset>
    </div>
  </div>
</div>



<!-- Collection Main Page Templdate-->
<ng-template #collectionMainPage let-masterData>
  <div class="col-md-12 p-2 my-1 d-flex align-items-center">
    <div class="col-5 p-0 d-flex alig-items-center">
      <span class="double-icon" *ngIf="!showRootFolders" (click)="mainPageBackStep()"> <i class="pi icon-back pi-circle-fill"></i>
        <i class="pi icon-front pi-arrow-left"></i></span>
      <div class="form">
        <input type="text" [(ngModel)]="searchKey" class="form-control form-input" placeholder="Search File"
          (keydown.enter)="search()">
        <img src="./assets/images/clear.png" class="clearicon" *ngIf="searchKey!=''" (click)="searchKey='';search()">
        <span class="left-pan" (click)="search()">
          <img src="./assets/images/searchicon.png" class="ps-2" />
        </span>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-end p-0">
      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button"
          class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
          <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-custom-html">
          <div class="radiobuttons d-flex" *ngFor="let category of categories; let i = index"
            style="gap: 10px; padding: 8px">
            <div class="col-md-10 d-flex justify-content-start">
              <img src="{{category.img}}" width="24" height="24">
              <p>{{ category.name }}</p>
            </div>
            <div class="col-md-1">
              <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key" />
            </div>

          </div>

        </ul>
      </div>
      <button type="button" class="btn btn-outline-primary mx-3" (click)="clear();loadDataList()">
        <img class="button-icon-md" src="./assets/images/refresh-arrow.png" />Reload
      </button>

      <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
          aria-controls="dropdown-custom-html">
          <img src="./assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
        </button>

        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory" role="menu"
          aria-labelledby="button-custom-html">
          <button #openFile type="button"
            (click)="isEdit=false;  addEditCollectionPopup('open',addEditCollectionTemplate)" class="btn dd mx-1 "
            style="position: relative">
            <span class="button__icon">
              <img src="./assets/images/RB-dropdown.png" />
            </span>
            <p class="mx-3 button__text">New File</p>
          </button>

          <button type="button" (click)="isEdit=false; addEditFolderPopup('open',addEditFolderTemplate)"
            class="btn dd mx-1 " style="position: relative;">
            <span class="button__icon">
              <img src="./assets/images/RBF-dd.png" />
            </span>
            <p class="mx-3 button__text">New Folder</p>
          </button>
        </ul>
      </div>



    </div>
  </div>

  <div *ngIf="(dataNotFound() && !this.sharedService.showMainPageLoader)|| this.sharedService.showMainPageLoader"
    class="data-body d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div *ngIf="dataNotFound() && !this.sharedService.showMainPageLoader" class="no-records">
      <img src="./assets/images/norecordsfound.png" class="ms-2" width="300" />
      <span *ngIf="searchKey==''">No Data Found!</span>
      <span *ngIf="searchKey==''" class="underline-button"
        (click)="isEdit=false;addEditCollectionPopup('open',addEditCollectionTemplate)">Add New Collection</span>
      <span *ngIf="searchKey!=''">Search Not Found!</span>
    </div>
    <app-main-loader *ngIf="this.sharedService.showMainPageLoader"></app-main-loader>
  </div>

  <div class="col-md-12 p-3 d-flex">
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let folder of masterData.directoryList">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"
              (click)="isEdit=true;mapEditDirectory(folder);addEditFolderPopup('open',addEditFolderTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a>
            </li>
            <li role="menuitem"
              (click)="directory.id=folder.id;directory.name=folder.name;selectedDeletePopup='folder'; toggleDeleteModal('open',deleteModalTemplate)">
              <a class="dropdown-item">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onFolderClicked(folder)" style="cursor: pointer;">
        <img src="./assets/images/subfolder.svg" style="width: 70%;" />
        <h6 class="mt-2">{{folder.name}}</h6>
      </div>

    </div>
    <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let file of masterData.collectionList">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
            aria-controls="dropdown-basic">
            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="onCollectionFileClicked(file,true,true)">
                <img src="./assets/images/viewicon.svg" class="mx-3" width="20" /> Overview</a></li>
            <li role="menuitem"><a class="dropdown-item"
                (click)="isEdit=true;mapCollectionEditData(file);addEditCollectionPopup('open',addEditCollectionTemplate)">
                <img src="./assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="collection.id=file.id;
            collection.name=file.name; selectedDeletePopup='collection';toggleDeleteModal('open',deleteModalTemplate)">
                <img src="./assets/images/trash.svg" class="mx-3" width="20" />Delete</a></li>
          </ul>
        </div>
      </div>
      <div class="file" (click)="onCollectionFileClicked(file,true,true)" style="cursor: pointer;">
        <img src="./assets/images/Coll.png" style="width: 70%;" />
        <h6 class="mt-2">{{file.name}}</h6>
      </div>

    </div>
  </div>
</ng-template>

<!-- Collection overview Template-->
<ng-template #overviewTemplate let-collectionData>

  <div class="card mb-3">
    <div class="col-sm-12 d-flex">
      <div class="col-sm-6">
        <h5 class="my-2">Overview</h5>
      </div>
      <div class="col-sm-6 py-1 d-flex justify-content-end">
        <button (click)="isEdit=true;mapCollectionEditData(collectionData);addEditCollectionPopup('open',addEditCollectionTemplate)" type="button"
          class="btn btn-outline-primary mx-3">
          <img class="button-icon-md" src="./assets/images/editdashboard.png" width="20" />Edit
        </button>

      </div>
    </div>
    <div class="col-sm-12">
      <div class="cardcolumn py-2 mb-2" style="overflow: auto;">
        <div class="d-flex col-12">

        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Name <small>*</small></h5>
              <p class="my-1">{{collectionData.name}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Description</h5>
              <p class="my-1">{{collectionData.description}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Query</h5>
              <p class="my-1">{{collectionData.query}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created By</h5>
              <p class="my-1">{{collectionData.createdby}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Created Date</h5>
              <p class="my-1">{{sharedService.formatDate(collectionData.createddate)}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified by</h5>
              <p class="my-1">{{collectionData.modifiedby ?? 'NA'}}</p>
            </div>
          </div>
        </div>
        <div class="profiledetails card mx-3 my-2">
          <div class="col-12 d-flex px-3 py-2">
            <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
              <img src="./assets/images/description (1).png" width="36" />
            </div>
            <div class="col-md-11 namegrid">
              <h5 class="mb-2">Modified date</h5>
              <p class="my-1">{{collectionData.modifieddate!=null ?sharedService.formatDate(collectionData.modifieddate)
                :'NA'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- Add or Edit the folder/Directory Popup -->
<ng-template #addEditFolderTemplate>


  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">{{isEdit? 'Edit Folder':'New Folder'}}</h5>
    <button type="button" class="" (click)="addEditFolderPopup('close',addEditFolderTemplate)" aria-label="Close"
      style="border: none;background: none;outline: none;">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3 row">
      <label for="Folder" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="directory.name" type="text" placeholder="Create New Folder" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="directory.description" class="form-control" id="exampleFormControlTextarea1"
          rows="3"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="addEditFolderPopup('close',addEditFolderTemplate)">
      <i class="pi pi-times-circle"></i>Close</button>
    <button [disabled]="spinnerComponent==='storeDirectory'" type="button" class="btn btn-primary"
      (click)="storeDirectory()">
      <span *ngIf="spinnerComponent==='storeDirectory'" class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='storeDirectory'" class="pi pi-save mr-2"></i>
      {{isEdit ? 'Save':'Add'}}
    </button>
  </div>
</ng-template>

<!-- View collection values -->
<ng-template #collectionValuesTemplate>

  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Records</h5>
    <button (click)="collectionRecordsPopup('close',collectionValuesTemplate)"  type="button" class="" aria-label="Close" style="border: none;background: none;outline: none;">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">
    <!-- <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Key</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of collection.collectionvalues">
          <td>
             {{ data.id}}
          </td>
          <td>
            {{ data .value}}
          </td>
        </tr>
      </tbody>
    </table> -->

    <p-table [value]="collection.collectionvalues" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Key</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-value>
      <tr>
        <td>{{ value.id }}</td>
        <td>{{ value.key }}</td>
      </tr>
    </ng-template>

  </p-table>
    

  </div>
  <div class="modal-footer">
    <button (click)="collectionRecordsPopup('close',collectionValuesTemplate)"  type="button" class="btn btn-secondary" aria-label="Close">Close</button>

  </div>
</ng-template>

<!-- Add or edit the collection popup -->
<ng-template #addEditCollectionTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">{{isEdit?'Edit Collection : '+collection.name:'New Collection'}}
    </h5>
    <button type="button" class="" aria-label="Close"
      (click)="addEditCollectionPopup('close',addEditCollectionTemplate)"
      style="border: none; background: none; outline: none">
      <img src="./assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="col-md-12">
        <div class="steppercard">
          <div class="stepper-horizontal" id="stepper1">
            <div class="step editing">
              <div class="step-circle"><span>1</span></div>
              <div class="step-title">Basic Details</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>2</span></div>
              <div class="step-title">Query Configuration</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="basicDetails" *ngIf="currentStepperPage==='basic'">

          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name<small>*</small></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" [(ngModel)]="collection.name">
              <small class="text-danger error" *ngIf="showErrors && collection.name==''">Name is
                required</small>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea [(ngModel)]="collection.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>



        </div>
        <div class="configurations" *ngIf="currentStepperPage==='config'">

          <div class="mb-3 row">
            <label for="finputPassword" class="col-sm-3 col-form-label">Data Source
              Name<small>*</small></label>
            <div class="col-sm-9">
              <div class="card d-flex justify-content-center">
                <p-dropdown class="pl-0" styleClass="w-100" [options]="dataSourceList"
                  [(ngModel)]="collection.datasourceid" optionLabel="name" [filter]="true" filterBy="name"
                  [showClear]="true" placeholder="Select datasource" dataKey="id"
                  (onChange)="selectDataSource($event.value.id,$event.value.name)">

                  <ng-template pTemplate="filter" let-options="options">
                    <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                      <div class="p-inputgroup" (click)="$event.stopPropagation()">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input type="text" pInputText placeholder="Filter" />
                      </div>
                      <button pButton icon="pi pi-times"></button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div> <!-- Assuming you want to display the label -->
                    </div>
                  </ng-template>
                </p-dropdown>
                <div class="d-flex" *ngIf="selectedDataSource?.connecteddatasource!=''">
                  <span class="check-icon" *ngIf="selectedDataSource?.connecteddatasource!='none' ">
                    <small class="text-success">Connected to
                      {{selectedDataSource?.connecteddatasource==='primary'?'Primary':'Secondary'}}</small></span>
                  <span *ngIf="selectedDataSource?.connecteddatasource==='none'">
                    <small class="text-danger">Failed to connect Data Source</small>
                  </span>
                </div>
                <small class="text-danger error"
                  *ngIf="showErrors && (selectedDataSource?.connecteddatasource==='')">Data source
                  is required</small>
                <small class="text-danger error"
                  *ngIf="showErrors && (selectedDataSource?.connecteddatasource==='none')">Invalid
                  data source</small>
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="Description" class="col-sm-3 col-form-label">Query<small>*</small></label>
            <div class="col-sm-9">
              <textarea [(ngModel)]="collection.query" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <small class="text-danger error" *ngIf="showErrors && collection.query===''">Query is
                required</small>
              <div class="col-sm-12 d-flex align-items-center p-0 mr-2">
                <div [disabled]="spinnerComponent==='validateQuery'" (click)="validateCollectionQuery()" class="col-sm-6 d-flex align-items-center p-0">
                  <label class="col-form-label underline-button mr-3">Validate</label>

                  <div class=" d-flex align-items-center" 
                  *ngIf="spinnerComponent==='validateQuery'" >
                  <span class="spinner-border spinner-small mr-2"></span>
                  </div>

                  <div  *ngIf="collection.queryvalidation===''" class=" d-flex align-items-center">
                    <label for="radio-one">Pending</label>
                    <!-- <img style="padding-left:5px;width: 18px;height: 16px;"
                      src="./assets/images/checked.png"> -->
                  </div>

                  <div  *ngIf="collection.queryvalidation==='success'"  class=" d-flex align-items-center">
                    <label for="radio-one">Success</label>
                    <img style="padding-left:5px;width: 18px;height: 16px;"
                      src="./assets/images/checked.png">
                  </div>

                  <div  *ngIf="collection.queryvalidation==='failure'"  class=" d-flex align-items-center">
                    <label for="radio-one">Failure</label>
                    <img style="padding-left:5px;width: 18px;height: 16px;"
                      src="./assets/images/x-button.png">
                  </div>
                 
                </div>
                <div class="col-sm-6 d-flex justify-content-end p-0">
                    <label *ngIf="collection.queryvalidation==='success'" (click)="collectionRecordsPopup('open',collectionValuesTemplate)"  class="col-form-label mx-1 underline-button" >{{collection.collectionvalues.length}} Records<i class="pi pi-angle-double-right mx-1"
                        style="font-size: 16px"></i></label>

                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer col-md-12 d-flex justify-content-between ">
    <div class="col-md-2 d-flex justify-content-start  " >
      <button type="button" class="btn btn-secondary" (click)="backStep(1)" *ngIf="currentStepperPage==='config'">
        <i class="pi pi-chevron-circle-left mr-2"></i>
        Back
      </button>
    </div>
    <div class="col-md-9 d-flex justify-content-end ">


      <button   (click)="addEditCollectionPopup('close',addEditCollectionTemplate)" type="button"
        class="btn btn-outline-primary mr-2">
        <i class="pi pi-times-circle"></i>
        Close
      </button>
      
      <button [disabled]="spinnerComponent==='confignext'|| spinnerComponent==='basicnext'  " type="button" class="btn"
        [ngClass]="isEdit ?'btn btn-outline-primary mr-2':'btn btn-primary'" (click)="nextStep()"
        *ngIf=" currentStepperPage==='basic'">
        <span *ngIf="spinnerComponent==='confignext' || spinnerComponent==='basicnext' " class="spinner-border spinner-small  mr-2" [ngClass]="!isEdit?'text-white':''"></span>
        <i [hidden]="spinnerComponent==='confignext' || spinnerComponent==='basicnext' " class="pi pi-chevron-circle-right mr-2"></i>
        Next
      </button>
      <button [disabled]="spinnerComponent==='submitAddEditCollection'" type="button" class="btn btn-primary"
        (click)="storeCollection()" *ngIf="currentStepperPage==='config' || isEdit">
        <span *ngIf="spinnerComponent==='submitAddEditCollection'" class="spinner-border spinner-small text-white mr-2"></span>
        <i [hidden]="spinnerComponent==='submitAddEditCollection'" class="pi pi-save mr-2"></i>
        {{isEdit ? 'Save':'Submit'}}
      </button>


    </div>

  </div>
</ng-template>

<!--Delete Folder or file Modal-->
<ng-template #deleteModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation </h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the {{selectedDeletePopup==='folder'? 'directory' :'collection'}}
    <strong>{{ selectedDeletePopup==='folder'? directory.name :collection.name }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle "></i> Cancel</button>
    <button [disabled]="spinnerComponent==='deleteCollection' ||spinnerComponent==='deleteDirectory'  " type="button"
      class="btn btn-primary" (click)="selectedDeletePopup==='folder'? deleteDirectory(): deleteCollection()">
      <span *ngIf="spinnerComponent==='deleteCollection' || spinnerComponent==='deleteDirectory' "
        class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='deleteCollection' ||spinnerComponent==='deleteDirectory' "
        class="pi pi-trash mr-2"></i>Delete</button>
  </div>
</ng-template>

<!--tab confirmation Modal-->
<ng-template #tabConfirmationTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Tab Confirmation</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Tab is already exist for this collection <strong>{{collection.name}}</strong>!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
    <button type="button" class="btn btn-primary"
      (click)="onCollectionFileClicked(tabConfirmationModalRef,true,false)">Open Exist Tab</button>
    <button type="button" class="btn btn-primary"
      (click)="onCollectionFileClicked(tabConfirmationModalRef,false,false)">Add New Tab</button>
  </div>
</ng-template>