
  // sets

  $gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
  $gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
  $gl-sm         : "screen and (max-width: 48em)";   // max 768px
  $gl-md         : "screen and (max-width: 64em)";   // max 1024px
  $gl-lg         : "screen and (max-width: 80em)";   // max 1280px
  

:host ::ng-deep .p-tabview-nav-content{
    max-width: 18rem;
  }
  :host ::ng-deep .p-tabview-selected{
    background: yellow;
  }
  
  :host ::ng-deep .p-tabview-nav-link {
    padding: 8px !important;
    color: var(--borderColor);
  }

  :host::ng-deep .p-tabview-nav{
    margin-top: 8px;
    max-width: 10rem;
    border-bottom: 0.5px solid var(--borderColor);
  }


  :host::ng-deep .p-tabview-nav-link,:host::ng-deep .p-tabview-title,:host::ng-deep .p-tabview-nav>li{
    font-size: var(--tabnotactivefontSize) !important;
    text-decoration: none !important;
  }

  :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: var(--primaryColor) !important;
  font-size: var(--tabactivefontSize) !important;
  border-bottom: 2px solid var(--primaryColor) !important;
  }

  :host ::ng-deep .p-tabview .p-tabview-nav{
    gap: 10px;
  }

  .dashboardbtn{
    width: 12rem;
  }

// table style

table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:8px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:40px;
    background:var(--secondaryColor);
    font-size:var(--semiBoldfont);
    color: var(--infoColor);
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


@media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"Code";}
        &:nth-child(2):before { content:"Stock";}
        &:nth-child(3):before { content:"Cap";}
        &:nth-child(4):before { content:"Inch";}
        &:nth-child(5):before { content:"Box Type";}
      }        
    }
  }
}  	




// body style


.form{

    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    left: 15rem;
    bottom: 8px;
    padding: unset;
    border-left: 1px solid #d1d5db;

}

.clearicon{
    position: absolute;
    left: 13rem;
    bottom: 8px;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    text-indent: 6px;
    border-radius: 10px;
    width: 18rem;
}

.form-control:focus,.form-control:active{
  border-color: #019d91;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(171 227 223);
}



