.link {
    text-decoration: dashed !important;
    color: var(--primaryColor) !important;
    opacity: 0.8 !important;
    cursor: pointer !important;

}

.link:active {
    transform: translateY(0.075rem) !important;
    
}

.card {
    background-color: #ffffff !important;
}