<div class="col-md-12 d-flex justify-content-between align-items-center" style="height: 40px;">
    <div class="col-md-4 d-flex justify-content-start align-items-center">
        <img style="width:2rem" class="mr-2" [src]="title.imagesource" />
        <div class="title">
          {{title.name}}
        </div>
    </div>
    <div class="col-md-8 d-flex justify-content-end align-items-center">
        <a *ngFor="let r of directoryPaths" class="link pe-1"  (click)="onRouteClicked(r)"
        ><u>{{ r?.name }}</u> >
      </a>
    </div>
</div>