<div class="container-body">
  <div class="userbgdashboard px-3 m-2 pt-2 pb-2 " style="min-height: 75vh;">
    <div class="col-md-12 p-2 my-1 d-flex align-items-center">
      <div class="col-5 p-0">
        <div class="form">
          <input type="text" class="form-control form-input" [(ngModel)]="searchKey" placeholder="Search" (input)="search()">
          <img (click)="searchKey='';search()" src="./assets/images/clear.png" class="clearicon">
          <span class="left-pan">
            <img src="./assets/images/searchicon.png" class="ps-2" />
          </span>
        </div>
      </div>
      <div class="col-7 d-flex justify-content-end p-0">
        <div class="btn-group" dropdown>
          <button id="button-custom-html" dropdownToggle type="button"
            class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
            <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
          </button>

          <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-custom-html">
            <div class="radiobuttons d-flex" (click)="this.dataSourceList=_sharedService.sorting(dataSourceList,category.key,category.orderkey)" *ngFor="let category of _sharedService.sortCategoryList; let i = index"
              style="gap: 10px; padding: 8px">
              <div class="col-md-10 d-flex justify-content-start">
                <img src="{{category.img}}" width="24" height="24">
                <p>{{ category.name }}</p>
              </div>
              <div class="col-md-1">
                <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                  (change)="onRadioChange(category.key)" />
              </div>

            </div>

          </ul>
        </div>
        <button (click)="clear()" type="button" class="btn btn-outline-primary mx-3">
          <img src="./assets/images/refresh-arrow.png" />Reload
        </button>
        <button  type="button" (click)="isEdit=false;openAddEditPopup('open',addEditDatasourceTemplate)"
          class="btn btn-primary mx-1 primaryanimatebutton" 
          style="position: relative">
          <span class="button__icon">
            <img src="./assets/images/addnew.png" />
          </span>
          <p class="mx-3 button__text" style="color: white !important">New</p>
        </button>


      


      </div>
    </div>





    <div *ngIf="(dataSourceList.length<1 && !this._sharedService.showMainPageLoader)|| this._sharedService.showMainPageLoader"
     class="data-body d-flex justify-content-center align-items-center" style="min-height: 70vh; overflow-y: hidden;">
      <div *ngIf="dataSourceList.length<1 && !this._sharedService.showMainPageLoader" class="no-records">
        <img  style="filter: hue-rotate(-50deg)" src="./assets/images/norecordsfound.png" class="ms-2" width="300" />
         <span *ngIf="searchKey==''">No Data Found!</span>
         <span *ngIf="searchKey==''" class="underline-button" (click)="openAddEditPopup('open',addEditDatasourceTemplate)">Add New DataSource</span>
         <span *ngIf="searchKey!=''">Search Not Found!</span>
      </div>
      <app-main-loader *ngIf="this._sharedService.showMainPageLoader"></app-main-loader>
    </div>

    <div *ngIf="dataSourceList.length>0 && !this._sharedService.showMainPageLoader" class="col-md-12 card-deck">
    
      <div *ngFor="let data of dataSourceList;index as i" class=" card dataasourcecard p-1"
        [ngClass]="{'dataprimaryborder': borderprimaryActive === true}">
        <div class="col-md-12 ps-1 title d-grid pe-0">
          <div class="col-md-12 p-0 d-flex align-items-center">

            <div class="col-md-7 p-1 mt-2 m-0 d-flex justify-content-start">
              <p class="title me-2" style="font-weight: 600;">{{data.name}}</p>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <p-inputSwitch [(ngModel)]="data.enabled"  (onChange)="isEdit=true;
              toggleDataSourceStatus(data)"  class="p-switch pt-2" />
                <button class="btn btn-outline-primary" style="width: max-content !important;" (click)="
                testAllHostConnection(i)">
                  <!-- <i class="pi pi-bullseye pi-but"></i> -->
                  <span *ngIf="data.showTestSpinner" class="spinner-border spinner-small"></span>
                  <div class="d-flex justify-content-center" *ngIf="!data.showTestSpinner">
                    <span class="check-icon" *ngIf="data?.testresult?.data===true"> <i
                        class="pi pi-circle-fill text-success" style="font-size: 0.90em;"></i>
                      <span class=" position-absolute text-white"
                        style="font-size: 0.6em;">{{data?.connecteddatasource==='primary'?'P':'S'}}</span></span>
                    <span class="check-icon" *ngIf="data?.testresult?.data===null || !data?.testresult?.data"> <i
                        class="pi pi-circle-fill text-danger" style="font-size: 0.90em;"></i>
                      <i class="pi pi-times position-absolute text-white" style="font-size: 0.90em;"></i></span>
                  </div>
                  <!-- ll -->
                  Test
                </button>

              <div class="btn-group position-relative x-2 pr-3" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="infotoggle"
                  aria-controls="dropdown-basic">
                  <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">

                  <li role="menuitem">
                    <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center " >
                      <div class="mb-3 col-sm-3 d-flex p-0">
                        <img src="./assets/images/copy (1).png">
                      </div>
                      <div class="col-sm-8 d-flex p-0 ">
                        <p>Duplicate</p>
                      </div>

                    </a>
                  </li>
                  <li role="menuitem" (click)=" isEdit=true;mapEditedData(data);openAddEditPopup('open',addEditDatasourceTemplate)">
                    <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center ">
                      <div class="mb-3 col-sm-3 d-flex p-0">
                        <img src="./assets/images/pen.png">
                      </div>
                      <div class="col-sm-8 d-flex p-0">
                        <p>Edit</p>
                      </div>

                    </a>
                  </li>
                  <li role="menuitem" (click)="datasource.name=data.name;isEdit=true;mapEditedData(data);toggleDeleteModal('open',deleteModalTemplate)"
                   >
                    <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-start ">
                      <div class="mb-3 col-sm-3 d-flex p-0">
                        <img src="./assets/images/trash.png">
                      </div>
                      <div class="col-sm-8 d-flex  p-0">
                        <p>Delete</p>
                      </div>

                    </a>

                  </li>


                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-md-12 p-1">
            <div class="col-md-12 d-flex py-1 px-0 d-flex align-items-center">
              <div class="col-md-10">
                <p style="font-weight: 600;">{{data.type}}</p>
              </div>
              <div class="col-md-2 tooltip-container d-flex pe-0 justify-content-center">
                <span class="tooltip">Created date : {{_sharedService.formatDate(data.createddate)}}<br>Created by :
                  {{data.createdby}}<br>Modified date : {{_sharedService.formatDate(data.modifieddate)}}<br>Modified by
                  : {{data.modifiedby}}</span>
                  <i class="pi pi-info-circle pi-md bcol" ></i>
                <!-- <img class="text" src="./assets/images/action info.png" /> -->
              </div>
            </div>
            <div class="primarySecondary">
              <div class="col-md-12 p-0">
                <p-tabView (onSelect)="onTabSelected($event)">
                  <p-tabPanel header="Primary" [ngClass]="{'active-tab': isActive(0)}">

                    <div class="col md-12 d-grid p-0">
                      <div class="content d-grid">
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="./assets/images/databasec.png">Database name: <b
                            class="cardprimary">{{data.pridatabasename}}</b></label>
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="./assets/images/host.png">Host: <b
                            class="cardprimary">{{data.prihost+'-'+data.priport}}</b> </label>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Secondary" [ngClass]="{'active-tab': isActive(1)}">

                    <div class="col md-12 d-grid p-0">
                      <div class="content d-grid">
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="./assets/images/databasec.png">Database name: <b
                            class="cardsecondary">{{data.secdatabasename}}</b></label>
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="./assets/images/host.png">Host: <b
                            class="cardsecondary">{{data.sechost+'-'+data.secport}}</b> </label>
                      </div>

                    </div>
                  </p-tabPanel>

                </p-tabView>

                <!-- <div class="col-md-12 d-flex togglecard">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                      <label class="btn btn-primary" for="btnradio1">Primary</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                      <label class="btn btn-primary" for="btnradio2">Radio 2</label>
                    </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>


<ng-template #addEditDatasourceTemplate>
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{isEdit ? 'Edit Datasource' :'Add Datasource'}}</h5>
          <button type="button" class="" (click)="openAddEditPopup('close',addEditDatasourceTemplate)" data-bs-dismiss="modal" aria-label="Close"
            style="border: none; background: none; outline: none">
            <img src="./assets/images/popupclose.png" width="30" />
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="col-md-12">
              <div class="steppercard">
                <div class="stepper-horizontal" id="stepper1">
                  <div class="step editing">
                    <div class="step-circle"><span>1</span></div>
                    <div class="step-title">Basic Details</div>
                    <div class="step-bar-left"></div>
                    <div class="step-bar-right"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle"><span>2</span></div>
                    <div class="step-title">Data Source Configuration</div>
                    <div class="step-bar-left"></div>
                    <div class="step-bar-right"></div>
                  </div>
                  <!-- <div class="step">
              <div class="step-circle"><span>3</span></div>
              <div class="step-title">Contacts</div>
              <div class="step-optional">Optional</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>4</span></div>
              <div class="step-title">Reporting Info</div>
              <div class="step-optional">Optional</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div> -->
                </div>
              </div>

            </div>
            <div class="col-md-12">
              <div class="basicDetails" *ngIf="basicDetailspage===true">
                <div class="mb-3 row">
                  <label for="staticName" class="col-sm-2 col-form-label">Name<small>*</small></label>
                  <div class="col-sm-10">
                    <input type="text" [readOnly]="isEdit" [(ngModel)]="datasource.name" class="form-control"
                      id="staticName">
                    <small class="text-danger error" *ngIf="showErrors && datasource.name==''">Name is
                      required</small>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Type<small>*</small></label>
                  <div class="col-sm-10">
                    <div class="card d-flex justify-content-center">
                      <p-dropdown [options]="sqlLanguageTypes" [(ngModel)]="datasource.type" optionLabel="label"
                        [filter]="true" filterBy="label" [showClear]="true" placeholder="Select SQL Language Type"
                        styleClass="w-100" dataKey="value" (onChange)="datasource.type=$event.value===null?'':$event.value">
                        <ng-template pTemplate="filter" let-options="options">
                          <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                              <input type="text" pInputText placeholder="Filter" [(ngModel)]="sqlTypeSearchValue"
                                (keyup)="filterTypes($event, options)" />
                            </div>
                            <button pButton icon="pi pi-times"
                              (click)="sqlTypeSearchValue=''; filterTypes('', options)"></button>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                          <div class="d-flex align-items-center gap-2">
                            <div>{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                          </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item"> <!-- Corrected variable name -->
                          <div class="d-flex align-items-center gap-2">
                            <div>{{ item.label }}</div> <!-- Displaying the label of the item -->
                          </div>
                        </ng-template>
                      </p-dropdown>

                      <small class="text-danger" *ngIf="showErrors && datasource.type===''">Type is
                        required</small>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="Description" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <textarea [(ngModel)]="datasource.description" class="form-control"
                      id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>


              </div>
              <div class="configurations" *ngIf="configPage===true">
                <div class="col-md-12 d-flex justify-content-between align-items-center p-1">

                  <div class="switch-field col-md-4 p-0">
                    <input type="radio" class="primarycheck" id="radio-one" name="switch-one"
                      (change)="popupPrimarySelected=true" checked />
                    <label for="radio-one">Primary</label>
                    <input type="radio" id="radio-two" name="switch-one" (change)="popupPrimarySelected=false" />
                    <label for="radio-two">Secondary</label>
                  </div>

                  <div *ngIf="!popupPrimarySelected"
                    class="col-md-6 p-0 d-flex justify-content-end align-items-center">
                    <input type="checkbox" [checked]="datasource.failsafe"
                      (change)="datasource.failsafe=!datasource.failsafe" id="checkbox-two" name="switch-one"
                      value="no" class="mx-2" />
                    <label for="checkbox-two">Fail Safe</label>
                  </div>

                </div>
                <div class="container row primaryconfig">

                  <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Server Host<small>*</small></label>
                    <div class="col-sm-8" *ngIf="popupPrimarySelected">
                      <input autocomplete="off" type="text" class="form-control" id="priHost"
                        [(ngModel)]="datasource.primaryHost">
                      <small class="text-danger error" *ngIf="showErrors && datasource.primaryHost=='' ">Host is
                        required</small>
                    </div>
                    <div class="col-sm-8" *ngIf="!popupPrimarySelected">
                      <input autocomplete="off" type="text" class="form-control" id="secHost"
                        [disabled]="!popupPrimarySelected && !datasource.failsafe"
                        [(ngModel)]="datasource.secondaryHost">
                      <small class="text-danger error" *ngIf="showErrors && datasource.failsafe && datasource.secondaryHost==''">Host is
                        required</small>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Server Port<small>*</small></label>
                    <div *ngIf="popupPrimarySelected" class="col-sm-8">
                      <input autocomplete="off" type="number" class="form-control" id="priPassword"
                        [(ngModel)]="datasource.primaryPort">
                      <small class="text-danger error" *ngIf="showErrors && datasource.primaryPort==''">Port is
                        required</small>
                    </div>
                    <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                      <input autocomplete="off" type="number" class="form-control" id="secPassword"
                        [disabled]="!popupPrimarySelected && !datasource.failsafe"
                        [(ngModel)]="datasource.secondaryPort">
                      <small class="text-danger error" *ngIf="showErrors && datasource.failsafe &&  datasource.secondaryPort==''">Port is
                        required</small>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">User Name<small>*</small></label>
                    <div *ngIf="popupPrimarySelected" class="col-sm-8">
                      <input type="text" class="form-control" id="priUsername"
                        [(ngModel)]=" datasource.primaryUsername">
                      <small class="text-danger error"
                        *ngIf="showErrors && datasource.primaryUsername==''">Username is required</small>
                    </div>
                    <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                      <input type="text" class="form-control" id="secUsername"
                        [disabled]="!popupPrimarySelected && !datasource.failsafe"
                        [(ngModel)]=" datasource.secondaryUsername">
                      <small class="text-danger error"
                        *ngIf="showErrors &&datasource.failsafe &&  datasource.secondaryUsername==''">Username is required</small>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="priPassword" class="col-sm-4 col-form-label">Password<small>*</small></label>
                    <div *ngIf="popupPrimarySelected" class="col-sm-8">
                      <input autocomplete="new-password" type="password" class="form-control" id="priPassword"
                        [(ngModel)]=" datasource.primaryPassword">
                      <small class="text-danger error"
                        *ngIf="showErrors && datasource.primaryPassword==''">Password is required</small>
                    </div>
                    <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                      <input autocomplete="new-password" type="password" class="form-control" id="secPassword"
                        [disabled]="!popupPrimarySelected && !datasource.failsafe"
                        [(ngModel)]=" datasource.secondaryPassword">
                      <small class="text-danger error" *ngIf="showErrors &&datasource.failsafe &&  datasource.primaryHost==''">Password
                        is required</small>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Database Name<small>*</small></label>
                    <div *ngIf="popupPrimarySelected" class="col-sm-8">
                      <input type="text" class="form-control" id="priDatabase"
                        [(ngModel)]=" datasource.primaryDatabaseName">
                      <small class="text-danger error"
                        *ngIf="showErrors && datasource.primaryDatabaseName==''">Database Name is required</small>
                    </div>
                    <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                      <input type="text" class="form-control" id="secDatabase"
                        [disabled]="!popupPrimarySelected && !datasource.failsafe"
                        [(ngModel)]=" datasource.secondaryDatabaseName">
                      <small class="text-danger error"
                        *ngIf="showErrors && datasource.failsafe &&  datasource.secondaryDatabaseName==''">Database Name is
                        required</small>
                    </div>
                  </div>
                  <div class="mb-3 row d-flex">
                    <label class=" underline-button col-sm-3"  (click)="testSingleHostConnection()">Test Connection</label>

                  <div class="col-sm-1"></div>

                  
                  <div class="col-sm-1 d-flex align-items-center" 
                  *ngIf="(popupPrimarySelected && datasourcePriTestResult==='testing')||(!popupPrimarySelected && datasourceSecTestResult==='testing')" >
                    <span  class="spinner-border spinner-small"></span>
                  </div>

                  <div
                    *ngIf="(popupPrimarySelected && datasourcePriTestResult==='true')|| (!popupPrimarySelected && datasourceSecTestResult==='true')"
                     class="col-sm-6 d-flex align-items-center">
                    <label for="radio-one">Success</label>
                    <img style="padding-left:5px;width: 23px;height: 20px;"
                      src="./assets/images/checked.png">
                  </div>
                  <div
                    *ngIf="(popupPrimarySelected && datasourcePriTestResult==='false')|| (!popupPrimarySelected && datasourceSecTestResult==='false')"
                    class="col-sm-7 d-flex align-items-center">
                    <label for="radio-one">Failure</label>
                    <img style="padding-left:5px;width: 23px;height: 20px;"
                      src="./assets/images/x-button.png">

                  </div>

                  <!-- <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i> -->

                </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer col-md-12 d-flex justify-content-between ">
          <div class="col-md-2 d-flex justify-content-start  ">
            <button type="button" class="btn btn-outline-primary" (click)="backStep(1)" *ngIf="configPage===true">
              <i class="pi pi-chevron-circle-left"></i>
              Back
            </button>
          </div>
          <div class="col-md-9 d-flex justify-content-end ">
            <button (click)="openAddEditPopup('close',addEditDatasourceTemplate)" #close type="button" class="btn btn-outline-primary"
              >
              <i class="pi pi-times-circle"></i>
              Close
            </button>
            <button type="button" class="btn"
              [ngClass]="isEdit && basicDetailspage ?'btn btn-primary':'btn btn-primary'" (click)="nextStep()"
              *ngIf="basicDetailspage">
              <i class="pi pi-chevron-circle-right mr-2"></i>
              Next
            </button>
            <button [disabled]="spinnerComponent==='submitAddEditDataSource'" type="button" class="btn btn-primary" (click)="storeDataSource()"
              *ngIf="isEdit || configPage">
              <span *ngIf="spinnerComponent==='submitAddEditDataSource'" class="spinner-border spinner-small text-white mr-2"></span>
              <i [hidden]="spinnerComponent==='submitAddEditDataSource'" class="pi pi-save mr-2" ></i>
              {{isEdit ? 'Save':'Submit'}}
            </button>
          </div>

        </div>
</ng-template>

<ng-template #deleteModalTemplate let-datasource="datasource">
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the data source <strong>{{datasource?.name}}</strong>?
  </div>
  <div class="modal-footer">
    <button [disabled]="spinnerComponent==='deleteDataSource'" type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteDatasource()">
      <span *ngIf="spinnerComponent==='deleteDataSource'" class="spinner-border spinner-small text-white mr-2"></span>
      <i [hidden]="spinnerComponent==='deleteDataSource'" class="pi pi-trash mr-2"></i>Delete</button>
  </div>
</ng-template>