<div class="container-body">
    <div class="userbgdashboard px-3 m-2 pt-2 pb-2" *ngIf="tabsOverviewShow===false" >
      <div class="col-md-12 p-2 my-1 d-flex align-items-center">
        <div class="col-5 p-0">
          <div class="form">
            <input type="text" class="form-control form-input" placeholder="Search anything...">
            <img src="./assets/images/clear.png" class="clearicon">
            <span class="left-pan">
              <img src="./assets/images/searchicon.png" class="ps-2" />
            </span>
          </div>
        </div>
        <div class="col-7 d-flex justify-content-end p-0">
          <div class="btn-group" dropdown>
            <button id="button-custom-html" dropdownToggle type="button"
              class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
              <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
            </button>
  
            <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-custom-html">
              <div class="radiobuttons d-flex" *ngFor="let category of _sharedService.sortCategoryList; let i = index"
                style="gap: 10px; padding: 8px">
                <div class="col-md-10 d-flex justify-content-start">
                  <img src="{{category.img}}" width="24" height="24">
                  <p>{{ category.name }}</p>
                </div>
                <div class="col-md-1">
                  <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                    (change)="onRadioChange(category.key)" />
                </div>
  
              </div>
  
            </ul>
          </div>
          <button type="button" class="btn btn-outline-primary mx-3">
            <img src="./assets/images/refresh-arrow.png" />Reload
          </button>
          <button #open type="button" (click)="isEdit=false;openAddEditPopup()"
            class="btn btn-primary mx-1 primaryanimatebutton" data-bs-toggle="modal" data-bs-target="#addEditPopupModal"
            style="position: relative">
            <span class="button__icon">
              <img src="./assets/images/addnew.png" />
            </span>
            <p class="mx-3 button__text" style="color: white !important">New</p>
          </button>
  
  
          <!--Add/Edit Popup Modal -->
          <div class="modal fade" id="addEditPopupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">{{isEdit ? 'Edit Datasource' :'Add Datasource'}}</h5>
                  <button type="button" class="" (click)="closeAddEditPopup()" data-bs-dismiss="modal" aria-label="Close"
                    style="border: none; background: none; outline: none">
                    <img src="./assets/images/popupclose.png" width="30" />
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="col-md-12">
                      <div class="steppercard">
                        <div class="stepper-horizontal" id="stepper1">
                          <div class="step editing">
                            <div class="step-circle"><span>1</span></div>
                            <div class="step-title">Basic Details</div>
                            <div class="step-bar-left"></div>
                            <div class="step-bar-right"></div>
                          </div>
                          <div class="step">
                            <div class="step-circle"><span>2</span></div>
                            <div class="step-title">schedule Config</div>
                            <div class="step-bar-left"></div>
                            <div class="step-bar-right"></div>
                          </div>
                          <div class="step">
                            <div class="step-circle"><span>3</span></div>
                            <div class="step-title">Mail Config</div>
                            <!-- <div class="step-optional"></div> -->
                            <div class="step-bar-left"></div>
                            <div class="step-bar-right"></div>
                          </div>
                        
                        </div>
                      </div>
                     
  
                    </div>
                    <div class="col-md-12">
                      <div class="basicDetails" *ngIf="basicDetailspage===true">
                 
                        <div class="mb-3 row">
                          <label for="staticEmail"  class="col-sm-3 col-form-label">Name<small>*</small></label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="staticEmail" >
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="finputPassword" class="col-sm-3 col-form-label">Report Type<small>*</small></label>
                          <div class="col-sm-9">
                              <div class="card d-flex justify-content-center">
                                  <p-dropdown 
                                      [options]="countries"
                                      [(ngModel)]="selectedCountry"
                                      optionLabel="name"
                                      [filter]="true"
                                      filterBy="name"
                                      [showClear]="true"
                                      placeholder="Select a Country">
                                          <ng-template pTemplate="selectedItem" let-selectedOption>
                                              <div class="d-flex align-items-center gap-2">
                                                  <div>{{ selectedOption.name }}</div>
                                              </div>
                                          </ng-template>
                                          <ng-template let-country pTemplate="item">
                                              <div class="d-flex align-items-center gap-2">
                                                  <div>{{ country.name }}</div>
                                              </div>
                                          </ng-template>
                                  </p-dropdown>
                              </div>
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="Description" class="col-sm-3 col-form-label">Description</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                          </div>
                        </div>
                    
                        <div class="mb-3 row">
                          <label for="toggle" class="col-sm-3 col-form-label">Status</label>
                          <div class="col-sm-9">
                            <p-inputSwitch />     
                                               </div>
                        </div>
      
                    </div>
                    <div class="configurations"*ngIf="configPage===true">
                      <div class="col-md-12">
                        <div class="mb-3 row">
                          <label for="staticEmail"  class="col-sm-3 col-form-label">Scheduler Type</label>
                        </div>
                        <div class="mb-3 row">
                          
                            <div class="d-flex justify-content-between pe-0" style="gap: 10px;">
                              <div
                              class="radiobuttons d-flex switchFile"
                              *ngFor="let category of categories; let i = index"
                            >
                              <input
                                type="radio"
                                id="{{ 'radio-' + i }}"
                                name="radioGroup"
                                [value]="category.key"
                                (change)="onRadioChange(category.key)"
                              />
                              <p class="mx-2">{{ category.name }}</p>
                            </div>
                            </div>
                        <div class="oneTimeDate" *ngIf="oneTimescheduleEnabled===true">
                          <div class="fromDate">
                            <input type="text"
                            placeholder="From"
                            class="form-control dateinput my-2"
                            [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                            bsDatepicker>
                          </div>
                        </div>
                            <div class="recurringtime" *ngIf="recurssivescheduleenabled===true"> 
                              <div class="mb-3 d-flex">
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Minutes</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Hours</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Day of Month</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Month</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Day of the Week</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                                <div class="fromDate recurrsive">
                                  <label class="headingText">Year</label>
                                  <input type="text"
                                  placeholder="MM/DD/YYYY HH:MM::SS"
                                  class="form-control dateinput my-0"
                                >
                                <span class="footerText">Allowed Values(0-50)</span>
                                </div>
                              </div>
                              <div class="d-flex justify-content-end validate">
                                <a class="btn btn-secondary" >Validate</a>
                              </div>
                            </div>
                     
                        </div>
                      </div>
                   
                    </div>
                    <div class="inputparams" *ngIf="inputParameters===true">
                      
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-3 col-form-label">Recepient</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-3 col-form-label">Subject</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-3 col-form-label">Body</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
  
                </div>
                <div class="modal-footer col-md-12 d-flex justify-content-between ">
                  <div class="col-md-2 d-flex justify-content-start  ">
                    <button type="button" class="btn btn-outline-primary" (click)="backStep(1)" *ngIf="!basicDetailspage">
                      <i class="pi pi-chevron-circle-left"></i>
                      Back
                    </button>
                  </div>
                  <div class="col-md-9 d-flex justify-content-end ">
                    <!-- <button (click)="closeAddEditPopup()" #close type="button" class="btn btn-outline-primary"
                      data-bs-dismiss="modal">
                      <i class="pi pi-times-circle"></i>
                      Close
                    </button> -->
                    <button type="button" class="btn"
                      [ngClass]="isEdit && basicDetailspage ?'btn btn-outline-primary':'btn btn-outline-primary'" (click)="nextStep()"
                      *ngIf="!inputParameters">
                      <i class="pi pi-chevron-circle-right"></i>
                      Next
                    </button>
                    <button type="button" class="btn btn-primary" (click)="storeDataSource()"
                      *ngIf="inputParameters">
                      <i class="pi pi-save" style="margin-right: 5px;"></i>
                      {{isEdit ? 'Save':'Submit'}}
                    </button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
  
  
  
  
  
  
      <div class="col-md-12 card-deck">
        <div *ngFor="let data of dataSourceList" class=" card dataasourcecard p-1"
          [ngClass]="{'dataprimaryborder': borderprimaryActive === true}">
          <div class="col-md-12 ps-1 title d-grid pe-0">
            <div class="col-md-12 p-0 d-flex align-items-center">
  
              <div class="col-md-6 p-1 mt-2 m-0 d-flex justify-content-start">
                <p class="title me-2" style="font-weight: 600;">{{data.name}}</p>
                <p-inputSwitch [(ngModel)]="data.isEnable" />
              </div>
              <div class="col-md-5 d-flex justify-content-end">
                <div class="btn-group position-relative x-2" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="infotoggle"
                    aria-controls="dropdown-basic">
                    <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
  
                    <li role="menuitem">
                      <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center " >
                        <div class="mb-3 col-sm-3 d-flex p-0">
                          <img src="./assets/images/copy (1).png">
                        </div>
                        <div class="col-sm-8 d-flex p-0 ">
                          <p>Duplicate</p>
                        </div>
  
                      </a>
                    </li>
                    <li role="menuitem" (click)=" isEdit=true;mapEditedData(data);openAddEditPopup()"
                      data-bs-toggle="modal" data-bs-target="#addEditPopupModal">
                      <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center ">
                        <div class="mb-3 col-sm-3 d-flex p-0">
                          <img src="./assets/images/pen.png">
                        </div>
                        <div class="col-sm-8 d-flex p-0">
                          <p>Edit</p>
                        </div>
  
                      </a>
                    </li>
                    <li role="menuitem" (click)="dataSource.id=data.id;dataSource.name=data.name;toggleDeleteModal('open',deleteModalTemplate)"
                     >
                      <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-start ">
                        <div class="mb-3 col-sm-3 d-flex p-0">
                          <img src="./assets/images/trash.png">
                        </div>
                        <div class="col-sm-8 d-flex  p-0">
                          <p>Delete</p>
                        </div>
  
                      </a>
  
                    </li>
  
  
                  </ul>
                </div>
              </div>
            </div>
            <hr>

            <div class="col-md-12 d-grid align-items-center p-1">
                <div class="schedulerTitle my-1 d-flex algn-items-center col-sm-12 p-0">
                  <div class="col-md-7 d-flex align-items-center p-0">
                    <img class="me-2" src="./assets/images/schedulemail.svg" width="28" >
                    <p class="title agentcaller me-2">Agent Caller Details</p>
                  </div>
                  <div class="col-md-5 d-flex justify-content-end  ">
                    <!-- <button class="btn btn-primary-pending">Pending</button> -->
                    <button class="btn btn-primary-sent">Sent</button>
                  </div>
                
                </div>
                <div class="schedulerbody p-1 my-1 col-sm-9">
                  <p>Description will be shown here once the details has been given by the user</p>
                </div>
             
              
            </div>
            <hr>
            <div class="d-flex align-items-center">
              <div class="col-md-8 p-1 mt-2 m-0 d-flex justify-content-start">
                <div class="col-sm-">
                 <img src="./assets/images/event.svg" width="28" >
                </div>
                <div class="col-sm- scheduledon">
                 <span>Scheduled on</span>
                 <p class="d-flex align-items-center" >10-03-2024 06:07:08 <button class="btn btn-primary-oneTime" >One Time</button> </p>
                </div>
               </div>
               <div class="col-md-4 d-flex justify-content-end">
                <button
                type="button"
                class="viewprofile viewschedule d-flex p-2 align-items-center"
              >
                
                <p class="d-flex align-items-center"><i class="pi pi-eye mx-2" style="font-size: 1rem"></i>Overview</p>
              </button>
               </div>
            </div>
           

          </div>
        </div>
  
  
      </div>
  
  
    </div>
    <div class="subfolderoverview" *ngIf="tabsOverviewShow">
      <div (click)="$event.preventDefault()">
        <tabset #staticTabs>
          <tab heading="Report Builder">
            <div class="userbgdashboard px-3 m-2 pt-2 pb-2" >
              <div class="col-md-12 p-2 my-1 d-flex align-items-center">
                <div class="col-5 p-0">
                  <div class="form">
                    <input type="text" class="form-control form-input" placeholder="Search anything...">
                    <img src="./assets/images/clear.png" class="clearicon">
                    <span class="left-pan">
                      <img src="./assets/images/searchicon.png" class="ps-2" />
                    </span>
                  </div>
                </div>
                <div class="col-7 d-flex justify-content-end p-0">
                  <div class="btn-group" dropdown>
                    <button id="button-custom-html" dropdownToggle type="button"
                      class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
                      <img src="./assets/images/sortby.png" /> Sort by<span class="caret"></span>
                    </button>
          
                    <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
                      aria-labelledby="button-custom-html">
                      <div class="radiobuttons d-flex" *ngFor="let category of _sharedService.sortCategoryList; let i = index"
                        style="gap: 10px; padding: 8px">
                        <div class="col-md-10 d-flex justify-content-start">
                          <img src="{{category.img}}" width="24" height="24">
                          <p>{{ category.name }}</p>
                        </div>
                        <div class="col-md-1">
                          <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                            (change)="onRadioChange(category.key)" />
                        </div>
          
                      </div>
          
                    </ul>
                  </div>
                  <button type="button" class="btn btn-outline-primary mx-3">
                    <img src="./assets/images/refresh-arrow.png" />Reload
                  </button>
                  <button #open type="button" (click)="isEdit=false;openAddEditPopup()"
                    class="btn btn-primary mx-1 primaryanimatebutton" data-bs-toggle="modal" data-bs-target="#addEditPopupModal"
                    style="position: relative">
                    <span class="button__icon">
                      <img src="./assets/images/addnew.png" />
                    </span>
                    <p class="mx-3 button__text" style="color: white !important">New</p>
                  </button>
          
          
                  <!--Add/Edit Popup Modal -->
                  <div class="modal fade" id="addEditPopupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">{{isEdit ? 'Edit Datasource' :'Add Datasource'}}</h5>
                          <button type="button" class="" (click)="closeAddEditPopup()" data-bs-dismiss="modal" aria-label="Close"
                            style="border: none; background: none; outline: none">
                            <img src="./assets/images/popupclose.png" width="30" />
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <div class="col-md-12">
                              <div class="steppercard">
                                <div class="stepper-horizontal" id="stepper1">
                                  <div class="step editing">
                                    <div class="step-circle"><span>1</span></div>
                                    <div class="step-title">Basic Details</div>
                                    <div class="step-bar-left"></div>
                                    <div class="step-bar-right"></div>
                                  </div>
                                  <div class="step">
                                    <div class="step-circle"><span>2</span></div>
                                    <div class="step-title">scheduler Config</div>
                                    <div class="step-bar-left"></div>
                                    <div class="step-bar-right"></div>
                                  </div>
                                  <div class="step">
                                    <div class="step-circle"><span>3</span></div>
                                    <div class="step-title">Audit Config</div>
                                    <!-- <div class="step-optional"></div> -->
                                    <div class="step-bar-left"></div>
                                    <div class="step-bar-right"></div>
                                  </div>
                                
                                </div>
                              </div>
                             
          
                            </div>
                            <div class="col-md-12">
                              <div class="basicDetails" *ngIf="basicDetailspage===true">
                         
                                <div class="mb-3 row">
                                  <label for="staticEmail"  class="col-sm-3 col-form-label">Name<small>*</small></label>
                                  <div class="col-sm-9">
                                    <input type="text" class="form-control" id="staticEmail" >
                                  </div>
                                </div>
                                <div class="mb-3 row">
                                  <label for="finputPassword" class="col-sm-3 col-form-label">Report Type<small>*</small></label>
                                  <div class="col-sm-9">
                                      <div class="card d-flex justify-content-center">
                                          <p-dropdown 
                                              [options]="countries"
                                              [(ngModel)]="selectedCountry"
                                              optionLabel="name"
                                              [filter]="true"
                                              filterBy="name"
                                              [showClear]="true"
                                              placeholder="Select a Country">
                                                  <ng-template pTemplate="selectedItem" let-selectedOption>
                                                      <div class="d-flex align-items-center gap-2">
                                                          <div>{{ selectedOption.name }}</div>
                                                      </div>
                                                  </ng-template>
                                                  <ng-template let-country pTemplate="item">
                                                      <div class="d-flex align-items-center gap-2">
                                                          <div>{{ country.name }}</div>
                                                      </div>
                                                  </ng-template>
                                          </p-dropdown>
                                      </div>
                                  </div>
                                </div>
                                <div class="mb-3 row">
                                  <label for="Description" class="col-sm-3 col-form-label">Description</label>
                                  <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                                  </div>
                                </div>
                            
                             
              
                            </div>
                            <div class="configurations"*ngIf="configPage===true">
                              <div class="col-md-12">
                               
                              </div>
                           
                            </div>
                            <div class="inputparams" *ngIf="inputParameters===true">
              
                        
                            </div>
                            </div>
                          </div>
          
                        </div>
                        <div class="modal-footer col-md-12 d-flex justify-content-between ">
                          <div class="col-md-2 d-flex justify-content-start  ">
                            <button type="button" class="btn btn-outline-primary" (click)="backStep(1)" *ngIf="!basicDetailspage">
                              <i class="pi pi-chevron-circle-left"></i>
                              Back
                            </button>
                          </div>
                          <div class="col-md-9 d-flex justify-content-end ">
                            <!-- <button (click)="closeAddEditPopup()" #close type="button" class="btn btn-outline-primary"
                              data-bs-dismiss="modal">
                              <i class="pi pi-times-circle"></i>
                              Close
                            </button> -->
                            <button type="button" class="btn"
                              [ngClass]="isEdit && basicDetailspage ?'btn btn-outline-primary':'btn btn-outline-primary'" (click)="nextStep()"
                              *ngIf="!inputParameters">
                              <i class="pi pi-chevron-circle-right"></i>
                              Next
                            </button>
                            <button type="button" class="btn btn-primary" (click)="storeDataSource()"
                              *ngIf="inputParameters">
                              <i class="pi pi-save" style="margin-right: 5px;"></i>
                              {{isEdit ? 'Save':'Submit'}}
                            </button>
                          </div>
          
                        </div>
                      </div>
                    </div>
                  </div>
          
          
                </div>
              </div>
          
          
          
          
          
          
              <div class="col-md-12 card-deck">
                <div *ngFor="let data of dataSourceList" class=" card dataasourcecard p-1"
                  [ngClass]="{'dataprimaryborder': borderprimaryActive === true}">
                  <div class="col-md-12 ps-1 title d-grid pe-0">
                    <div class="col-md-12 p-0 d-flex align-items-center">
          
                      <div class="col-md-6 p-1 mt-2 m-0 d-flex justify-content-start">
                        <p class="title me-2" style="font-weight: 600;">{{data.name}}</p>
                        <p-inputSwitch [(ngModel)]="data.isEnable" />
                      </div>
                      <div class="col-md-5 d-flex justify-content-end">
                        <div class="btn-group position-relative x-2" dropdown>
                          <button id="button-basic" dropdownToggle type="button" class="infotoggle"
                            aria-controls="dropdown-basic">
                            <img src="./assets/images/Menu card.png" class="ms-2" width="20" />
                          </button>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          
                            <li role="menuitem">
                              <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center " >
                                <div class="mb-3 col-sm-3 d-flex p-0">
                                  <img src="./assets/images/copy (1).png">
                                </div>
                                <div class="col-sm-8 d-flex p-0 ">
                                  <p>Duplicate</p>
                                </div>
          
                              </a>
                            </li>
                            <li role="menuitem" (click)=" isEdit=true;mapEditedData(data);openAddEditPopup()"
                              data-bs-toggle="modal" data-bs-target="#addEditPopupModal">
                              <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-center ">
                                <div class="mb-3 col-sm-3 d-flex p-0">
                                  <img src="./assets/images/pen.png">
                                </div>
                                <div class="col-sm-8 d-flex p-0">
                                  <p>Edit</p>
                                </div>
          
                              </a>
                            </li>
                            <li role="menuitem" (click)="dataSource.id=data.id;dataSource.name=data.name;toggleDeleteModal('open',deleteModalTemplate)"
                             >
                              <a class="dropdown-item col-sm-12 d-flex justify-content-between align-items-start ">
                                <div class="mb-3 col-sm-3 d-flex p-0">
                                  <img src="./assets/images/trash.png">
                                </div>
                                <div class="col-sm-8 d-flex  p-0">
                                  <p>Delete</p>
                                </div>
          
                              </a>
          
                            </li>
          
          
                          </ul>
                        </div>
                      </div>
                    </div>
                    <hr>
        
                    <div class="col-md-12 d-grid align-items-center p-1">
                        <div class="schedulerTitle my-1 d-flex algn-items-center col-sm-12 p-0">
                          <div class="col-md-7 d-flex align-items-center p-0">
                            <img class="me-2" src="./assets/images/schedulemail.svg" width="28" >
                            <p class="title agentcaller me-2">Agent Caller Details</p>
                          </div>
                          <div class="col-md-5 d-flex justify-content-end  ">
                            <!-- <button class="btn btn-primary-pending">Pending</button> -->
                            <button class="btn btn-primary-sent">Sent</button>
                          </div>
                        
                        </div>
                        <div class="schedulerbody p-1 my-1 col-sm-9">
                          <p>Description will be shown here once the details has been given by the user</p>
                        </div>
                     
                      
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                      <div class="col-md-8 p-1 mt-2 m-0 d-flex justify-content-start">
                        <div class="col-sm-">
                         <img src="./assets/images/event.svg" width="28" >
                        </div>
                        <div class="col-sm- scheduledon">
                         <span>Scheduled on</span>
                         <p class="d-flex align-items-center" >10-03-2024 06:07:08 <button class="btn btn-primary-oneTime" >One Time</button> </p>
                        </div>
                       </div>
                       <div class="col-md-4 d-flex justify-content-end">
                        <button
                        type="button" (click)="overViewmanagement();"
                        class="viewprofile viewschedule d-flex p-2 align-items-center"
                      >
                         <p class="d-flex align-items-center "  ><i class="pi pi-eye mx-2" style="font-size: 1rem"></i>Overview</p>
                      </button>
                       </div>
                    </div>
                   
        
                  </div>
                </div>
          
          
              </div>
          
          
            </div>
            </tab>  
    
          <tab *ngFor="let tabz of tabs"
          [style]="{width:'100%'}"
               [heading]="tabz.title"
               [active]="tabz.active"
               (selectTab)="tabz.active = true"
               (deselect)="tabz.active = false"
               [disabled]="tabz.disabled"
               [removable]="tabz.removable"
               (removed)="removeTabHandler(tabz)"
               [customClass]="tabz.customClass"
               [styleClass]=""
               >
               
               <ng-template tabHeading  #toltemplate>
                <div class="btn-group" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                          aria-controls="dropdown-basic">
                          <img src="./assets/images/Menu card.png" class="ms-2" width="20"/>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">
                      <img src="./assets/images/pen.png" class="mx-3" width="20"/> Edit</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">
                      <img src="./assets/images/action info.png" class="mx-3" width="20"/> Info</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">
                      <img src="./assets/images/x-button.png" class="mx-3" width="20"/>Close</a></li>
    
                
                  </ul>
                  </div>
    
              </ng-template>
              <div class="card mb-3">
                <div class="col-sm-12 my-2 d-flex justify-content-between align-items-center  ">
                  <h5 class="my-2">Overview</h5>
                </div>
                <div class="col-sm-12">
                  <div class="cardcolumn py-2 mb-2"  style="overflow: auto;">
                    <div class="d-flex col-12">
                     
                    </div>
                    <div class="profiledetails card mx-3 my-2">
                      <div class="col-12 d-flex px-3 py-2">
                        <div
                          class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                          style="width: 5%"
                        >
                          <img src="./assets/images/description (1).png" width="36" />
                        </div>
                        <div class="col-md-11 namegrid">
                          <h5 class="mb-2">Name <small>*</small></h5>
                          <p class="my-1">Mohana Prasad</p>
                        </div>
                      </div>
                    </div>
                    <div class="profiledetails card mx-3 my-2">
                      <div class="col-12 d-flex px-3 py-2">
                        <div
                          class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                          style="width: 5%"
                        >
                        <img src="./assets/images/description (1).png" width="36" />
                        </div>
                        <div class="col-md-11 namegrid">
                          <h5 class="mb-2">Display Name <small>*</small></h5>
                          <p class="my-1">Mohana Prasad</p>
                        </div>
                      </div>
                    </div>
                    <div class="profiledetails card mx-3 my-2">
                      <div class="col-12 d-flex px-3 py-2">
                        <div
                          class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                          style="width: 5%"
                        >
                        <img src="./assets/images/description (1).png" width="36" />
                        </div>
                        <div class="col-md-11 namegrid">
                          <h5 class="mb-2">Group <small>*</small></h5>
                          <p class="my-1">Admin</p>
                        </div>
                      </div>
                    </div>
                    <div class="profiledetails card mx-3 my-2">
                      <div class="col-12 d-flex px-3 py-2">
                        <div
                          class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                          style="width: 5%"
                        >
                        <img src="./assets/images/description (1).png" width="36" />
                        </div>
                        <div class="col-md-11 namegrid">
                          <h5 class="mb-2">Phone Number <small>*</small></h5>
                          <p class="my-1">987643210</p>
                        </div>
                      </div>
                    </div>
                    <div class="profiledetails card mx-3 my-2">
                      <div class="col-12 d-flex px-3 py-2">
                        <div
                          class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                          style="width: 5%"
                        > 
                        <img src="./assets/images/description (1).png" width="36"  />
                        </div>
                        <div class="col-md-11 namegrid">
                          <h5 class="mb-2">Name <small>*</small></h5>
                          <p class="my-1">Mohana Prasad</p>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
    
              
          </tab>
        </tabset>
    
    </div>
  </div>
  
  <ng-template #deleteModalTemplate let-datasource="datasource">
    <div class="modal-header">
      <h5 class="modal-title">Delete Confirmation</h5>
      <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure want to delete the data source <strong>{{ datasource.name }}</strong>?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteDatasource()"><i class="pi pi-trash" style="margin-right: 5px;"></i>Delete</button>
    </div>
  </ng-template>