
.form{

    position: relative;
  }
  
  .form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
  
  }
  
  .form span{
    position: absolute;
    left: 15rem;
    bottom: 8px;
    padding: unset;
    border-left: 1px solid #d1d5db;
  
  }
  
  .clearicon{
    position: absolute;
    left: 13rem;
    bottom: 8px;
  }
  
  .left-pan{
    padding-left: 7px;
  }
  
  .left-pan i{
   
   padding-left: 10px;
  }
  
  .form-input{
    text-indent: 6px;
    border-radius: 10px;
    width: 18rem;
  }
  
  .form-control:focus,.form-control:active{
  border-color: #019d91;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(171 227 223);
  }
  
  .dataasourcecard{
    // width: 100%;
    margin: 8px !important;
    max-width: 32%;
    flex-basis:100% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  
  }
  .card-deck{
  padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
  .lastconnection{
  flex-wrap: wrap;width: 36%;
  }
  
  //toggleswitch
  
  /* To hide the checkbox */
  #checkboxInput {
    display: none;
  }
  
  .toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 24px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
  }
  
  #checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
  }
  /* Switch background change */
  #checkboxInput:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
  }
  
  .infotoggle{
    transform: rotate(90deg);
    top: -8px;
    right: -40px;
    display: flex;
    position: relative;
    margin: 8px 4px;
  }
  
  hr{
    border: 0.5px solid var(--borderColor);
    width: 95%;
  }
  .dataasourcecard{
    border-radius: 8px;
  }
  
  .dateStringprimary{
    padding: 8px;
    background: #bbd4df;
    border-radius: 4px;
    color: #0F79A5;
  }
  
  .cardprimary{
    color: #0F79A5;
  }
  .cardsecondary{
    color: #F16A1B;
  
  }
  
  .dateStringsecondary{
    padding: 8px;
    background: #FFDBD5;
    border-radius: 4px;
    color: #F16A1B;
  }
  
  .togglecard> [type=radio]:checked{
  visibility: hidden;
  }
  .togglecard> input > .btn-primary{
      background-color: var(--primaryColor) !important;
  } 
  .btn-primary{
    background-color: var(--primaryColor) !important;
    color: #fff !important;
  }
  .togglecard>[type=radio]:not(:checked){
    visibility: hidden;
  }
  
  .togglecard>[type=radio]:checked + label:before{
    display: none;
  }
  .togglecard>[type=radio]:not(:checked) + label:before{
    display: none;
  }
  
  
  //tooltip
  .tooltip-container {
  
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    // font-size: 17px;
    padding: 8px;
    border-radius: 50px;
  }
  
  .tooltip {
    background-color: var(--primaryColor);
    position: absolute;
    top: 0;
    width: max-content;
    color: #fff;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 20px;
  }
  
  .tooltip::before {
    background-color: var(--primaryColor) !important;
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    top: 0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
  }
  
  .tooltip-container:hover .tooltip {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  :host::ng-deep .p-tabview-nav{
    padding:8px 0px ;
  }
  :host ::ng-deep .p-tabview-nav-content{
    max-width: 18rem;
  }
  :host ::ng-deep .p-tabview-selected{
    background: rgb(255, 255, 239);
  }
  
  :host ::ng-deep .p-tabview-nav-link {
    padding: 8px !important;
    color: var(--borderColor);
  }
  
  :host::ng-deep .p-tabview-nav{
    margin-top: 8px;
    max-width: 10rem;
  }
  
  
  :host::ng-deep .p-tabview-nav-link,:host::ng-deep .p-tabview-title,:host::ng-deep .p-tabview-nav>li{
    font-size: var(--tabnotactivefontSize) !important;
    text-decoration: none !important;
  }
  
  // :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:nth-{
  //   background: var(--primaryColor) !important;
  // color: #fff !important;
  // font-size: var(--tabactivefontSize) !important;
  // border-radius: 4px;
  // }
  // :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:nth-child(1){
  //   background: #F16A1B !important;
  // color: #fff !important;
  // font-size: var(--tabactivefontSize) !important;
  // border-radius: 4px;
  // }
  
  
  :host ::ng-deep .p-tabview .p-tabview-nav{
    gap: 10px;
    padding-top: 0px;
    margin-top: 0px;
  }
  
  :host::ng-deep .p-tabview .p-tabview-nav li.p-highlight [tabindex="0"].p-tabview-nav-link{
    background: #0F79A5 !important;
  color: #fff !important;
  font-size: var(--tabactivefontSize) !important;
  border-radius: 4px;
  }
  :host::ng-deep .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    background: var(#fff) !important;
  color: var(--borderColor) !important;
  font-size: var(--tabactivefontSize) !important;
  border-radius: 4px;
  }
  
  :host::ng-deep .p-tabview .p-tabview-nav li.p-highlight [tabindex="-1"].p-tabview-nav-link{
    background: #F16A1B !important;
    color: #fff !important;
    font-size: var(--tabactivefontSize) !important;
    border-radius: 4px;
  }
  :host::ng-deep .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    background: #fff !important;
    color: var(--borderColor)!important;
    font-size: var(--tabactivefontSize) !important;
    border-radius: 4px;
  }
  
  :host::ng-deep .p-stepper {
    flex-basis: 40rem;
  } 
  
  
  
  .tab-content {
  transition: transform 0.3s ease-in-out;
  }
  
  .tab-pane.fade.show.active {
  transform: translateX(100%);
  }
  
  .tab-pane.fade.show.in {
  transform: translateX(0);
  }
  
  
  $fill-color: #019D91;
  $border-color: #D9E2EC;
  $text-color: #102A43;
  $text-color-inactive: #829AB1;
  $text-color-optional: #9FB3C8;
  
  .stepper-horizontal {
  display:table;
  width:100%;
    margin:0 auto;
    .step {
        display:table-cell;
        position:relative;
        padding:1.5rem;
        z-index: 2;
      width: 25%;
        &:last-child .step-bar-left,
        &:last-child .step-bar-right {
            display:none;
        }
  
        .step-circle {
            width:2rem;
            height:2rem;
            margin:0 auto;
            border-radius: 50%;
            text-align: center;
            line-height:1.75rem;
            font-size: 1rem;
            font-weight: 600;
            z-index:2;
            border: 2px solid $border-color;
        }
  
        &.done {
            .step-circle {
                background-color:$fill-color;
                border: 2px solid $fill-color;
                color:#FFFFFF;
  
                &:before {
                    font-family:'FontAwesome';
                    font-weight:100;
                    content: "\f00c";
                }
                * {
                    display:none;
                }
            }
            .step-title {
                color:$text-color;
            }
        }
  
        &.editing {
            .step-circle {
                background: #ffffff;
                border-color:$fill-color;
                color:$fill-color;
            }
            .step-title {
                color:$fill-color;
                text-decoration: none;
            }
        }
  
        .step-title {
            margin-top:1rem;
            font-size:1rem;
            font-weight:600;
        }
        .step-title, .step-optional {
            text-align: center;
            color: $text-color-inactive;
        }
        .step-optional {
            font-size:0.75rem;
            font-style: italic;
            color: $text-color-optional;
        }
  
        .step-bar-left, .step-bar-right {
            position:absolute;
            top:calc(2rem + 5px);
            height:5px;
            background-color: $border-color;
            border: solid $border-color;
            border-width: 2px 0;
        }
        .step-bar-left {
            width: calc(100% - 2rem);
            left:50%;
            margin-left:1rem;
            z-index:-1;
        }
        .step-bar-right {
            width:0;
            left:50%;
            margin-left:1rem;
            z-index:-1;
          transition: width 500ms ease-in-out;
        }
  
        // &.done .step-bar-left, &.editing .step-bar-left {
        //     background-color:$fill-color;
        //     border-color: $fill-color;
        //     z-index: 3;
        // }
        &.done .step-bar-right {
            background-color:$fill-color;
            border-color: $fill-color;
            z-index: 3;
            width: calc(100% - 2rem);
        }
    }
  }
  
  .testConn{
  display: flex;
  justify-content: flex-start;
  &:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  }
  
  .switch-field {
  display: flex;
  margin-bottom: 16px;
  overflow: hidden;
  }
  
  .switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  }
  
  .switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  }
  
  .switch-field label:hover {
  cursor: pointer;
  }
  
  .switch-field input:checked + label {
  background-color: #ffffff;
  box-shadow: none;
  }
  .switch-field input:checked + label::before{
  border: 0px solid !important;
  }
  .switch-field input:not(:checked) + label::before{
  border: 0px solid !important;
  }
  
  .switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  }
  
  .switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  }
  
  .dropdown-item{
  display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  .dropdown-item.active, .dropdown-item:active{
  background: #bbd4df !important;
  background-color: #bbd4df !important;
  
  }
  #dropdown-basic{
  width: 10vw !important;
  }
  
  .dataprimaryborder{
  border-bottom: 8px solid #0F79A5 !important;
  }
  .datasecondaryborder{
  border-bottom: 8px solid #F16A1B !important;
  }
  
  .dropdown-menu{
  width: 24rem !important;
  }
  
  label[for="flexCheckDefault"]{
  position: absolute !important;
  height: 24px;
  width: 24px;
  border: 1px solid var(--primaryColor);
  }
  
  
  
  :host::ng-deep p-dropdown{
  border: 1px solid var(--primaryColor) !important;
  padding: 8px;
  border-radius: 8px;
  }
  :host::ng-deep span.p-element.p-dropdown-label.p-inputtext.p-placeholder{
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  &:hover{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
  &:focus{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  } &:active{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  } &:target{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
  }
  
  :host::ng-deep .p-dropdown .p-component .p-inputwrapper .p-dropdown-clearable{
  box-shadow: none !important;
  border: 0px solid !important;
  outline: none !important;
  &:hover{
    box-shadow: none !important;
    border: 0px solid !important;
    outline: none !important;
  }
  &:focus{
    box-shadow: none !important;
    border: 0px solid !important;
    outline: none !important;
  } &:active{
    box-shadow: none !important;
    border: 0px solid !important;
    outline: none !important;
  } &:target{
    box-shadow: none !important;
    border: 0px solid !important;
    outline: none !important;
  }
  }
  .p-inputgroup-addon {
  border: 1px solid var(--primaryColor);
  background: white;
  border-right: 0px solid;
  }
  
  :host::ng-deep .p-inputgroup>input{
  width: 100%;
  padding-left: 8px;
    outline: none;
  }
  
  :host::ng-deep button.p-element.p-button.p-component.p-button-icon-only{
  background: #9ca3af;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 14px;
  margin-left: 14px;
  border: 0px solid;
  }
  
  :host::ng-deep .p-dropdown-items{
  padding: 8px;
  }
  
  :host::ng-deep{
    .p-inputswitch {
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        user-select: none;
    }
    .p-inputswitch .p-inputswitch-slider {
        border: 0 none;
    }
    .p-inputswitch .p-inputswitch-slider {
      background: #6b7280;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
        border-radius: 30px;
        width: 40px;
    height: 22px;
    }
    .p-inputswitch .p-component .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .p-inputswitch .p-inputswitch-slider:before {
        background: #ffffff;
        width: 1rem;
        height: 1rem;
        left: 0.25rem;
        margin-top: -0.5rem;
        border-radius: 50%;
        transition-duration: 0.2s;
    }
    .p-hidden-accessible input, .p-hidden-accessible select {
        transform: scale(0);
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        transform: translateX(1rem);
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: var(--primaryColor);
    }

    .p-element.p-icon-wrapper svg{
      position: absolute !important;
      top: 5px !important;
    }
    .p-dropdown{
      width: 100% !important;
    }
    .p-dropdown:not(.p-disabled).p-focus, .p-dropdown:not(.p-disabled):hover{
      border: 0px solid transparent !important;
      background: 0px solid transparent !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  
  /* Initial state: Hidden slightly above its natural position */
  .text-danger.error {
    transform: translateY(-20px); /* Adjust the value as needed */
    opacity: 0;
    transition: transform 0.3ms ease-in-out, opacity 1s ease-in-out;
  }
  
  /* Final state: Natural position with full opacity */
  .text-danger.error.ng-star-inserted {
    transform: translateX(-50%);
    transition: all 0.3s;
    opacity: 1;
  }
  
  .pi-md{
    font-size: 1.5rem;
  }
  
  .bcol{
    color: var(--primaryColor) !important;
  }
  
  .btn{
    margin-left: 6px;
  }
  
  .check-icon {
    font-size: 24px; /* Adjust size as needed */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  //datepicker
  
::ng-deep bs-datepicker-container.bottom{
  width: 22rem;
background: white !important;
z-index: 1111 !important;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 10px;
margin-left: 3rem;
}
::ng-deep .bs-datepicker-head{
  background: var(--primaryColor);
  padding: 8px;
}

::ng-deep bs-datepicker-navigation-view{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
::ng-deep bs-datepicker-navigation-view .previous,::ng-deep bs-datepicker-navigation-view .next{
background: white !important;
border-radius: 25px;
width: 30px;
height: 30px;
border: none !important;
outline: none !important;
color: var(--primaryColor) !important;
display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
}

::ng-deep bs-datepicker-navigation-view .previous>span,::ng-deep bs-datepicker-navigation-view .next>span{
  font-size: 30px;
    position: relative;
    top: -2px;
}

::ng-deep bs-datepicker-navigation-view .current{
  border: none !important;
  outline: none !important;
  background: none !important;
  color: white !important;
  font-size: 18px !important;
}

::ng-deep table.days.weeks{
  width: 100%;
}

::ng-deep td.week{
  color: var(--primaryColor);
}

::ng-deep td.week>span{
  padding: 4px;
}

::ng-deep th{
  color: #9aaec1;
  padding: 4px;
  font-weight: 300;
}

::ng-deep .bs-datepicker-body table td span.is-other-month{
  color: #00000040;
}

::ng-deep .bs-datepicker-body table.days span {
  justify-content: center;
  display: flex;
  width: 32px;
    height: 32px;
    line-height: 32px;
}

::ng-deep .bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected){
  background-color: #e9edf0;
  border-radius: 100%;
  transition: 0s;
}

::ng-deep .bs-datepicker-body table td:not(.disabled):not(.week) span:not(.disabled):not(.is-other-month) {
  cursor: pointer;
}

::ng-deep .bs-datepicker .bs-timepicker-in-datepicker-container{
  display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
}

::ng-deep .bs-datepicker-body {
  padding: 10px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #e9edf0;
}

::ng-deep .bs-chevron{
  color: var(--primaryColor);
}

.oneTime{
  
}

.recurrsive>.dateinput{
  width: 8rem !important;
}

.recurrsive>input::placeholder{
  font-size: clamp(6px, 8px + 12px, 8px);
}

.modal.show .modal-dialog{
  max-width: 69vw !important;
}
.validate>a{
  text-decoration: underline;
}