/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';


/* Normal weight, regular style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold weight, regular style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Medium weight, regular style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

/* Semibold weight, regular style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Regular weight, italic style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bold weight, italic style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* medium weight, italic style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
/* Semibold weight, ialic style */
@font-face {
  font-family: 'SCCAFonts';
  src: url('./assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}


:root{
    --fontFamily: 'SCCAFonts',sans-serif;
    --fontColor:#606B84;
    --lightTheme:#fff;
    --lightbgTheme:#F9FAFD;
    --darkTheme:#37474F;
    --primaryColor: #019D91;
    --primaryHoverColor: #289e94;
    --secondaryColor: #A6DDD8;
    --titleColor:#455A64;
    --infoColor:#232427;
    --successColor: #148579;
    --dangerColor:#F11B1B;
    --secondarydangerColor:#FFDBD5;
    --warningColor: #ffc107;
    --borderColor:#B5B5B7;
    --extraLargefont:clamp(42px, 4rem - 0.75rem, 58px); 
    --largeBoldfont:clamp(22px, 1rem + 1rem, 28px);
    --semiBoldfont:clamp(18px, 1rem + .75rem, 22px)
    --smallSizefont:clamp(14px, 1rem, 16px);
    --extrasmallSizefont:clamp(12px, 1rem - .75rem, 14px);
    --tabnotactivefontSize:clamp(10px,16px - 2px, 13px);
    --tabactivefontSize:clamp(14px, 1rem - .2rem, 17px);
    --inputBorderColor: #019D91;
    --inputboxShadow:#14857940 0px 4px 12px;
    --optionalColor:#EBEDF5;
    --bgseperateColor:#B5E1DD;
    --bgseperatelightcolor:#F6F6F6;
    --lightthemeboxshadow:0px 3px 0px #fff, 1px 1px 6px #e1e1e1;
    --yellowborder:#FFE07D;
    --violetborder:#B6B3D9;
    --filterbgColor:#F9FAFD;
    --pendingColor:#FFE07D;
    --yellowFont:#D8910C;
    --sentColor:#B7E6CC;
    --greenColor:#148545;
    --onetimeColor:#CACFE9;
    --blueColor:#0048B2;
    --recurrsiveColor:#FCD4FA;
    --purpleColor:#9E4D9A;
}

  // sets

  $gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
  $gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
  $gl-sm         : "screen and (max-width: 48em)";   // max 768px
  $gl-md         : "screen and (max-width: 64em)";   // max 1024px
  $gl-lg         : "screen and (max-width: 80em)";   // max 1280px
  


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body,
html {
  width: 100dvw !important;
  height: 100dvh !important;
  overflow-x: hidden;
  font-family: var(--fontFamily);
  scroll-behavior: smooth;
  background: #f9fafd;
}
input[type="text"]{
  text-indent: 4px;
}

.d-block{
display: block;
}
.d-none{
  display: none;
}

.container-body{
  margin-bottom: 3rem;
}
h4{
color: var( --infoColor);
font-weight: 600;
}

h5{
  font-size: var(--semiBoldfont);
  font-weight: 600;
  color: var(--infoColor);
}
h6{
  font-size: var(--smallSizefont);
  font-weight: 600;
  color: var(--infoColor);
  text-align: center;
}

.mainText{
  line-height: 1.4;
  transform: translate(8%, 65%);
  font-size: var(--extraLargefont);
  font-weight: 900;
  color: var(--infoColor);
}

.subtext{
  line-height: 1.4;
  transform: translate(8%, 125%);
  font-size: var(--extraLargefont);
  font-weight: 900;
  display: flex;
  color: var(--primaryColor);
}

.subtext>h1{
  line-height: 1.4;
  font-size: var(--extraLargefont);
  font-weight: 900;
  color: var(--infoColor);
}

.btn-outline-primary{
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 8px;
  display: flex !important;
  width: max-content !important;
  gap: 10px;
  justify-content: space-between !important;
  &:hover{
    background-color: var(--bgseperatelightcolor) !important;
    border: 2px solid var(--primaryColor);
    border-color:  var(--primaryColor);
    color: var(--primaryColor) !important;
    display: flex !important;
  width: max-content !important;
  justify-content: space-between !important;
  }
  &:active{
    background-color: var(--bgseperatelightcolor) !important;
    border: 1px solid var(--primaryColor);
    border-color:  var(--primaryColor);
    color: var(--primaryColor) !important;
    display: flex !important;
    width: max-content !important;
    justify-content: space-between !important;
  }
  &:focus{
    background-color: var(--bgseperatelightcolor) !important;
    border: 1px solid var(--primaryColor);
    border-color:  var(--primaryColor);
    color: var(--primaryColor) !important;
    box-shadow: none !important;
    display: flex !important;
  width: max-content !important;
  justify-content: space-between !important;
  }
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
  border: 1px solid var(--primaryColor) !important;
}

p{
  font-size: var(--smallSizefont);
  font-weight: 400;
  color: var(--fontColor);
}


form p{
    color: var(--borderColor);
    font-size: var(--smallSizefont);
}

form small{
    color: var(--dangerColor);
    font-size: var(--extrasmallSizefont);
}

.profiledetails{
  border: 0px solid;
  border-radius: 8px;
  box-shadow: #14857940 2px 2px 3px;;
}

.cardcolumn{
  background: var(--bgseperatelightcolor);
  border-radius: 8px;
}

.namegrid>h5{
  line-height: 1.5;
}

.namegrid>h5>small{
  color: var(--dangerColor);
  font-size: var(--extrasmallSizefont);
}

.description{
  color: var(--borderColor);
    font-size: var(--smallSizefont);
}

.login {
    margin: 20px auto;
    padding: 40px 50px;
    max-width: 400px;
    transform: translate(90%, 10%);
    border-radius: 40px;
    background: #fff;
    box-shadow: 1px 1px 1px #666;
}
.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 8px;
}

.login input[type="text"],
.login input[type="password"] {
  transition: 0.2s;
}

.login input[type="text"]:hover {
  border-color: var(--primaryColor);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login input[type="submit"] {
  border: none;
  background: var(--primaryColor);
  color: var(--lightTheme);
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  
}

.login input[type="submit"]:hover {
  background:var(--secondaryColor);
}

.login input[type="checkbox"] {
  display: none;
}

.imglogin{
    position: absolute;
    right: 65px;
    bottom: 75px;
}

.login h2 {
  margin: 20px 0 0;
  color: var(--infoColor);
  font-size: 28px;
}

input[type="text"]{
  border: 1px solid var(--primaryColor) ;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--borderColor);
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.bodybg {
  margin: 0;
  padding: 0;
  background: url('../src/assets/images/loginBackground.png') no-repeat;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


.vl{
border: .5px solid var(--borderColor);
}


@media screen and (max-width: 600px) {
  body {
    background-size: cover;
  }
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: var(--infoColor);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}
.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
h3 {
  margin: 0;
  padding: 0 0 20px;
  color: var(--titleColor);
  text-align: center;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
  color: #42f3fa;
  border: 1px solid #42f3fa;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2),
    0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
  border-bottom: 2px solid #42f3fa;
}

a:hover {
  color: #00ffff;
}


.toggletheme{
  cursor: pointer;
  transition: 200ms;
  transition-delay: 200ms;
}

.dark-theme {
  /* Add your specific dark theme styles here */
  background-color: #222;
  color: #fff;
}



@media screen and (min-width: 1024px){
  .navbar{
    z-index: 2 !important;
    height: 70px;
    background: var(--primaryColor);
    box-shadow: var(--inputboxShadow);
    }
}

.fadein img {
  position:absolute;
  //top:0;
  transform: translate(12%,100%);
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f2 {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

footer {
  background: var(--lightTheme);
  box-shadow: -1px 1px 5px #fff, 0px -4px 14px #c7c7c7;
  position: fixed;
  width: calc(100dvw - 15px);
  bottom: 0;
  box-sizing: border-box;
}


.container-body{
  background: var(--lightbgTheme);

}

.card,.card-body{
  border-radius: 8px;
}

.bgcover{
  border-radius: 8px 8px 0px 0px;
    margin: 0;
    height: calc(10rem - 30px);
  background: var(--bgseperateColor);
}
.bgview{
  padding-top: 9rem;
  padding-left: 36px;
  border-radius: 0px 0px 8px 8px;
    margin: 0;
    height: calc(60vh - 30px);
  background: var(--bgseperatelightcolor);
}

.cardcolumn{
  height: calc(82vh - 40px);
}

.bgProfile>.img{
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
  top: 65px;
  position: absolute;
  width: 130px;
  border-radius: 100px;
}

.viewprofile, .viewprofile>p{
  background: none;
  outline: none;
  border: none;
  &:hover{
    color: var(--inputBorderColor) !important;
  }
  &:focus{
    color: var(--inputBorderColor) !important;
  }
}


.imageuploaddetails{
  border: 1px solid var(--inputBorderColor);
  border-style: dashed;
}

.profileimg{
  background: var(--bgseperateColor);
  box-shadow: var(--inputboxShadow);
  padding: 8px 16px;
    border-radius: 8px;
}

.userdetailscard{
  border: 0px solid;
  box-shadow: var(--inputboxShadow);
}

.card{
  border: 0px solid;
}

.infotoggle{
  background: none;border: none; outline: none;
}

//buttons

button.btn.dd.mx-1{
  border: 0px solid;
  outline: 0px solid;
  &:focus{
    border: 0px solid;
  outline: 0px solid;
  box-shadow: none;
  }
  &:hover{
    border: 0px solid;
  outline: 0px solid;
  box-shadow: none;
  }
  &:active{
    border: 0px solid;
    outline: 0px solid;
    box-shadow: none;
  }
}

.newcategory{
  position: absolute;
  left: -52px !important;
}

.btn-primary{
  background: var(--primaryColor);
  border: none;
  outline: none;
  border-radius: 8px;
  &:hover{
    border: none;
    outline:none;
    background: var(--primaryHoverColor);
  }
}

dd{
  color: var(--borderColor) !important;
  &:hover{
    color: var(--primaryColor) !important;
  }
}

.dropdown-toggle-dd>ul{
  width: 13rem !important;
  transform: translate(-4rem, 3px)!important;
  position: absolute;
}
.dropdown-toggle-dd {
  white-space: nowrap;
  
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
  border-radius: 4px !important;
}
// 
// .primaryanimatebutton {
//   position: relative;
//   width: 7rem;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   border: 1px solid var(--inputBorderColor);
//   background-color: var(--primaryColor);
// }

// .primaryanimatebutton, .button__icon, .button__text {
//   transition: all 0.9s;
// }

// .primaryanimatebutton .button__text {
//   transform: translateX(30px);
//   color: #fff;
//   font-weight: 600;
// }

// .primaryanimatebutton .button__icon {
//   position: absolute;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


// .primaryanimatebutton:hover {
//   background: var(--primaryHoverColor);
// }

// .primaryanimatebutton:hover .button__text {
//   color: transparent;
// }

// .primaryanimatebutton:hover .button__icon {
//   width: 5.5rem;
//   transform: translateX(0);
// }
// .primaryanimatebutton:hover .button__text {
//   width: 0rem;
//   opacity: 0;
//   transform: translateX(0);
// }

// .primaryanimatebutton:active .button__icon {
//   background-color: var(--primaryHoverColor);
// }

// .primaryanimatebutton:active {
//   border: 1px solid var(--inputBorderColor);
// }

.form-control,.form-select{
  border: 1px solid var(--inputBorderColor) !important;
  &::placeholder{
    color: #B5B5B7 !important;
    font-size: 400 !important;
  }
}


.btn-primary:focus{
  background-color: var(--primaryColor);
  border-color: var(--primaryHoverColor);
  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);
}

.btn-primary:active{
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryHoverColor) !important;
  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);

}

.btn{
  display: flex;
  align-items: center;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryHoverColor) !important;
  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);
}

.btn-secondary{
  background: var(--lightTheme);
  border: none;
  outline: none;
  color: var(--primaryColor);
  margin-left: 8px;
  margin-right: 8px;
  &:hover{
    border: none;
    outline:none;
    color: var(--primaryColor);

    background: var(--bgseperatelightcolor);
  }
}
.btn-secondary:focus{
  background-color: var(--bgseperatelightcolor);
  // border-color: var(--primaryHoverColor);
  color: var(--primaryColor);
  
  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);
}

.btn-secondary:active{
  background-color: var(--bgseperatelightcolor) !important;
  // border-color: var(--primaryHoverColor) !important;
  color: var(--primaryColor);

  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);

}



.btn-secondary:not(:disabled):not(.disabled):active{
  background-color: var(--bgseperatelightcolor) !important;
  // border-color: var(--primaryHoverColor) !important;
  color: var(--primaryColor);
  box-shadow: 0 0 0 .2rem rgb(58 168 86 / 29%);
}

.btn-outline-primary-success{
  background: var(--secondaryColor) !important;
  border: 1px solid var(--primaryColor) !important;
  cursor: unset !important;
  color: var(--primaryColor);
  font-weight: 600;
  width: 6rem;
    display: flex;
    justify-content: center;
  &:hover{
    background: var(--secondaryColor) !important;
    border: 1px solid var(--primaryColor) !important;
    cursor: unset !important;
    color: var(--primaryColor);
  }
  &:active{
    background: var(--secondaryColor) !important;
    border: 1px solid var(--primaryColor) !important;
    cursor: unset !important;
    color: var(--primaryColor);
  }
  &:focus{
    background: var(--secondaryColor) !important;
    border: 1px solid var(--primaryColor) !important;
    box-shadow: none !important;
    cursor: unset !important;
    color: var(--primaryColor);
  }

}

.btn-outline-primary-danger{
  position: relative;
  background: var(--secondarydangerColor) !important;
  border: 1px solid var(--dangerColor) !important;
  cursor: unset !important;
  color: var(--dangerColor);
  font-weight: 600;
  width: 6rem;
    display: flex;
    justify-content: center;
  &:hover{
    background: var(--secondarydangerColor) !important;
    border: 1px solid var(--dangerColor) !important;
    cursor: unset !important;
    color: var(--dangerColor);
  }
  &:active{
    background: var(--secondarydangerColor) !important;
    border: 1px solid var(--dangerColor) !important;
    cursor: unset !important;
    color: var(--dangerColord);
  }
  &:focus{
    background: var(--secondarydangerColor) !important;
    border: 1px solid var(--dangerColor) !important;
    box-shadow: none !important;
    cursor: unset !important;
    color: var(--dangerColor);
  }

  .badge{
    position: absolute;
    top: -12px;
    right: -16px;
  }
}

.btn-primary-pending{
  width: max-content;
  font-size: small;
  background: var(--pendingColor) !important;
  border: 1px solid var(--yellowborder) !important;
  cursor: unset !important;
  color: var(--yellowFont);
  font-weight: 600;
  height: 28px;
    display: flex;
    justify-content: center;
  &:hover{
    background: var(--pendingColor) !important;
    border: 1px solid var(--yellowborder) !important;
    cursor: unset !important;
    color: var(--yellowFont);
  }
  &:active{
    background: var(--pendingColor) !important;
    border: 1px solid var(--yellowborder) !important;
    cursor: unset !important;
    color: var(--yellowFont);
  }
  &:focus{
    background: var(--pendingColor) !important;
    border: 1px solid var(--yellowborder) !important;
    cursor: unset !important;
    color: var(--yellowFont);
}
}

.btn-primary-sent{
  width: max-content;
  font-size: small;
  background: var(--sentColor) !important;
  border: 1px solid var(--sentColor) !important;
  cursor: unset !important;
  color: var(--greenColor);
  font-weight: 600;
  height: 28px;
    display: flex;
    justify-content: center;
  &:hover{
    background: var(--sentColor) !important;
    border: 1px solid var(--sentColor) !important;
    cursor: unset !important;
    color: var(--greenColor);
  }
  &:active{
    background: var(--sentColor) !important;
    border: 1px solid var(--sentColor) !important;
    cursor: unset !important;
    color: var(--greenColor);
  }
  &:focus{
    background: var(--sentColor) !important;
    border: 1px solid var(--sentColor) !important;
    cursor: unset !important;
    color: var(--greenColor);
}
}

.btn-primary-oneTime{
  width: max-content;
  font-size: clamp(8px, 10px + 12px, 10px);
  background: var(--onetimeColor) !important;
  border: 1px solid var(--onetimeColor) !important;
  cursor: unset !important;
  color: var(--blueColor);
  font-weight: 600;
    display: flex;
    height: 28px;
    justify-content: center;
  &:hover{
    background: var(--onetimeColor) !important;
    border: 1px solid var(--onetimeColor) !important;
    cursor: unset !important;
    color: var(--blueColor);
  }
  &:active{
    background: var(--onetimeColor) !important;
    border: 1px solid var(--onetimeColor) !important;
    cursor: unset !important;
    color: var(--blueColor);
  }
  &:focus{
    background: var(--onetimeColor) !important;
    border: 1px solid var(--onetimeColor) !important;
    cursor: unset !important;
    color: var(--blueColor);
}
}

.btn-primary-recurrsive{
  width: max-content;
  font-size: small;
  background: var(--recurrsiveColor) !important;
  border: 1px solid var(--recurrsiveColor) !important;
  cursor: unset !important;
  color: var(--purpleColor);
  font-weight: 600;
  height: 28px;
    display: flex;
    justify-content: center;
  &:hover{
    background: var(--recurrsiveColor) !important;
    border: 1px solid var(--recurrsiveColor) !important;
    cursor: unset !important;
    color: var(--purpleColor);
  }
  &:active{
    background: var(--recurrsiveColor) !important;
    border: 1px solid var(--recurrsiveColor) !important;
    cursor: unset !important;
    color: var(--purpleColor);
  }
  &:focus{
    background: var(--recurrsiveColor) !important;
    border: 1px solid var(--recurrsiveColor) !important;
    cursor: unset !important;
    color: var(--purpleColor);
}
}

input[type="checkbox"],input[type="checkbox"]:checked {
  background-color: var(--primaryColor) !important;
  color: white;
  accent-color:var(--primaryColor) !important;
}

//tabs

.nav-tabs .nav-item{
  max-width: 12rem;
  margin-left: 2px;
}

.nav-tabs{
  position: relative;
  z-index: 1;
  width: 90%;
}

.nav-link{
  display: flex;
    align-items: baseline;
}

.nav-tabs .nav-item .nav-link>span{
    overflow: hidden;
    position: relative;
    font-size: var(--tabnotactivefontSize);
    // display: flex;
    display: inline-block;
    // white-space: pre;
    padding-left: 1rem;
    // text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  background-color: var(--bgseperatelightcolor);
  color: var(--fontColor);
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active>span{
  font-size: var(--tabactivefontSize) !important; 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus-visible,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:active:target{
  color: var(--primaryColor) !important;
}

.userbgdashboard{
  background: var(--lightTheme);
  border-radius: 8px;
  box-shadow: var(--lightthemeboxshadow);
  // height: calc(96vh - 20vh);

}

.folder{
  border: 1px dashed var(--yellowborder);
  height: 11rem;
  width: 10rem;
  padding: 2rem;
  &:hover{
    background: var(--optionalColor);
    border: 0px solid;
  }
}

.folder-file{
  border: 1px dashed var(--violetborder);
  height: 11rem;
  width: 10rem;
  padding: 2rem;
  position: relative;

  &:hover{
    background: var(--optionalColor);
    border: 0px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 4px;

  }
}

.Collection-file{
  border: 1px dashed var(--dangerColor);
  height: 11rem;
  width: 10rem;
  padding: 2rem;
  position: relative;

  &:hover{
    background: var(--optionalColor);
    border: 0px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 4px;
  }
}
.Report-file{
  border: 1px dashed var(--primaryColor);
  height: 11rem;
  width: 10rem;
  padding: 2rem;
  position: relative;
  &:hover{
    background: var(--optionalColor);
    border: 0px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 4px;
  }
}

.file{
  gap: 10px;
  display: grid;
  text-align-last: center;
  color: var(--infoColor);
  place-items: center;
}

.innercircle{
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  background: #c4beec;
  display: flex;
  align-items: center;
  place-content: center;
}

.widgetadd{
  border: 1px dashed #6a5acd;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 1rem;
  place-content: center;
}
.widgetadd1{
  border: 1px dashed #6a5acd;
  height: 100%;
  padding: 1rem;
  place-content: center;
}

.splitterCard{
  width: 100%;
  // height: calc(60vh - 20px);
  background: var(--bgseperatelightcolor);


}

.editDashboard{
  width: 100%;
  height: 100%;
  background: var(--bgseperatelightcolor);
  display: flex;
  align-items: center;
  place-items: center;
}

.widgetForm{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.widgetForm>div{
  gap: .5rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: relative;
    accent-color: var(--primaryColor) !important;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
  
    cursor: pointer;
 
    display: inline-block;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: relative;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    background: var(--primaryColor);
    position: relative;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label{
  color: var(--primaryColor) !important;
}
[type="radio"]:checked + p{
  color: var(--primaryColor) !important;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.subfolder{
  width: 20vh;
  margin: 1.5rem 0rem;
}

#chartdiv>div svg{
  width: 100% !important;
  height: 34vh !important;
  margin-top: 8px;

}

.divheader>span{
  align-items: center;
    display: grid;
}

.datasourcetypelabel{
  gap: 10px;
  font-size: small;
  align-items: center;
  font-weight: 600;
}

.modal.show .modal-dialog{
  max-width: 55vw;
}

.modal-content {
  max-height: 90vh;
  overflow: auto; /* Enables scrolling if needed */
}


.modal-body{
  background: url('../src/assets/images/Popupbg.png') no-repeat;
  backface-visibility: visible;
    background-position: left;
    background-size: cover;
    max-height: 90vh;
    overflow-y: auto; /* Enables vertical scrolling within the modal body */
}

.modal-body>.card{
  background: transparent;
}

.col-form-label{
  font-size: var(--semiBoldfont);
}

.customcontainer{
  position: relative;
  background-color: #fff !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 4px;
  min-width: 14rem;
  cursor: pointer;
  &:hover{
    background-color: #fdfdfd !important;
    box-shadow: 0 0 0 0.25rem rgb(155 193 255 / 24%);
    cursor: pointer;
  }
}

.userscont{
    flex-wrap: wrap;
    flex-basis: max-content;
}

//filtersection
.collapse.show,.secondaryAccordion{
  transition: max-height 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  
}
.collapse,.secondaryAccordion{
  transition: max-height 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.secondaryAccordion{
  background: var(--filterbgColor);
  padding: 8px;
  display: flex;
  align-items: center;
  margin: 0px 8px 8px 0px;
    border-radius: 8px;
    gap: 10px;
}
.dateinput{
  position: relative;
  text-indent: 0px;
  padding-right: 16px;
  margin:0px 8px;
  box-sizing: border-box;
  background-size: 20px;
  background: url(./assets/images/event.svg) no-repeat right;
  background-color: var(--lightTheme);
  width: 12rem;
  // background-size: 20px;
}

.fromDate > input[type="text"]{
padding-right: 2rem;
font-size: clamp(13px, 1rem + .5rem,13px);
}

.schedulerbody p{
  font-style: italic;
  font-size: clamp(11px, 16px + 6px, 13px);
}

.scheduledon{
  line-height: 1;
  margin-left: 8px;
}

.scheduledon span{
  font-style: italic;
  font-size: clamp(9px, 14px + 4px, 11px);
}
.scheduledon p{
  font-style:normal;
  width: max-content;
  font-size: clamp(9px, 14px + 4px, 11px);
}

.viewschedule{
  font-size: clamp(8px,12px + 14px, 12px);
}

.agentcaller{
  color:var(--infoColor);
  font-weight: 600;
}

.switchFile{
  width: 100%;
  border: 1px dashed var(--primaryColor);
  padding: 12px;
  border-radius: 8px;
  margin: 8px;
}

.headingText{
  font-size: clamp(8px,12px + 14px, 12px);
}
.footerText{
  font-size: clamp(7px,11px + 13px, 11px);
  font-style: italic;
}

.check-icon {
  font-size: 24px; /* Adjust size as needed */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.no-records{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: larger;
  color: var(--primaryColor);
  flex-direction: column;
}

.underline-button{
  cursor: pointer !important;
  text-decoration: underline;
  color:var(--primaryColor);
  font-size: small !important;
  font-weight: 600 !important;
  
}

.spinner-small{
  color: var(--primaryColor);
  width: 1.3rem !important;
  height: 1.3rem !important;
}


.double-icon{
  font-size: 24px; /* Adjust size as needed */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}

.double-icon .icon-back{
   color:var(--primaryColor);
   opacity:0.6;
   font-size: 1.5em;
   &:hover{
    opacity: 1;
   }
}

.double-icon .icon-front{
  color:white;
  position:absolute;
   font-size: 0.8em;
}

.pcolor{
  color:var(--primaryColor);
}

.icon-cover {
  position: relative;
    font-size: 20px;
    background-color: var(--primaryColor);
    color: white;
    width: 40px;
    cursor: pointer;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    border: 0.2rem solid var(--primaryColor);
    border-radius: 5px;
    text-align: center;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    box-sizing: border-box;
}
.icon-cover:after {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 50%;
  right: 50%;
  background: white;
  content: '';
}
.icon-cover:before,
.icon-cover:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon-cover:hover:after,
.icon-cover:active:after,
.icon-cover.hover:after {
  left: 0;
  right: 0;
}

.chip-light{
  background: var(--bgseperateColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.chip-base{
  background: var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color:white
}