<div class="col-12">
  <div class="card userdetailscard">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body p-0">
              <div class="bgcover"></div>
              <div class="bgProfile">
                <div class="img">
                  <img src="./assets/images/User.svg" class="w-100" />
                  <h5 class="my-1">Mohana Prasad</h5>
                  <p class="my-1">User</p>
                </div>
                <div class="bgview">
                  <div class="col-12 d-flex justify-content-between">
                    <div
                      class="d-flex"
                      width="75"
                      (click)="tabview(0)"
                      [ngClass]="!isButtonRounded ? 'profileimg' : ''"
                      style="cursor: pointer; width: 90%"
                    >
                      <img
                        src="./assets/images/profileimage.png"
                        width="40"
                      />
                      <p class="my-1 mx-3">Profile</p>
                    </div>
                  </div>
                  <div class="col-12 my-3 d-flex justify-content-between">
                    <div
                      class="d-flex"
                      width="75"
                      (click)="tabview(1)"
                      [ngClass]="isButtonRounded ? 'profileimg' : ''"
                      style="cursor: pointer; width: 90%"
                    >
                      <img
                        src="./assets/images/organization.png"
                        width="40"
                      />
                      <p class="my-1 mx-3">Organization</p>
                    </div>
                  </div>

                  <div class="col-12 my-3 d-flex justify-content-between">
                    <a
                      routerLink="/login"
                      class="d-flex my-1"
                      style="text-decoration: none"
                    >
                      <img src="./assets/images/logout.svg" class="ms-2" />
                      <p class="p-2">Logout</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 profileColumn" *ngIf="!isButtonRounded">
          <div class="cardcolumn py-2">
            <div class="d-flex col-12">
              <div class="col-12 d-flex">
                <div class="col-md-5 d-flex">
                  <button
                    type="button"
                    class="viewprofile d-flex p-2 align-items-center"
                  >
                    <i class="pi pi-eye mx-2" style="font-size: 1rem"></i>
                    <p>View Profile Image</p>
                  </button>
                </div>
                <div class="col-md-7"></div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/name profile.svg" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Name <small>*</small></h5>
                  <p class="my-1">Mohana Prasad</p>
                </div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/name profile.svg" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Display Name <small>*</small></h5>
                  <p class="my-1">Mohana Prasad</p>
                </div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/Group 1237.png" width="30" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Group <small>*</small></h5>
                  <p class="my-1">Admin</p>
                </div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/phonenumber.png" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Phone Number <small>*</small></h5>
                  <p class="my-1">987643210</p>
                </div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/mailopen.png" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Name <small>*</small></h5>
                  <p class="my-1">Mohana Prasad</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-9 OrganizationColumn" *ngIf="isButtonRounded">
          <div class="cardcolumn py-2">
            <div class="d-flex col-12">
              <div class="col-12 d-flex align-items-center pe-4">
                <div class="col-md-3 d-flex">
                  <button
                    type="button"
                    class="viewprofile d-flex p-2 align-items-center"
                  >
                    <i class="pi pi-eye mx-2" style="font-size: 1rem"></i>
                    <p>View Profile Image</p>
                  </button>
                </div>
                <div class="col-md-9 d-flex mx-2 justify-content-end">
                  <button
                    type="button"
                    class="viewprofile d-flex p-2 align-items-center"
                  >
                    <i class="pi pi-pencil mx-2" style="font-size: 1rem"></i>
                    <p>Edit Organization</p>
                  </button>
                </div>
                <!-- 
                            <div class="card d-flex justify-content-center">
                                <p-button (click)="showDialog()" label="Show" />
                                <p-dialog 
                                    header="Header" 
                                    [modal]="true" 
                                    [(visible)]="visible" 
                                    [style]="{ width: '50rem' }" 
                                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
                                    [maximizable]="true">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                </p-dialog>
                            </div> -->
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/name profile.svg" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Name <small>*</small></h5>
                  <p class="my-1">Mohana Prasad</p>
                </div>
              </div>
            </div>
            <div class="profiledetails card mx-3 my-2">
              <div class="col-12 d-flex px-3 py-2">
                <div
                  class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                  style="width: 5%"
                >
                  <img src="./assets/images/name profile.svg" width="20" />
                </div>
                <div class="col-md-11 namegrid">
                  <h5 class="mb-2">Display Name <small>*</small></h5>
                  <p class="my-1">Mohana Prasad</p>
                </div>
              </div>
            </div>
            <div class="imageuploaddetails card mx-3 my-2">
              <div class="card"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
